<%= form_with(model: image_event, local: true) do |form| %>
  <% if image_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_event.errors.count, "error") %> prohibited this image_event from being saved:</h2>

      <ul>
      <% image_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
