<p id="notice"><%= notice %></p>

<h1>Image Events</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_events.each do |image_event| %>
      <tr>
        <td><%= image_event.image %></td>
        <td><%= image_event.event %></td>
        <td><%= link_to 'Show', image_event %></td>
        <td><%= link_to 'Edit', edit_image_event_path(image_event) %></td>
        <td><%= link_to 'Destroy', image_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image Event', new_image_event_path %>
