<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_event.image %>
</p>

<p>
  <strong>Event:</strong>
  <%= @image_event.event %>
</p>

<%= link_to 'Edit', edit_image_event_path(@image_event) %> |
<%= link_to 'Back', image_events_path %>
