@font-face {
  font-family: 'Fredoka One';
  src: url('<%= asset_url('FredokaOne-Regular.eot') %>');
  src: url('<%= asset_url('FredokaOne-Regular.eot') %>?#iefix') format('embedded-opentype'),
  url('<%= asset_url('FredokaOne-Regular.woff2') %>') format('woff2'),
  url('<%= asset_url('FredokaOne-Regular.woff') %>') format('woff'),
  url('<%= asset_url('FredokaOne-Regular.ttf') %>') format('truetype'),
  url('<%= asset_url('FredokaOne-Regular.svg') %>#FredokaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:"COCOGOOSE";
  src:url("<%= asset_url ('Cocogoose_trial.eot') %>?") format("eot"),
  url("<%= asset_url ('Cocogoose_trial.woff') %>") format("woff"),
  url("<%= asset_url ('Cocogoose_trial.ttf') %>") format("truetype"),
  url("<%= asset_url ('Cocogoose_trial.svg') %>#COCOGOOSE") format("svg");
  font-weight:normal;
  font-style:normal;
}
html{
  min-height: 100vh;
}
body{
  font-family: 'Fredoka One';
  min-height: 100%;
}
body::-webkit-scrollbar{
  display: none;
}
main{
  position: relative;
  min-height: 200vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.halal{
  position: absolute;
  bottom: 0rem;
  left:20px;
  width:100px;
  z-index: 10;
}
.home-bg1 {
    position: absolute;
    top: -18rem;
    right: 10rem;
    width: 50%;
    opacity: 0;
}
.home-bg2 {
  position: absolute;
  top: -12vh;
  right: 23vw;
  width: 35%;
  opacity:0;
}
.home-person {
  position: absolute;
  bottom: -3rem;
  right: 18rem;
  width: 30%;
  /* z-index: -1; */
  opacity: 0;
}
}
.home-product {
  position: absolute;
  bottom: 0rem;
  left: 10rem;
  width: 25%;
  opacity:0;
}
.home-bg3 {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  opacity:0;
  z-index: 0;
}
.img-fluid{
  max-width: 100%;
}
.img100percent{
  width:100%;
}
.height100percent{
  height: 100%;
}
.FredokaOne{
  font-family: 'Fredoka One';
}
.COCOGOOSE{
  font-family: 'COCOGOOSE';
}
.home{
  position: relative;
  min-height: 100vh;
  height: 100vh;
  opacity: 0;
  /* background-image: url('./asset/static/backgroundbanner.png'); */
  /* background-image: url('./asset/static/backgroundbanner-may-2019.jpg'); */
  background-image: url('<%= asset_url('static/home/home-bg.jpg') %>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
.shadowtop{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  z-index:10;
}
.shadowyellow{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  z-index:10;
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  z-index:5;
  width:100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.contenthome,.contenthomeslide{
  position: relative;
  min-height: 100vh;
  z-index:20;
  height: 100%;
}
.logo img{
  max-width: 170px;
}
.iden{
  list-style: none;
  color: #fff;
  font-family: 'COCOGOOSE';
  margin-top: -8%;
  padding-left: 50px;
}
.iden li{
  float:left;
}
.iden li {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .3em;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  border-bottom: .1em solid transparent;
  line-height: .8;
}

.iden li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .3em;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  border-bottom: .1em solid transparent;
  line-height: .8;
}
.iden li:not(:last-child) {
  margin-right:10px;
  border-right:1px solid white;
  padding-right:7px;
}
.headermenu{
  position: fixed;
  z-index: 100;
  padding: 20px;
  max-width: 100vw;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1390px;
  margin: 0 auto;
}

.bg-yellow{
  position: fixed;
  z-index: -1;
  max-width: 100vw;
  right: 0;
  left: 0;
  background: #005da2;
  height: 53px;
  top: 0;
  border-bottom: 4px solid white;
}
.mainmenu{
  list-style: none;
  color: #fff;
  font-family: 'COCOGOOSE';
}
.mainmenu{
  margin-top:-5%;
}
.mainmenu li{
  position: relative;
  text-align: center;
  float:left;
}

.mainmenu li:not(:last-child){
  margin-right:25px;;
}
.mainmenu li ul{
  padding-top:5px;
  position: absolute;
  top:100%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.mainmenu li:hover ul,
.mainmenu li a:hover ul{
  opacity: 1;
  visibility: visible;
  height: auto;
}
.mainmenu li li{
  float:none;
  margin-right: 0;
  text-align: left;
}
.mainmenu li a{
  position: relative;
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .3em;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  border-bottom:.1em solid transparent;
}
.mainmenu > li > a:after{
  content: "";
  display: inline-block;
  position: absolute;
  left: -.2em;
  z-index: 1;
  bottom: -.5em;
  box-shadow: 0 0 3px transparent;
  width: 100%;
  height: 1px;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  border-bottom: .1em solid transparent;
}
.mainmenu > li > a.active:after,.mainmenu > li:hover > a:after{
  box-shadow: 0 0 3px #333;
  border-bottom: .1em solid #1964af;
}
.bg-yellow.h-150x{
  height: 170px !important;
}
.bg-yellow.h-110x{
  height: 110px !important;
}
.bg-yellow.h-120x{
  height: 120px !important;
}
.menusecond .mainmenu a{
  text-shadow:0px 0px 10px rgba(0,0,0,0.8);
}
.mainholiday{
  min-height: 100vh;
  font-family: 'Fredoka One';
  text-transform: uppercase;
  letter-spacing: .3em;
}
.mainholiday h1{
  font-size: 3rem;
}
.d-table-cell.middle{
  vertical-align: middle;
  text-align:center;
}
.d-table-cell.middle a {
  vertical-align: middle;
  text-align:center;
  text-shadow: 0 0rem .55rem rgba(0, 0, 0, 0.175);
}
.discoverproduct{
  animation-duration: 2s;
  position: absolute;
  padding: 0;
  bottom: 30px;
  width: 100%;
}
.discoverproduct > .hero-body{
  padding:0;
}
.naanimation{
  animation-duration: 1.4s;
}
.discoverproduct h2{
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: .9rem;
  font-size: 300;
  text-shadow: 0 0rem 0.45rem rgba(0, 0, 0, 0.675);
}
.discoverproduct h3{
  font-size: 3rem;
  font-weight: normal;
}
.discoverproduct a:hover{
  text-decoration: none;
}
.socmed{
  position: fixed;
  top:0;
  right:0;
  z-index:25;
  height: 100vh;
  padding:0 15px;
}
.socmed2{
  top:20%;
}
.socmedmobile a,.socmed a{
  text-decoration: none;
  color:#fff;
  font-size: 1.8rem;
  line-height: 1.3;
}
.socmedmobile > .d-table > .d-table-cell > a:not(:last-child){
  margin-right: 15px;
}
#contentsection{
  /* background-color: #009caf; */ /** Tiramisu ? **/
  /* background-color: #eab929; */
  background-color: #ffd400;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  min-height: 100vh;
  height: 100%;
  margin:0;
  padding:0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorPurlple{
  background-color: rgb(238,58,82);
  background-image: url('./asset/static/jujube/bgbigjujube.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorMelon{
  background-color: #77b493;
  background-image: url('./asset/static/honeydew/bgbighoneydew.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorChocolate{
  background-color: #672221;
  background-image: url('./asset/static/ccv/bgbigccv.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorMilkshake{
  background-color: #faf182;
  background-image: url('./asset/static/bgbigvms.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorChocolateMalt{
  background-color: #eab929;
  background-image: url('./asset/static/ccm/bgbigccm.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorChocolatBlueberry{
  background-color: #be4194;
  background-image: url('./asset/static/ccb/bgbigccb.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorTiramisu{
  background-color: #009caf;
  background-image: url('./asset/static/tms/bgbiglotms.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorBelgian{
  background-color: #ad702e;
  background-image: url('./asset/static/cbc/bgbiglocbc.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorSweetCorn{
  background-color: #8ece7b;
  background-image: url('./asset/static/sc/bgbigsc.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#contentsection.BgColorBlueBerry{
  background-color: #99abfc;
  background-image: url('./asset/static/bb/bgbigloccb.png');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.content:not(:last-child) {
  margin-bottom: 0px;
}
.imgfooter{
  position: fixed;
  bottom: 0px;
  left:0;
  width: 100vw;
  z-index:21;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.copyright{
  bottom: 0;
  left: 0;
  width: 100vw;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 300;
  text-align: center;
  z-index:22;
  letter-spacing: 2px;
}
.footermenu{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 15px 15px 15px;
  line-height: 1;
}
.footermenu a{
  text-transform: uppercase;
  text-decoration: none;
  color:#3273dc;
  display: inline-block;
}
.footermenu > a:not(:last-child){
  padding-right:29px;
  border-right: 1px solid #3273dc;
}
.footermenu > a:not(:first-child){
  padding-left:30px;
}
.z-index10{
  z-index:21;
}
.headermenucontent{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  z-index:30;
}
.nanas{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  z-index:1;
  min-height: 100vh;
}
/* .bgslider3 {
position: absolute;
top: 14vh;
right: 6vw;
} */

@media (max-width: 1925px){
  .nanas1{
    position: absolute;
    height: 200px;
    top: 20vh;
    left:0;
  }
  .nanas2{
    position: absolute;
    height: 220px;
    bottom: 20vh;
    left:10vw;
  }
  .nanas3{
    position: absolute;
    height: 150px;
    top: 15vh;
    left:13vw;
  }
  .nanas4{
    position: absolute;
    height: 240px;
    bottom: 20vh;
    right:30vw;
  }
  .nanas5{
    position: absolute;
    height: 150px;
    top: 20vh;
    right:17vw;
  }
  .nanas6{
    position: absolute;
    height: 200px;
    bottom: 0px;
    right: 10vw;
    z-index: 1;
  }
  .nanas7{
    position: absolute;
    right: 0;
    top:30px;
    width:200px;
  }
  .nanas8{
    position: absolute;
    height: 150px;
    top: 15vh;
    left:20vw;
  }
  .jujube{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    z-index:1;
    min-height: 100vh;
  }
  .wrapjujube{
    position: relative;
    width: 100vw;
    z-index:1;
    min-height: 100vh;
  }
  .jujube1{
    position: absolute;
    bottom: -2vh;
    left: 0;
  }
  .jujube2{
    position: absolute;
    height: 330px;
    top: 30vh;
    left: 7vw;
  }
  .jujube3{
    position: absolute;
    top: 12vh;
    left: 20vw;
  }
  .jujube4{
    position: absolute;
    bottom: 5vh;
    right: 0vw;
  }
  .jujube5{
    position: absolute;
    top: 10vh;
    right: 5vw;
  }
  .honeydew1{
    position: absolute;
    height: 380px;
    bottom: 0;
    left: 0;
  }
  .honeydew2{
    position: absolute;
    top: 18vh;
    left: 5vw;
  }
  .honeydew3{
    position: absolute;
    height: 260px;
    top: 35vh;
    right: 15vw;
  }
  .honeydew4{
    position: absolute;
    bottom: -3vh;
    right: 11vw;
  }
  .honeydew5{
    position: absolute;
    height: 230px;
    bottom: 20vh;
    right: 0vw;
  }
  .ccv1{
    position: absolute;
    top: 20vh;
    left: 5vw;
  }
  .ccv2{
    position: absolute;
    top: 50vh;
    left: 15vw;
  }
  .ccv3{
    position: absolute;
    bottom: 0;
    left: 25vw;
  }
  .ccv4{
    position: absolute;
    bottom: 5vh;
    right: 7vw;
  }
  .ccv5{
    position: absolute;
    height: 120px;
    top: 22vh;
    right: 13vw;
  }
  .ccv6{
    position: absolute;
    top: 10vh;
    right: 0vw;
  }
  .vm{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .ccm1{
    position: absolute;
    bottom: 15vh;
    left: 0;
  }
  .ccm2{
    position: absolute;
    height: 220px;
    top: 20vh;
    left: 5vw;
  }
  .ccm3{
    position: absolute;
    bottom: 15vh;
    left: 20vw;
  }
  .ccm4{
    position: absolute;
    height: 100px;
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .ccm5{
    position: absolute;
    bottom: 5vh;
    right: 0vw;
  }
  .ccb1{
    position: absolute;
    bottom: 3vh;
  }
  .ccb2{
    position: absolute;
    top: 18vh;
    left: 15vw;
  }
  .ccb3{
    position: absolute;
    bottom: 3vh;
    right: 25vw;
  }
  .ccb4{
    position: absolute;
    height: 240px;
    top: 20vh;
    right: 11vw;
  }
  .ccb5{
    position: absolute;
    height: 200px;
    bottom: 15vh;
    right: 11vw;
  }

  .sc1{
    position: absolute;
    bottom: 30vh;
    left: 0;
  }
  .sc2{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 22vw;
  }
  .sc3{
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    height: 100px;
  }
  .sc4{
    position: absolute;
    height: 100px;
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .sc5{
    position: absolute;
    bottom: 5vh;
    right: 0vw;
  }
  .sc-new {
    position: absolute;
    bottom: 15vh;
    right: 34vw;
    height: 130px;
  }

  .bb1{
    position: absolute;
    bottom: 30vh;
    left: 0;
  }
  .bb2{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 22vw;
  }
  .bb3{
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    /* height: 100px; */
  }
  .bb4{
    position: absolute;
    /* height: 100px; */
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .bb5{
    position: absolute;
    bottom: 12vh;
    right: 12vw;
    /* height: 30vh; */
  }
  .bb6{
    position: absolute;
    bottom: 25vh;
    right: 0vw;
  }
  .bb-new {
    position: absolute;
    bottom: 15vh;
    right: 34vw;
    height: 130px;
  }

  .cpa1{
    position: absolute;
    bottom: 30vh;
    left: 0;
  }
  .cpa2{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 22vw;
  }
  .cpa3{
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    /* height: 100px; */
  }
  .cpa4{
    position: absolute;
    /* height: 100px; */
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .cpa5{
    position: absolute;
    bottom: 12vh;
    right: 12vw;
    /* height: 30vh; */
  }
  .cpa6{
    position: absolute;
    bottom: 25vh;
    right: 0vw;
  }
  .cpa7{
    position: absolute;
    top: 10vh;
    right: 0vw;
  }
  .cpa-new {
    position: absolute;
    bottom: 15vh;
    right: 24vw;
    height: 130px;
  }

  .tms1{
    position: absolute;
    top: 20vh;
    left: 33vw;
    height: 130px;
  }
  .tms-new {
    position: absolute;
    bottom: 15vh;
    right: 34vw;
    height: 130px;
  }

  .cbc1{
    position: absolute;
    top: 20vh;
    left: 33vw;
    height: 130px;
  }
  .cbc-new {
    position: absolute;
    bottom: 15vh;
    right: 34vw;
    height: 130px;
  }
  /* .bgslider1{
  position: absolute;
  top: 10vh;
  left: 33vw;
  height: 130px;
  } */
  .bgslider2{
    position: absolute;
    top: 72vh;
    left: 11.2vw;
    /* height: 130px; */
  }
  .bgslider3 {
    position: absolute;
    top: 14vh;
    right: 6vw;
    /* height: 130px; */
  }
  .bgdillan1 {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }
  .bgdillan2 {
    position: absolute;
    bottom:0;
    right:0;
  }
  .bgdillan4 {
    position: absolute;
    bottom:0;
    left:0;
  }

  .milky1{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .milky2{
    position: absolute;
    top: 0;
    right: 0;
  }
  .milky3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .milky-new {
    position: absolute;
    bottom: 40vh;
    right: 28vw;
    height: 130px;
  }
  .mocha1{
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    width: 75vw;
    margin: auto
  }
  .mocha2{
    position: absolute;
    width: 95vw;
    top: 4%;
    left: 0;
    margin: auto
  }
  .mocha4{
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .mocha-new {
    position: absolute;
    bottom: 35vh;
    right: 28vw;
    height: 130px;
  }
  .bean1{
    position: absolute;
    top: 0;
    left: 0;
  }
  .bean2{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 0;
  }
  .bean3{
    position: absolute;
    top: 34vh;
    left: 30vw;
    height: 70px;
  }
  .bean4{
    position: absolute;
    height: 80px;
    bottom: 35vh;
    left: 35vh;
    right: 11vw;
  }
  .bean5{
    position: absolute;
    top: 8vh;
    right: 22vw;
    height: 50vh;
  }
  .bean6{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .bean7{
    position: absolute;
    top: 0;
    right: 0;
  }
  .bean-new {
    position: absolute;
    bottom: 35vh;
    right: 28vw;
    height: 130px;
  }
  .bean-made{
    position: absolute;
    bottom: 28vh;
    left: 66vh;
  }
}
@media (max-width: 1700px){
  .nanas1{
    position: absolute;
    height: 200px;
    top: 20vh;
    left:0;
  }
  .nanas2{
    position: absolute;
    height: 220px;
    bottom: 20vh;
    left:10vw;
  }
  .nanas3{
    position: absolute;
    height: 150px;
    top: 15vh;
    left:13vw;
  }
  .nanas4{
    position: absolute;
    height: 240px;
    bottom: 20vh;
    right:30vw;
  }
  .nanas5{
    position: absolute;
    height: 150px;
    top: 20vh;
    right:17vw;
  }
  .nanas6{
    position: absolute;
    height: 200px;
    bottom: 0px;
    right: 10vw;
    z-index: 1;
  }
  .nanas7{
    position: absolute;
    right: 0;
    top:30px;
    width:200px;
  }
  .nanas8{
    position: absolute;
    height: 150px;
    top: 15vh;
    left:20vw;
  }
  .jujube{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    z-index:1;
    min-height: 100vh;
  }
  .wrapjujube{
    position: relative;
    width: 100vw;
    z-index:1;
    min-height: 100vh;
  }
  .jujube1{
    position: absolute;
    height: 200px;
    bottom: -2vh;
    left: 0;
  }
  .jujube2{
    position: absolute;
    height: 220px;
    top: 30vh;
    left: 3vw;
  }
  .jujube3{
    position: absolute;
    height: 150px;
    top: 12vh;
    left: 20vw;
  }
  .jujube4{
    position: absolute;
    height: 280px;
    bottom: 5vh;
    right: 10vw;
  }
  .jujube5{
    position: absolute;
    height: 150px;
    top: 10vh;
    right: 5vw;
  }
  .honeydew1{
    position: absolute;
    height: 250px;
    bottom: 0vh;
  }
  .honeydew2{
    position: absolute;
    height: 150px;
    top: 15vh;
    left: 5vw;
    opacity: .9;
  }
  .honeydew3{
    position: absolute;
    height: 165px;
    top: 35vh;
    right: 15vw;
  }
  .honeydew4{
    position: absolute;
    height: 240px;
    bottom: -3vh;
    right: 11vw;
  }
  .honeydew5{
    position: absolute;
    height: 150px;
    bottom: 20vh;
    right: 0vw;
  }
  .ccv1{
    position: absolute;
    height: 100px;
    top: 20vh;
    left: 5vw;
  }
  .ccv2{
    position: absolute;
    height: 120px;
    top: 50vh;
    left: 15vw;
  }
  .ccv3{
    position: absolute;
    height: 130px;
    bottom: 0;
    left: 25vw;
  }
  .ccv4{
    position: absolute;
    height: 370px;
    bottom: 5vh;
    right: 7vw;
  }
  .ccv5{
    position: absolute;
    height: 90px;
    top: 22vh;
    right: 13vw;
  }
  .ccv6{
    position: absolute;
    height: 100px;
    top: 10vh;
    right: 0vw;
  }
  .vm{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .ccm1{
    position: absolute;
    height: 200px;
    bottom: 20vh;
    left: 0;
  }
  .ccm2{
    position: absolute;
    height: 140px;
    top: 20vh;
    left: 5vw;
  }
  .ccm3{
    position: absolute;
    height: 150px;
    bottom: 10vh;
    left: 25vw;
  }
  .ccm4{
    position: absolute;
    height: 100px;
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .ccm5{
    position: absolute;
    height: 380px;
    bottom: 2vh;
    right: 0vw;
  }
  .ccb1{
    position: absolute;
    height: 290px;
    bottom: 3vh;
  }
  .ccb2{
    position: absolute;
    height: 130px;
    top: 15vh;
    left: 15vw;
  }
  .ccb3{
    position: absolute;
    height: 120px;
    bottom: 5vh;
    right: 25vw;
  }
  .ccb4{
    position: absolute;
    height: 240px;
    top: 20vh;
    right: 11vw;
  }
  .ccb5{
    position: absolute;
    height: 200px;
    bottom: 15vh;
    right: 11vw;
  }
  .sc1{
    position: absolute;
    top: 14vh;
    left: -11vw;
  }
  .sc2{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 30vw;
  }
  .sc3{
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    height: 100px;
  }
  .sc4{
    position: absolute;
    height: 100px;
    top: 25vh;
    left: auto;
    right: 11vw;
  }
  .sc5{
    position: absolute;
    bottom: 5vh;
    right: 0vw;
  }
}
.contenslide{
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  max-height: 100%;
  z-index:20;
}
.carousel-fade .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: auto;
  bottom: auto;
  padding-top: 0;
  width: 100%;
  padding-bottom: 0;
}
.carousel-fade .carousel-caption h2{
  font-size: 2.5rem;
  text-shadow:0px 0px 20px rgba(175,133,3,0.7);
  letter-spacing: .25em;
}
.carousel-fade .carousel-caption p,.carousel-fade .carousel-caption .p{
  text-align: center;
  max-width: 80%;
  text-transform: uppercase;
  text-shadow:0px 0px 20px rgba(175,133,3,0.7);
  letter-spacing: .30em;
  margin:0 auto;
}
.carousel-fade .carousel-caption a:not(.linkproduct){
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow:0px 0px 20px rgba(175,133,3,0.7);
  letter-spacing: .30em;
  display: inline-block;
  padding:10px;
  border-radius: 5px;
  border:1px solid #fff;
  margin-top:40px;
}
.carousel-fade .carousel-caption .linkproduct{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow:0px 0px 20px rgba(175,133,3,0.7);
  letter-spacing: .30em;
  display: inline-block;
  margin-top:40px;
  text-decoration: none;
  cursor: pointer;
}
.carousel-fade .carousel-caption .linkproduct:hover{
  cursor: pointer;
}
.carousel-fade .carousel-item.active .imgbanner{
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.carousel-fade .carousel-item.active .imgbanner.opacity0 {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.carousel-fade .carousel-item.active .imgbanner:not(.imgbanner1).onhover{
  opacity: .5 !important;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
.hoverimage{
  max-width: 75%;
  opacity: 0;
  padding: 10% 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.hoverimage:hover{
  opacity:1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
.opacity0{
  opacity: 0;
}
.carousel-fade .carousel-control-prev,.carousel-control-next{
  font-size: 2.5rem;
  /* opacity: 1; */
  opacity: .65;
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}
a[class=carousel-control-prev]:hover, a[class=carousel-control-next]:hover {
  opacity: 1;
  text-shadow: 0 0rem .75rem rgba(0, 0, 0, 0.215);
}
/* .carousel-fade {
height: 780px;
} */
.carousel-fade img{
  margin:0 auto;
  max-width: 100%;
  /* width: 100%; */
}
.contentterms{
  position: absolute;
  bottom:0;
  left:0;
  width: 100vw;
  height: 75vh;
  z-index: 1;
}
.paper{
  position: relative;
  z-index: 25;
  padding: 0 30px;
  border-radius: 5px;
}
.paper > .wrappadding{
  min-height: 75vh;
  background-color: rgba(255,255,255,0.9);
  padding:4rem 2.5rem;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow:0 10px 20px 0px #555
}
.ss-container{
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  z-index: 25;
  max-height: 70vh;
}
[ss-container]::-webkit-scrollbar {
  width: 10px;
}

/* Track */
[ss-container]::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.7);
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle */
[ss-container]::-webkit-scrollbar-thumb {
  background: rgb(255,255,255);
  border-radius: 10px;
}
[ss-container]::-webkit-scrollbar-thumb:vertical {
  height:15px;
}
/* Handle on hover */
[ss-container]::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overlay-sidebar{
  /* background-color: rgba(255,255,255,0.3); */
  position: absolute;
  width:100%;
  right:73%;
  height: 100vh;
  z-index:1;
  top:0;
}
.label.labelform{
  font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af;
  letter-spacing: .4em;
  font-size: 11px;
  padding-left: 2px;
  margin-bottom: 0;
}
.wrappadding .columns{
  margin-bottom: 0;
}
.textarea:not([rows]) {
  min-height: 106px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.hidden{
  visibility: hidden;
  height: 0;
}
.button.btnform{
  font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af;
  letter-spacing: .4em;
  font-size: 11px;
  padding:5px 0px;
  height: 2.2rem;
}
.button.noborderradius{
  border-radius: 0;
  margin-top:10px;
}
.variantpro100{
  width: 100%;
}
input[type=radio], input[type=checkbox] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 18px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  min-width: 18px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  position: relative;
}
input[type=checkbox]:checked{
  background:#0060af;
  border: 1px solid #0060af;
}
input[type=checkbox]:checked:before {
  content: "\2713";
  position: absolute;
  z-index: 1;
  font-size: 20px;
  color: #fff;
  bottom: 7px;
  left: 0;
}
.button.is-link.is-outlined{
  background-color: transparent;
  border-color: #0060af;
  color: #0060af;
}
.button.is-link.is-outlined{
  background-color: transparent;
  border-color: #0060af;
  color: #0060af;
}
.button.is-link.is-outlined:hover, .button.is-link.is-outlined:focus {
  background-color: #0060af;
  border-color: #0060af;
  color: #fff;
}
body.showsidebar{
  overflow-y: hidden;
}
body .overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index:106;
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body.showsidebar .overlay{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body .sidebarmenu{
  position: fixed;
  height: 100vh;
  width:60%;
  background-color: #fff;
  left: -60%;
  top:0;
  overflow-y: auto;
  z-index: 150;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body .sidebarmenu .close{
  font-size: 35px;
  padding: 3px 10px;
  color: #0060af;
  opacity: .8;
}
body.showsidebar .sidebarmenu{
  left:0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body .sidebarmenu ul{
  margin:0;
  padding:0;
  list-style: none;
  max-width: 220px;
  margin:0 auto;
}
body .sidebarmenu ul li{
  display: block;
  text-align: left;
  margin:5px 0;
}
body .sidebarmenu ul li a{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding:5px 0px 5px 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color:#0060af;
  letter-spacing: .2em;
  font-family: 'COCOGOOSE';
  font-size: 12px;
}
body .sidebarmenu ul li a.active,body .sidebarmenu ul li a:hover{
  color:#0060af;
}
body .sidebarmenu ul > li > a.has-arrow:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: #0060af;
  right: -20px;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
body .sidebarmenu ul > li > a.active.has-arrow:before {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 45%;
  width: 10px;
  border-color: #0060af;
  transform: rotate(-135deg) translate(0, -50%);
}
body .sidebarmenu ul > li li a.has-arrow:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: #0060af;
  right: 5px;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
body .sidebarmenu ul > li li a.active.has-arrow:after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 45%;
  width: 10px;
  border-color: #0060af;
  transform: rotate(-135deg) translate(0, -50%);
}
body .sidebarmenu ul > li > a + ul {
  padding-left: 30px;
  padding-bottom: 0;
  padding-top: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body .sidebarmenu ul > li > a + ul li a {
  position: relative;
}
body .sidebarmenu ul > li > a + ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width:10px;
  height: 10px;
  border-radius: 50%;
  left:0;
  top:.7em;
  background-color: #0060af;
}
body .sidebarmenu ul > li > a.active + ul {
  padding-bottom: 10px;
  padding-top: 10px;
  max-height: 500px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
body .logosidebar{
  text-align: center;
  display: block;
  width: 100%;
  padding:30px 0 20px 20px;
}
body .logosidebar img{
  max-width: 180px;
}
.carousel-control-next, .carousel-control-prev{
  top:-17vh;
}
.menumobile{display: none; font-size: 2rem; color:#fff; text-decoration: none;}
.menumobile:hover{text-decoration: none; color: #fff;}
.onlyinmobile,.imgfooter2,.imgfooter3{
  display: none;
}
.onlyindesktop{
  display: block;
}
.onlyindesktop2{
  display: block;
}
.onlyinmobile2{
  display: none;
}
.shadowyellowmobile{
  display: none;
}
.wrapmenumobile,.wrapsocmedmob{
  width:100%;
  display: block;
  text-align: left;
}
.width100percent{
  width:100%;
}
.wrapmenumobile{
  text-align: right;
}
.fblink{
  color:#3B5998 !important;
}
.twlink{
  color:#00aced !important;
}
.iglink{
  color:#cd486b !important;
}
.tellink{
  color:#128c7e !important;
}

.titlepage{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color:#0060af;
}
.paper p{
  text-transform: uppercase;
  letter-spacing: .2em;
  color:#0060af;
  font-weight: 300;
  font-size: .7em;
  line-height: 2;
  margin-bottom:1em;
}

.sidebare {
  max-height: 80%;
  padding-right:30px;
}
.item-product{
  position: relative;
  letter-spacing: .2em;
  line-height: 1.5;
  font-size:.78rem;
  text-transform: uppercase;
  color: #0060af;
  margin-bottom: 25px;
  background: rgba(255,255,255,.5);
}
.item-product .level{
  padding:30px;
}
.item-product:hover{
  opacity: 1;
  cursor: pointer;
}
.item-product .imgproduct img{
  position: absolute;
  width:100%;
  left: 50%;
  bottom:0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;

}
.item-product .imgproduct{
  position: relative;
  width:62px;
  margin:0 auto;
  min-height: 130px;
  min-width: 61px;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;

}
.item-product:hover .imgproduct{
  width:70px;
}
.title-product{
  font-size:2rem;
  margin:0;
  padding:0;
}
.meta-title-product{
  padding:5px 0 20px 0;
}
.content-item-product{
  line-height: 2;
  margin-bottom: 25px;
}
.readmore{
  display: inline-block;
  position: relative;
}
.papaerproduct{
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 50px;
}
.fancybox-slide--iframe .fancybox-close-small{
  right:0;
}
.fancybox-slide--iframe .fancybox-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.fancybox-slide--iframe .fancybox-content::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.7);
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle */
.fancybox-slide--iframe .fancybox-content::-webkit-scrollbar-thumb {
  background: rgb(255,255,255);
  border-radius: 10px;
}
.fancybox-slide--iframe .fancybox-content::-webkit-scrollbar-thumb:vertical {
  height:15px;
}
/* Handle on hover */
.fancybox-slide--iframe .fancybox-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.fancybox-bg{
  background: rgba(255,255,255,0.3);
}
.close-smalle{
  position: absolute;
  top: 8px;
  right: 40px;
  width: 30px;
  height: 30px;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}
.close-smalle:after {
  content: '×';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font: 40px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #0060af;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: transparent;
  transition: background-color .25s;
  box-sizing: border-box;
  z-index: 2;
}
#wrappingshow .detail-product{
  position: absolute;
  top: 120vh;
  z-index: 10000;
  height: 80vh;
  width: 1000px;
  max-width: 95vw;
  left: 50%;
  transform: translateX(-50%);
  color: #0060af;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#wrappingshow.showdetail .detail-product{
  top: 24vh;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#wrappingshow.showdetail .nanas .blogwrap .ss-container{
  overflow-y: hidden;
}
.product_item{
  margin: 0 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0px #555;
  min-height: 80vh;
  background-color: rgba(255,255,255,.95);
}
.slideproduct{
  width: 300px;
  max-width: 90%;
  margin: 0 3rem 4rem 3rem;
}
.slideproduct img{
  position: relative;
  z-index:3;
}
.overlays-product-detail{
  width: 100%;
  left: 0;
  height: calc(80% - 3rem);
  position: absolute;
  bottom: 0;
  z-index: 0;
  border-radius: 10px;
  /* background-color: rgba(238,204,91,.8); */
}
#carouselfade .carousel-item {
  margin: 0 auto;
  text-align: center;
}
.carousel-indicators{
  bottom:-2rem;
}
.carousel-indicators li{
  border: 2px solid #005b9c;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  background-color: rgba(255,255,255,.5);
}
.carousel-indicators li:not(.active){
  background-color: #005b9c !important;
}
.carousel-indicators li:hover{
  cursor: pointer;
}
.leveltextleft{
  justify-content:left;
}
.product-info-detailed h2{
  text-transform: uppercase;
  font-size:2rem;
}
.description-product-detailed{
  font-size:1rem;
  max-width: 400px;
  letter-spacing: .25em;
  line-height: 1.5;
  padding-bottom: 3rem;
}
.requestsample{
  font-size: 1.1rem;
  text-decoration: none;
  border:.1em solid #005b9c;
  padding:.8rem 1rem;
  border-radius: 5px;
  color: #005b9c;
}
.requestsample:hover{
  text-decoration: none;
  color: #005b9c;
}
.meta-info{
  padding:.5rem 0;
}
.sosmed-product-detaile{
  padding-right:1rem;
  font-size:2rem;
}
.sosmed-product-detaile a{
  text-decoration: none;
  color: #005b9c;
  cursor: pointer;
  opacity: .9;
}
.overlay-main-product{
  position: absolute;
  width:100%;
  height: 100%;
  z-index:25;
  top:0;
  left:0;
  display: none;
}
.overlay-main-product.show{
  display: block;
}
.product_item{
  display: none;
}
.product_item.show{
  display: block;
}
.headerhome,.socmed{
  opacity: 1;
}
/** Blog Menus **/
.menusidebarblog li ul{
  margin-right: -30px;
  padding-right: 30px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.menusidebarblog li:hover ul,
.menusidebarblog li > a.active + ul{
  max-height: 1000px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.menusidebarblog li li{
  position: relative;
  margin-top:0;
  padding-top:0;
}
.menusidebarblog li li a:after{
  position: absolute;
  top: 14px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -20px;
  background: #0060af;
  opacity: .5;
  display: none;
}
.menusidebarblog li li:hover a:after,.menusidebarblog li li a.active:after{
  display: block;
  opacity: 1;
}
.menusidebarblog li li a{
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: .85em;
  padding:10px 0;
  margin:0;
}
.menusidebarblog li:hover li a:not(.active),
.menusidebarblog li li:hover a:not(.active){
  opacity: .5;
}
.menusidebarblog li li:hover a:hover{
  opacity: 1;
}

.menusidebarblog{
  list-style: none;
  padding:0;
  margin:0;
}
.menusidebarblog li{
  padding: 10px 0;
  margin: 5px 0;
  padding-bottom: 0px;
  line-height: 1;
}
.menusidebarblog li a{
  position: relative;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  opacity: .5;
}
.menusidebarblog li a span{
  float: left;
  width:100%;
}
.menusidebarblog li a span + span{
  float: right;
}
.menusidebarblog li a.active,
.menusidebarblog li:hover a{
  text-decoration: none;
  opacity: 1;
  color: #0060af;
}
/** Product Menus **/
.menusidebarblog.nav-product{
  list-style: none;
  padding:0;
  margin:0;
  letter-spacing: .2em;
}
.menusidebarblog.nav-product li{
  text-align: right;
}
.menusidebarblog.nav-product li a{
  text-align: right;
  position: relative;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  opacity: .5;
  color: #3273dc;
}
.menusidebarblog.nav-product li a span{
  float: none;
}
.menusidebarblog.nav-product > li:hover > a span,
.menusidebarblog.nav-product > li > a.active span{
  border-bottom: .1em solid #0060af;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover,
.menusidebarblog.nav-product li a.active,
.menusidebarblog.nav-product li:hover a,
.menusidebarblog.nav-product li li:hover a,
.menusidebarblog.nav-product li li:hover a:hover{
  text-decoration: none;
  opacity: 1;
  color: #0060af !important;
}
.menusidebarblog.nav-product > li > a:after{
  content: "";
  display: inline-block;
  position: absolute;
  right: .15em;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  border-bottom: .1em solid transparent;
}
.menusidebarblog.nav-product li ul{
  margin-right: -30px;
  padding-right: 30px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.menusidebarblog.nav-product li:hover ul,
.menusidebarblog.nav-product li > a.active + ul{
  max-height: 1000px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.menusidebarblog.nav-product li li{
  position: relative;
  margin-top:0;
  padding-top:0;
}
.menusidebarblog.nav-product li li a:after{
  position: absolute;
  top: 14px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -20px;
  background: #0060af;
  opacity: .5;
  display: none;
}
.menusidebarblog.nav-product li li:hover a:after,
.menusidebarblog.nav-product li li a.active:after{
  display: block;
  opacity: 1;
}
.menusidebarblog.nav-product li li a{
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: .85em;
  padding:10px 0;
  margin:0;
}
.menusidebarblog.nav-product li:hover li a:not(.active),
.menusidebarblog.nav-product li li:hover a:not(.active){
  opacity: .5;
}
.menusidebarblog.nav-product li li:hover a:hover{
  opacity: 1;
}
.bg-yellow-mbl{
  background: #0060af;
      /* height: 50px; */
      /* width: 50px; */
      border-radius: 50%;
      padding: 10px;
      border: 4px solid white;
}

.btn-all-article{
  background: #828282;
  width: fit-content;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: -5px;
  border-radius: 5px;
}

.btn-all-article a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

/*** Media Queries ***/
/*** min:1280px ***/
@media (min-width: 1280px) {
  #carouselfade { top:-1.75rem; }
}
/*** min:1280px and max-height: 640px ***/
@media (min-width: 1279.98px) and (max-height: 640px) {
  /* @media (min-width: 1279.98px) { */
  #carouselfade .carousel-item img {
    /* top:10%; */
    height: 670px;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
}
/*** min:1600px and max-height: 827px ***/
@media (min-width: 1599.98px) and (max-height: 827px) {
  /* @media (min-width: 1599.98px) { */
  #carouselfade .carousel-item img {
    height: 900px;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
}
/*** min:1366px and max-height: 768px ***/
@media (min-width: 1365.98px) and (max-height: 768px) {
  /* @media (min-width: 1365.98px) { */
  #carouselfade .carousel-item img {
    height: 800px;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
}
/*** min:1216px ***/
@media screen and (min-width: 1216px){
  .container.container1000{
    max-width: 1000px;
  }
}
/* #carouselfade .carousel-item img {
height: 900px;
} */
/* 640×960 */
/* // iphone ? */
/* @media (max-height: 641px) { */
@media (max-width: 979.98px) and (max-height: 639.98px) {
  #carouselmobile .carousel-item img {
    height: 530px !important;
  }
  .bglider3mobile {
    height: 480px !important;
  }
  .imgfooter img.img100percent {
    height: 90px !important;
  }
}
/*** max:825px ***/
@media (max-width: 825px) {
  .onlyindesktop{
    display: none;
  }
  .onlyinmobile{
    display: block;
  }
  .iden{
    padding-left:0;
  }
  .iden li a{
    font-size:14px;
  }
  .logo img{max-width: 120px;}
  .menumobile{display: block;}
  .mainmenu{
    display: none;
  }
  .hero.is-medium .hero-body {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .contenslide{
    bottom: auto;
    top: 10vh;
    left: 0%;
    width: 100%;
  }
  .shadowyellow{
    bottom: -1px;
  }
  .sidebare{
    display: none;
  }
  .overlay-sidebar{
    display: none;
  }
}
@media (max-width: 769px) {

  .contenslide{
    bottom: auto;
    top: 32%;
  }
  .onlyinmobile2{
    display: block;
  }
  .onlyindesktop2{
    display: none;
  }
  .footermenu{
    padding-bottom: 2.5rem;
  }
  .ss-container{
    max-height: 70vh;
  }
  .imgfooter1,.imgfooter2{
    display: none;
  }
  .imgfooter3{
    display: block;
  }
}
@media (max-width: 740px)
{
  .mainmenu{
    margin-top:0;
  }
  .logo img {
    max-width: 90px;
  }
  .socmedmobile a,.socmed a{
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .socmedmobile > .d-table > .d-table-cell > a:not(:last-child){
    margin-right: 15px;
  }
  .shadowyellowmobile{
    display: none;
  }
  .shadowyellowdesktop{
    display: block;
  }
  .container {
    max-width: 90%;
  }
  .imgfooter3,.imgfooter2{
    display: none;
  }
  .imgfooter1{
    display: block;
  }
  .footermenu{
    padding-bottom: .7rem;
  }
}
@media (max-width: 668px){

  .mainholiday h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 500px){
  .bg-yellow{
    display: none;
  }
  .paper{
    padding:0 10px;
  }
  .contentterms{
    height: 80vh;
  }
  .halal{
    bottom: 80px;
    right: 0;
    width:80px;
  }
  .logo img {
    max-width: 100px;
  }
  .container {
    max-width: 100%;
  }
  .imgfooter1,.imgfooter3{
    display: none;
  }
  .imgfooter2{
    display: block;
  }
  .home{
    background-size: auto 75vh;
  }
  .shadowyellowmobile{
    display: block;
  }
  .shadowyellowdesktop{
    display: none;
  }
  .mainholiday{
    min-height: calc(100vh - 80px);
  }
  .mainholiday h1 {
    font-size: 1.8rem;
  }
  .discoverproduct{
    bottom:60px;
    left:0;
  }
  .imgfooter3{
    display: none;
  }
  .imgfooter2{
    display: block;
  }
  .footermenu{
    padding-bottom: 1.2rem;
  }
  .footermenu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width:100%;
    text-align: center;
    padding:5px 0;
  }
  .footermenu > a:not(:last-child) {
    padding-right: 0px;
    border-right: 0px solid transparent;
  }
  .footermenu > a:last-child {
    padding-left: 0px;
  }
}
@media (max-width: 321.98px){
  .discoverproduct h2{
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 824.99px) {
  .home-person {
    width: 60vw;
    margin: auto;
    left:0;
    right:0;
    bottom: -4rem
  }
  .home-bg1,.home-bg2 {
    right: -2rem;
    top: -6rem;
    width:55vw;
  }
}

@media (max-width: 767.99px) {
  /* .home-product {
  display: none;
  } */
  .home-product {
    left: -1rem;
    width: 40%;
  }
  .home-person {
    right: 0;
    bottom: -8rem !important;
    width: 100% !important;
  }
}
@media (max-width: 499.99px) {
  .home-person {
    width: 120% !important;
    max-width: 120% !important;
    left:-2rem !important;
    bottom: -2rem !important;
  }
  /* .home-bg1,.home-bg2,.home-bg3 {
  display: none;
  } */
  .home-product {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -40vw !important;
    z-index: 3;
    width: 70%;

  }
  .home-bg1,.home-bg2 {
    right: -6rem;
    top: -11rem !important;
    width: 150%;
    max-width: 200%;
  }
}
@media (min-width: 319.99px) and (max-width: 425.99px) {
  .footermenu {
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  .footermenu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3273dc;
    display: block;
    text-align: center;
    padding:2px 0px 4px 0px;
  }
  .footermenu > a:not(:last-child) {
    padding-right: 0px;
    padding-left: 0px;
    border-right: 0px solid transparent;
  }
  .footermenu > a:last-child {
    padding-left: 0px;
    padding-right: 0px;
  }
  .shadowyellow {
    bottom:-12rem;
  }
  .home-bg1 {
    margin:auto;
  }
  .home-bg2 {
    margin:auto;
  }
  .home-person {
    margin:auto;
  }

  .home{
    background-size: cover;
  }
  .home-person {
      width: 140% !important;
      max-width: 100% !important;
      left: -1rem !important;
      bottom: 9vh !important;
  }
  .home-product {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -38vw !important;
    z-index: 3;
    width: 60%;
    bottom: 12vh !important;
  }
  .home-bg1{
      right: -3rem !important;
      top: -20vh !important;
      width: 150%;
      max-width: 200%;
  }
  .home-bg3 {
    margin: auto;
    z-index: 2 !important;
    width: 157%;
    max-width: 184%;
    bottom: 8vh;
  }
  .discoverproduct {
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    bottom: 8vh !important;
  }
  .discoverproduct h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 10px;

    text-shadow: 0 0rem 0.45rem rgba(0, 0, 0, 0.675);
}

.halal {
    width: 85px;
    left: 5px;
    bottom: 10vh !important;
}
.discoverproduct h3 {
  font-size: 14px;
  text-shadow: 0 0rem 0.45rem rgba(0, 0, 0, 0.675);
}
.discoverproduct h3 i{
   text-shadow: -3px -8px 9px #f78aa0;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  .home-bg1 {
      position: absolute;
      top: -31vh;
      right: 10rem;
      width: 70vw !important;
      opacity: 0;
  }
  .home-person {
    position: absolute;
    bottom: 7vh !important;
    right: 17rem;
    width: 40vw;
    /* z-index: -1; */
    opacity: 0;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {


}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .home-bg1 {
      position: absolute;
      top: -20vh;
      right: 10rem;
      width: 55vw;
      opacity: 0;
  }
  .home-person {
    position: absolute;
    bottom: 4vh !important;
    right: 15rem;
    width: 33vw;
    /* z-index: -1; */
    opacity: 0;
}
.home-bg3 {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    opacity: 0;
    z-index: 0;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .home-bg1 {
      position: absolute;
      top: -31vh;
      right: 10rem;
      width: 50%;
      opacity: 0;
  }
  .home-person {
    position: absolute;
    bottom: 4vh !important;
    right: 20rem;
    width: 27vw;
    /* z-index: -1; */
    opacity: 0;
}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .home-person {
      width: 120% !important;
      max-width: 90% !important;
      left: 0rem !important;
      bottom: 16vh !important;
  }
  .home-product {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -38vw !important;
    z-index: 3;
    width: 70%;
    bottom: 6vh !important;
  }
  .home-bg3 {
    margin: auto;
    z-index: 2 !important;
    width: 157%;
    max-width: 184%;
    bottom: 4vh;
  }
  .discoverproduct {
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    bottom: 9vh !important;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .home-person {
      width: 120% !important;
      max-width: 90% !important;
      left: 0rem !important;
      bottom: 16vh !important;
  }
  .home-product {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -38vw !important;
    z-index: 3;
    width: 70%;
    bottom: 6vh !important;
}
.home-bg3 {
    margin: auto;
    z-index: 2 !important;
    width: 157%;
    max-width: 184%;
    bottom: 4vh;
}
.discoverproduct {
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    bottom: 9vh !important;
}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .home-person {
      width: 120% !important;
      max-width: 90% !important;
      left: 0rem !important;
      bottom: 16vh !important;
  }
  .home-product {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -38vw !important;
    z-index: 3;
    width: 70%;
    bottom: 6vh !important;
  }
  .home-bg3 {
    margin: auto;
    z-index: 2 !important;
    width: 157%;
    max-width: 184%;
    bottom: 4vh;
  }
  .discoverproduct {
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    bottom: 9vh !important;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.home-person {
    width: 120% !important;
    max-width: 90% !important;
    left: 0rem !important;
    bottom: 16vh !important;
}
.home-product {
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -38vw !important;
  z-index: 3;
  width: 70%;
  bottom: 6vh !important;
}
.home-bg3 {
  margin: auto;
  z-index: 2 !important;
  width: 157%;
  max-width: 184%;
  bottom: 4vh;
}
.discoverproduct {
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  bottom: 9vh !important;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
