<% if @setup.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@setup.errors.count, "error") %> prohibited this setup from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @setup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_for @setup, :html => { :class => "form-horizontal setup" } do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <%= f.label :image_share, :class => 'control-label' %> <small><i>Logo Website</i></small>
            <p>Max File Size 500KB</p>
            <% if @setup.image_share.nil? || @setup.image_share.blank? %>
              <%= f.file_field :image_share, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
              <%= f.file_field :image_share, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.image_share.url %>
            <% end %>
            <%=f.error_span(:image_share) %>
          </div>
          <div class="col-md-6">
            <%= f.label :site_image, :class => 'control-label' %> <small><i>Logo Website</i></small>
            <p>Max File Size 500KB</p>
            <% if @setup.site_image.nil? || @setup.site_image.blank? %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.site_image.url %>
            <% end %>
            <%=f.error_span(:site_image) %>
          </div>
          <div class="col-md-6">
            <%= f.label :site_favicon, :class => 'control-label' %> <small><i>Favicon Website</i></small>
            <p>Max File Size 100KB | Max Width and Height 64px</p>
            <% if @setup.site_favicon.nil? || @setup.site_favicon.blank? %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square' %>
            <% else %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square', 'data-default-file' => @setup.site_favicon.url %>
            <% end %>
            <%=f.error_span(:site_favicon) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Website Identity and SEO</h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_name, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_name, :class => 'form-control', required: true %>
              <%=f.error_span(:site_name) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_title, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_title, :class => 'form-control', required: true %>
              <%=f.error_span(:site_title) %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :site_description, :class => 'control-label' %>
              <%= f.text_area :site_description, :class => 'form-control' %>
              <%=f.error_span(:site_description) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <%= f.hidden_field :hero_status, id:"hr-status" %>
            <h4>Custom Code</h4>
            <div id="cst-code">
              <div id="editor">
              </div>
              <%=  f.text_area :custom_code, id:'get-editor' %>
              <div class="text-center mt-3">
                <button type="button" name="button" class="btn btn-info" id="btn-fl-image">Change to full image</button>
              </div>
            </div>
            <div id="fll-image">
              <%= f.label :hero_image, :class => 'control-label' %>
              <p>Max File Size 500KB</p>
              <% if @setup.hero_image.nil? || @setup.hero_image.blank? %>
                <%= f.file_field :hero_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
                <%= f.file_field :hero_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.hero_image.url %>
              <% end %>
              <%=f.error_span(:hero_image) %>
              <div class="text-center mt-3">

              </div>
            </div>
            <div class="mt-3 text-center">
                <button type="button" name="button" class="btn btn-info" id="btn-cst-code">Change to custom code</button>
                <button type="button" name="button" class="btn btn-info" id="btn-fl-image">Change to full image</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Social Media</h4>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :facebook, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :facebook, :class => 'form-control', required: true %>
              <%=f.error_span(:facebook) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :instagram, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :instagram, :class => 'form-control', required: true %>
              <%=f.error_span(:instagram) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :twitter, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :twitter, :class => 'form-control', required: true %>
              <%=f.error_span(:twitter) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :phone, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :phone, :class => 'form-control', required: true %>
              <%=f.error_span(:phone) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Contact and Map</h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :contact, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_area :contact, :class => 'form-control', required: true, rows: 5 %>
              <%=f.error_span(:contact) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :google_map, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_area :google_map, :class => 'form-control', required: true, rows: 5 %>
              <%=f.error_span(:google_map) %>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <%= f.submit 'Save', :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),setups_path, :class => 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
