<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

<% if @article.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">

    <div class="form-group">
      <%= f.label :title_id,"Title in Indonesia", :class => 'control-label' %>
      <%= f.text_field :title_id, :class => 'form-control' %>
      <%=f.error_span(:title_id) %>
    </div>
    <div class="form-group">
      <%= f.label :title_en,"Title in English", :class => 'control-label' %>
      <%= f.text_field :title_en, :class => 'form-control' %>
      <%=f.error_span(:title_en) %>
    </div>
    <div class="form-group">
      <%= f.label :author, :class => 'control-label' %>
      <%= f.text_field :author, :class => 'form-control' %>
      <%=f.error_span(:author) %>
    </div>
    <div class="form-group">
      <%= f.label :meta_description_id, "Meta description", :class => 'control-label' %>
      <%= f.text_area :meta_description_id, :class => 'form-control', rows: 5 %>
      <%=f.error_span(:meta_description_id) %>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4>Image</h4>
    <div class="row">
      <div class="col-md-12 justify-content-12">
        <div class="form-group">
          <%= f.label :featured_image, :class => 'control-label' %>
          <% if @article.featured_image.nil? || @article.featured_image.blank? %>
          <%= f.file_field :featured_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
          <% else %>
          <%= f.file_field :featured_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @article.featured_image.url %>
          <% end %>
          <%=f.error_span(:featured_image) %>
        </div>
      </div>
    </div>
    <div class="row" id="image_events">
      <%= f.fields_for :image_events do |image_event| %>

      <%= render 'image_event_fields', f: image_event %>

      <% end %>
      <div class="col-md-4">
        <%= link_to_add_association 'add image', f, :image_events, class:"btn btn-primary" %>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :status, :class => 'control-label' %>
          <%= f.select :status, Article::Status.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
          <%=f.error_span(:status) %>
        </div>
      </div>
      <div class="col-md-6">
        <label for="publish">Publish Date</label>
        <%= f.date_field :publish, :class => 'form-control', required:true %>
        <%=f.error_span(:publish) %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">

    <div class="form-group">
      <%= f.label :content_id,"Content in Indonesia", :class => 'control-label' %>
      <%= f.cktext_area :content_id, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
      <%=f.error_span(:content_id) %>
    </div>
    <div class="form-group">
      <%= f.label :content_en,"Content in English", :class => 'control-label' %>
      <%= f.cktext_area :content_en, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
      <%=f.error_span(:content_en) %>
    </div>


    <div class="form-group">
      <div class="text-center">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        articles_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>



<% end %>
