<style type="text/css">
.coklat1{
  position: absolute;
  height: 180px;
  top: 12vh;
  right:3vw;
  z-index:10;
}
.coklat2{
  position: absolute;
  height: 180px;
  bottom: 3vh;
  right:1vw;
  z-index:5;
}
.coklat3{
  position: absolute;
  right: 0;
  bottom:20vh;
  width:200px;
}
.titlepage{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color:#0060af;
}
.paper p{
  text-transform: uppercase;
  letter-spacing: .2em;
  color:#0060af;
  font-weight: 300;
  font-size: .7em;
  line-height: 2;
  margin-bottom:1em;
}

p::first-letter,p .big{
  font-size: 1.5em;
  line-height: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(179, 232, 255);
  border: 0;
}
.table-striped tbody tr:nth-of-type(even) {

  background: #c4e7f6;
  border: 0;
}

.tabel td, .table th{
  font-family: 'Fredoka one';
  font-weight: 100;
  border: 0;
}

.txt-ket{
    font-size: 15px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
      }
@media (max-width: 769px){
  .paper{
    margin: 0 0px;
  }
  .coklat1,.coklat2{
    right:-6vw;
  }
  .paper > .wrappadding{
    min-height: 75vh;
  }
  .nanas8 {
    height: 80px;
    top: 18vh;
    left: 20vw;
  }
}
@media (max-width: 740px)
{
  .coklat1,.coklat2{
    right:0vw;
    max-height: 100px;
  }
  .coklat3 {
    max-width: 120px;
  }
  .nanas1{
    max-height: 100px;
  }
  .nanas2{
    max-height: 100px;
  }
  .nanas2{
    max-height: 120px;
    bottom: 10vh;
  }
  .contentterms{
    height: 70vh;
  }
  }@media (max-width: 500px)
  {
    p{
      text-indent:2rem;
      text-align: left;
    }
    .contentterms{
      height: 80vh;
    }
    .paper > .wrappadding{
      padding: 1.5rem 1.5rem 4rem 1.5rem;
    }
    .titlepage{
      font-size:1.3rem;
      margin-bottom: 1rem;
    }
    .coklat2{
      bottom:10vh;
    }
    .coklat1, .coklat2{
      right: -7vw;
    }
    .coklat3{
      bottom: 30vh;
    }
    .txt-ket{
    font-size: 11px;
}
  }
</style>

  <section id="contentsection" class="contentsection" >
    <div id="load" class="contenthomeslide contenview">

    <div id="wrappingshow">
      <div class="d-block" style="margin-top:25vh;padding-bottom:25vh">
        <div class="container xanimated animated opacity0">
          <h1 class="titlepage">TEMUKAN JOYDAY</h1>
          <div class="mb-5">
            <p class="text-center"> Anda Dapat Membeli produk Joyday di toko - toko terdekat di sekitar Anda, silahkan  cek di sini </p>
          </div>
          <div id="map"></div>
          <hr style="background-color:#285da2;">

          <div class="row">

              <div class="col-md-6 col-12 mb-3">
                <div class="card">
                  <div class="card-body">
                    <h3 class="mb-2"><%= @store.name %></h3>
                    <span style="font-size:0.7em" class="mb-3"><%= @store.address %></span> <br>
                    <a  style="font-size:0.6em" href="https://www.google.com/maps/dir/?api=1&destination=<%=@store.long %>,<%=@store.lat %>#" target="_blank">
                      Lihat di Google Map
                    </a>
                  </div>
                </div>
              </div>

          </div>
        </div>

      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){


                $('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');

                $('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
               setTimeout(function(){
                 $('.xanimated').animate({'opacity' : 1},1000,function(){

                 }).addClass('fadeInUp');
               },1000);


          }).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);
        });
      </script>

      <script type="text/javascript">
        $("#selectLocation" ).change(function(){
          $('#filter-location').submit();
        });
      </script>
      <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.

        function initMap() {
          var uluru = {lat: <%= @store.long %>, lng: <%= @store.lat %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 20,
            center: uluru
          });

          var contentString = '<h5><a href="<%= store_path(@store.id) %>"><strong><%= @store.name %></strong></a><h5><span><%= @store.address %><span>';

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: '<%= @store.name %>'
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7vH0yIM9wN_YJxqvacDESUNRRFYylKU&callback=initMap">
      </script>
      </div>

      </div>

    </section>
    <div class="copyright absolute animated opacity0">
      <div class="footermenu">
        <a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
        <a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
        <a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
      </div>
    </div>
    <div class="imgfooter imgfooter1 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter2 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter3 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
    </div>
