<%= form_for @ecommerce, :html => { :class => "form-horizontal ecommerce" } do |f| %>

  <% if @ecommerce.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ecommerce.errors.count, "error") %> prohibited this ecommerce from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ecommerce.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :logo, :class => 'control-label' %>
      <p><small>Max file size: 1Mb</small></p>
      <% if @ecommerce.logo.nil? || @ecommerce.logo.blank? %>
      <%= f.file_field :logo, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'2000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
      <% else %>
      <%= f.file_field :logo, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'2000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @ecommerce.logo.url %>
      <% end %>
      <%=f.error_span(:logo) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ecommerces_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
