<%= form_for @discoverproduct, :html => { :class => "form-horizontal discoverproduct" } do |f| %>

  <% if @discoverproduct.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@discoverproduct.errors.count, "error") %> prohibited this discoverproduct from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @discoverproduct.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.label :slider_type, :class => 'control-label' %>
        <% if params[:slider_type].present? %>
        <%= f.text_field :slider_type, disabled:true, id:"hr-status" ,:class => 'form-control disabled', value: params[:slider_type] %>
        <% else %>
        <%= f.text_field :slider_type, id:"hr-status", disabled:true, :class => 'form-control disabled' %>
        <% end %>
        <%=f.error_span(:slider_type) %>
      </div>
      <div class="form-group">
        <%= f.label :title_id,"Title in Indonesia", :class => 'control-label' %>
        <%= f.text_field :title_id, :class => 'form-control' %>
        <%=f.error_span(:title_id) %>
      </div>
      <div class="form-group">
        <%= f.label :title_en,"Title in English", :class => 'control-label' %>

        <%= f.text_field :title_en, :class => 'form-control' %>
        <%=f.error_span(:title_en) %>
      </div>
      <div class="form-group">
        <%= f.label :hide_title, :class => 'control-label' %><br>
        <%= f.check_box :hide_title, "data-on-text" => "Yes" , "data-off-text"=>"No", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
        <%=f.error_span(:hide_title) %>
      </div>

      <div class="form-group">
        <%= f.label :content_id,"Content in Indonesia", :class => 'control-label' %>

        <%= f.text_area :content_id, :class => 'form-control', rows:3 %>
        <%=f.error_span(:content_id) %>
      </div>
      <div class="form-group">
        <%= f.label :content_en,"Content in English", :class => 'control-label' %>

        <%= f.text_area :content_en, :class => 'form-control', rows:3 %>
        <%=f.error_span(:content_en) %>
      </div>
      <div class="form-group">
        <%= f.label :link,"Link target", :class => 'control-label' %>
        <%= f.text_field :link, :class => 'form-control' %>
        <%=f.error_span(:link) %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-ant">Animated Templated</button>
      <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-cst-code">Change to custom code</button>
      <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-fl-image">Change to full image</button>
    </div>

     <!-- <div class="card-footer">
      <%# f.select :animated_type, Discoverproduct::Templated.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
    </div> -->
  </div>

  <div class="card" id="cst-code">
    <div class="card-body">
      <div id="editors">
      </div>
      <%=  f.text_area :custom_code, id:'get-editor' %>
    </div>
  </div>



  <div   id="animated">
    <div class="card mt-3" >
      <div class="card-body">
        <h3>Mobile Image in Indonesia</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :main_mbl, :class => 'control-label' %>
              <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
              <% if @discoverproduct.main_mbl.nil? || @discoverproduct.main_mbl.blank? %>
              <%= f.file_field :main_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :main_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.main_mbl.url %>
              <% end %>
              <%=f.error_span(:main_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_main %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.label :background_mbl, :class => 'control-label' %>
            <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
            <% if @discoverproduct.main.nil? || @discoverproduct.main.blank? %>
            <%= f.file_field :background_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :background_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.background_mbl.url %>
            <% end %>
            <%=f.error_span(:background_mbl) %>
          </div>
        </div>
      </div>
    </div>

    <div class="template" id="tmplt-basic">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <%= f.label :effect_1_mbl, "Left effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_1_mbl.nil? || @discoverproduct.effect_1_mbl.blank? %>
              <%= f.file_field :effect_1_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_1_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_1_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_1_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_1_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_2_mbl, "Right effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_2_mbl.nil? || @discoverproduct.effect_2_mbl.blank? %>
              <%= f.file_field :effect_2_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_2_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_2_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_2_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_2_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_3_mbl, "Top effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_3_mbl.nil? || @discoverproduct.effect_3_mbl.blank? %>
              <%= f.file_field :effect_3_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_3_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_3_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_3_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_3_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_4_mbl, "Bottom effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_4_mbl.nil? || @discoverproduct.effect_4_mbl.blank? %>
              <%= f.file_field :effect_4_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_4_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_4_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_4_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_4_mbl %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3" >
        <div class="card-body">
          <h3>Image Mobile in  English</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :main_mbl_en, :class => 'control-label' %>
                <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
                <% if @discoverproduct.main_mbl_en.nil? || @discoverproduct.main_mbl_en.blank? %>
                <%= f.file_field :main_mbl_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                <% else %>
                <%= f.file_field :main_mbl_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.main_mbl_en.url %>
                <% end %>
                <%=f.error_span(:main_mbl_en) %>
                <p>
                  <label>
                    <%= f.check_box :remove_main_mbl_en %>
                    Remove image
                  </label>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <%= f.label :background_mbl_en, :class => 'control-label' %>
              <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
              <% if @discoverproduct.main.nil? || @discoverproduct.main.blank? %>
              <%= f.file_field :background_mbl_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :background_mbl_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.background_mbl_en.url %>
              <% end %>
              <%=f.error_span(:background_mbl_en) %>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <%= f.label :tp_1_image_1_en, "Left effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_1_en.nil? || @discoverproduct.tp_1_image_1_en.blank? %>
              <%= f.file_field :effect_1_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_1_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_1_en_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_1_en_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_1_en_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_2_en_mbl, "Right effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_2_en_mbl.nil? || @discoverproduct.effect_2_en_mbl.blank? %>
              <%= f.file_field :effect_2_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_2_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_2_en_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_2_en_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_2_en_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_3_en_mbl, "Top effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_3_en_mbl.nil? || @discoverproduct.effect_3_en_mbl.blank? %>
              <%= f.file_field :effect_3_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_3_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_3_en_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_3_en_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_3_en_mbl %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :effect_4_en_mbl, "Bottom effect", :class => 'control-label' %>
              <% if @discoverproduct.effect_4_en_mbl.nil? || @discoverproduct.effect_4_en_mbl.blank? %>
              <%= f.file_field :effect_4_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :effect_4_en_mbl, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.effect_4_en_mbl.url %>
              <% end %>
              <%=f.error_span(:effect_4_en_mbl) %>
              <p>
                <label>
                  <%= f.check_box :remove_effect_4_en_mbl %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="template d-none" id="tmplt-custom">
      <div class="card">
        <div class="card-body">
          <div class="row">
          <div class="col-md-4">
            <%= f.label :animated_1, :class => 'control-label' %>
            <% if @discoverproduct.animated_1.nil? || @discoverproduct.animated_1.blank? %>
            <%= f.file_field :animated_1, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_1, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_1.url %>
            <% end %>
            <%=f.error_span(:animated_1) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_1 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_2, :class => 'control-label' %>
            <% if @discoverproduct.animated_2.nil? || @discoverproduct.animated_2.blank? %>
            <%= f.file_field :animated_2, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_2, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_2.url %>
            <% end %>
            <%=f.error_span(:animated_2) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_2 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_3, :class => 'control-label' %>
            <% if @discoverproduct.animated_3.nil? || @discoverproduct.animated_3.blank? %>
            <%= f.file_field :animated_3, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_3, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_3.url %>
            <% end %>
            <%=f.error_span(:animated_3) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_3 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_4, :class => 'control-label' %>
            <% if @discoverproduct.animated_4.nil? || @discoverproduct.animated_4.blank? %>
            <%= f.file_field :animated_4, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_4, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_4.url %>
            <% end %>
            <%=f.error_span(:animated_4) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_4 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_5, :class => 'control-label' %>
            <% if @discoverproduct.animated_5.nil? || @discoverproduct.animated_5.blank? %>
            <%= f.file_field :animated_5, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_5, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_5.url %>
            <% end %>
            <%=f.error_span(:animated_5) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_5 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_6, :class => 'control-label' %>
            <% if @discoverproduct.animated_6.nil? || @discoverproduct.animated_6.blank? %>
            <%= f.file_field :animated_6, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_6, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_6.url %>
            <% end %>
            <%=f.error_span(:animated_6) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_6 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_7, :class => 'control-label' %>
            <% if @discoverproduct.animated_7.nil? || @discoverproduct.animated_7.blank? %>
            <%= f.file_field :animated_7, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_7, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_7.url %>
            <% end %>
            <%=f.error_span(:animated_7) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_7 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_8, :class => 'control-label' %>
            <% if @discoverproduct.animated_8.nil? || @discoverproduct.animated_8.blank? %>
            <%= f.file_field :animated_8, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_8, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_8.url %>
            <% end %>
            <%=f.error_span(:animated_8) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_8 %>
                Remove image
              </label>
            </p>
          </div>
          <div class="col-md-4">
            <%= f.label :animated_9, :class => 'control-label' %>
            <% if @discoverproduct.animated_9.nil? || @discoverproduct.animated_9.blank? %>
            <%= f.file_field :animated_9, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :animated_9, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.animated_9.url %>
            <% end %>
            <%=f.error_span(:animated_9) %>
            <p>
              <label>
                <%= f.check_box :remove_animated_9 %>
                Remove image
              </label>
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="card mt-3" >
      <div class="card-body">
        <h3>Image in Indonesia</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :main, :class => 'control-label' %>
              <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
              <% if @discoverproduct.main.nil? || @discoverproduct.main.blank? %>
              <%= f.file_field :main, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :main, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.main.url %>
              <% end %>
              <%=f.error_span(:main) %>
              <p>
                <label>
                  <%= f.check_box :remove_main %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.label :background, :class => 'control-label' %>
            <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
            <% if @discoverproduct.main.nil? || @discoverproduct.main.blank? %>
            <%= f.file_field :background, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :background, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.background.url %>
            <% end %>
            <%=f.error_span(:background) %>
          </div>
        </div>
      </div>
    </div>

    <div class="template" id="tmplt-basic">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col">
              <%= f.label :tp_1_image_1, "Left effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_1.nil? || @discoverproduct.tp_1_image_1.blank? %>
              <%= f.file_field :tp_1_image_1, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_1, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_1.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_1) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_1 %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_2, "Right effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_2.nil? || @discoverproduct.tp_1_image_2.blank? %>
              <%= f.file_field :tp_1_image_2, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_2, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_2.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_2) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_2 %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_3, "Top effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_3.nil? || @discoverproduct.tp_1_image_3.blank? %>
              <%= f.file_field :tp_1_image_3, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_3, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_3.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_3) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_3 %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_4, "Bottom effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_4.nil? || @discoverproduct.tp_1_image_4.blank? %>
              <%= f.file_field :tp_1_image_4, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_4, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_4.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_4) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_4 %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3" >
        <div class="card-body">
          <h3>Image in English</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :main_en, :class => 'control-label' %>
                <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
                <% if @discoverproduct.main_en.nil? || @discoverproduct.main_en.blank? %>
                <%= f.file_field :main_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                <% else %>
                <%= f.file_field :main_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.main_en.url %>
                <% end %>
                <%=f.error_span(:main_en) %>
                <p>
                  <label>
                    <%= f.check_box :remove_main_en %>
                    Remove image
                  </label>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <%= f.label :background_en, :class => 'control-label' %>
              <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
              <% if @discoverproduct.main.nil? || @discoverproduct.main.blank? %>
              <%= f.file_field :background_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :background_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.background_en.url %>
              <% end %>
              <%=f.error_span(:background_en) %>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
        
          <div class="row">
            <div class="col">
              <%= f.label :tp_1_image_1_en, "Left effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_1_en.nil? || @discoverproduct.tp_1_image_1_en.blank? %>
              <%= f.file_field :tp_1_image_1_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_1_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_1_en.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_1_en) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_1_en %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_2_en, "Right effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_2_en.nil? || @discoverproduct.tp_1_image_2_en.blank? %>
              <%= f.file_field :tp_1_image_2_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_2_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_2_en.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_2_en) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_2_en %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_3_en, "Top effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_3_en.nil? || @discoverproduct.tp_1_image_3_en.blank? %>
              <%= f.file_field :tp_1_image_3_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_3_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_3_en.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_3_en) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_3_en %>
                  Remove image
                </label>
              </p>
            </div>
            <div class="col">
              <%= f.label :tp_1_image_4_en, "Bottom effect", :class => 'control-label' %>
              <% if @discoverproduct.tp_1_image_4_en.nil? || @discoverproduct.tp_1_image_4_en.blank? %>
              <%= f.file_field :tp_1_image_4_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :tp_1_image_4_en, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.tp_1_image_4_en.url %>
              <% end %>
              <%=f.error_span(:tp_1_image_4_en) %>
              <p>
                <label>
                  <%= f.check_box :remove_tp_1_image_4_en %>
                  Remove image
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fll-image">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :full_image,'Full image Desktop', :class => 'control-label' %>
              <p>Max File Size 500KB | Max Width:1080 and Height 1672px</p>
              <% if @discoverproduct.full_image.nil? || @discoverproduct.full_image.blank? %>
              <%= f.file_field :full_image, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
              <%= f.file_field :full_image, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.full_image.url %>
              <% end %>
              <%=f.error_span(:full_image) %>
            </div>
          </div>
          <div class="col-md-6">
            <%= f.label :full_image_mobile, :class => 'control-label' %>
            <p>Max File Size 500KB | Max Width:1080 and Height 630px</p>
            <% if @discoverproduct.full_image_mobile.nil? || @discoverproduct.full_image_mobile.blank? %>
            <%= f.file_field :full_image_mobile, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :full_image_mobile, :class => 'dropify','data-height'=>"350",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @discoverproduct.full_image_mobile.url %>
            <% end %>
            <%=f.error_span(:full_image_mobile) %>
          </div>
        </div>

      </div>
    </div>
  </div>





  <div class="card" >
    <div class="card-body">
      <div class="form-group">
        <div class="text-center">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          discoverproducts_path, :class => 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
  $(document).ready(function() {
    $(".table").dataTable();
    $("#btn-fl-image").click(function (){
      $('#cst-code').hide();
      $('#animated').hide();
      $('#fll-image').show();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-fl-image").addClass('btn-info');
      $('#hr-status').val('fl-image');
    });
    $("#btn-cst-code").click(function (){
      $('#cst-code').show();
      $('#animated').hide();
      $('#fll-image').hide();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-cst-code").addClass('btn-info');
      $('#hr-status').val('cst-code');
    });
    $("#btn-ant").click(function (){
      $('#cst-code').hide();
      $('#animated').show();
      $('#fll-image').hide();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-ant").addClass('btn-info');
      $('#hr-status').val('animated');
    });
    <% if @discoverproduct.slider_type == "animated" %>
    $("#btn-ant").click();
    <% elsif  @discoverproduct.slider_type == "cst-code" %>
    $("#btn-cst-code").click();
    <% else %>
    $("#btn-fl-image").click();
    <% end %>
  });
</script>



<% end %>

<script>
var editor = ace.edit("editors",{
  autoScrollEditorIntoView: true,
  maxLines: 30,
  minLines: 20
});
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/html");
var textarea = $('#get-editor').hide();
editor.getSession().setValue(textarea.val());
editor.getSession().on('change', function(){
  textarea.val(editor.getSession().getValue());
});
$("#discoverproduct_hide_title").bootstrapSwitch();
</script>

<script type="text/javascript">
$('#discoverproduct_animated_type').change(function()  {
  if (  $('#discoverproduct_animated_type').val() === "Simple") {
    $('.template').hide();
    $('#tmplt-basic').show();

  }
  else {
    $('.template').hide();
    $('#tmplt-custom').show();
  }
});
</script>
