<%- model_class = Discoverproduct -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModal">
            New
          </button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:title_id) %></th>
                <th><%= model_class.human_attribute_name(:slider_type) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @discoverproducts.each do |discoverproduct| %>
              <tr>
                <td><%= link_to discoverproduct.id, discoverproduct_path(discoverproduct) %></td>
                <td><%= discoverproduct.title_id %></td>

                <td><%= discoverproduct.slider_type %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  discoverproduct_path(discoverproduct), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_discoverproduct_path(discoverproduct), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  discoverproduct_path(discoverproduct),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".table").dataTable();
  });
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-4">
            <p>Slider  Animated Template</p>
            <%= link_to "Create with full image ", new_discoverproduct_path(slider_type: "animated"), :class => 'btn btn-success mb-2' %>
          </div>

          <div class="col-md-4">
            <p>Slider  Full Image</p>

            <%= link_to "Create with full image ", new_discoverproduct_path(slider_type: "full image"), :class => 'btn btn-success mb-2' %>
          </div>
          <div class="col-md-4">
            <p>Slider Type Custom Code</p>

            <%= link_to "Create with custom code", new_discoverproduct_path(slider_type: "custom code"), :class => 'btn btn-success mb-2' %>
            <p><small>check <a href="https://getbootstrap.com/docs/4.3/components/carousel/">getbootstrap.com</a></small> for documentation</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
