<%- model_class = Discoverproduct -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title_id) %>:</strong></dt>
  <dd><%= @discoverproduct.title_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title_en) %>:</strong></dt>
  <dd><%= @discoverproduct.title_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_id) %>:</strong></dt>
  <dd><%= @discoverproduct.content_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_en) %>:</strong></dt>
  <dd><%= @discoverproduct.content_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_1_image_1) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_1_image_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_1_image_2) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_1_image_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_1_image_3) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_1_image_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_1_image_4) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_1_image_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_1_image_5) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_1_image_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_image_6) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_image_6 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_2_image_1) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_2_image_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_2_image_3) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_2_image_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_3_image_3) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_3_image_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tp_3_image_4) %>:</strong></dt>
  <dd><%= @discoverproduct.tp_3_image_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:full_image) %>:</strong></dt>
  <dd><%= @discoverproduct.full_image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= @discoverproduct.link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:custom) %>:</strong></dt>
  <dd><%= @discoverproduct.main %></dd>
  <dd><%= @discoverproduct.background %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              discoverproducts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_discoverproduct_path(@discoverproduct), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              discoverproduct_path(@discoverproduct),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
