<% if @page.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@page.errors.count, "error") %> </h3>
    <p>prohibited this user from being saved:</p>
    <ul>
      <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @page, :html => { :class => "form-horizontal page" } do |f| %>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :title_id,"Title in Indonesia", :class => 'control-label' %>
                <%= f.text_field :title_id, :class => 'form-control', required: true %>
                <%=f.error_span(:title_id) %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :meta_description_id,'Meta description in Indonesia', :class => 'control-label' %>
                <%= f.text_area :meta_description_id, :class => 'form-control' %>
                <%=f.error_span(:meta_descriptio_idn) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :title_en,"Title in English", :class => 'control-label' %>
                <%= f.text_field :title_en, :class => 'form-control' %>
                <%=f.error_span(:title_en) %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :meta_description_id,'Meta description in English', :class => 'control-label' %>
                <%= f.text_area :meta_description_id, :class => 'form-control' %>
                <%=f.error_span(:meta_descriptio_idn) %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :background,"Background Image", :class => 'control-label' %><p><small>Max file size: 1Mb</small></p>
            <% if @page.background.nil? || @page.background.blank? %>
            <%= f.file_field :background, :class => 'dropify','data-height'=>"300",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
            <%= f.file_field :background, :class => 'dropify','data-height'=>"300",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @page.background.url %>
            <% end %>
            <%=f.error_span(:background) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% unless @page.slug =="list-product" || @page.slug =="discover-product" || @page.slug =="simulasikeuntungan" || @page.slug =="list-blog" || @page.slug == "be-a-seller" || @page.slug == "request-sample" || @page.slug == "request-sample" || @page.slug == "page-grab-our-ice-cream" %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :content_id,"Conten ID", :class => 'control-label' %>
                <%= f.cktext_area :content_id, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
                <%=f.error_span(:content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :content_en,"Conten EN", :class => 'control-label' %>
                <%= f.cktext_area :content_en, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
                <%=f.error_span(:content) %>
              </div>
            </div>

            <div class="col-md-12 text-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.submit nil, :class => 'btn btn-success' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),pages_path, :class => 'btn btn-light' %>
      </div>
    </div>
  </div>
<% end %>
