<style type="text/css">
.coklat1{
  position: absolute;
  height: 180px;
  top: 12vh;
  right:3vw;
  z-index:10;
}
.coklat2{
  position: absolute;
  height: 180px;
  bottom: 3vh;
  right:1vw;
  z-index:5;
}
.coklat3{
  position: absolute;
  right: 0;
  bottom:20vh;
  width:200px;
}
.titlepage{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color:#0060af;
}
.paper p{
  text-transform: uppercase;
  letter-spacing: .2em;
  color:#0060af;
  font-weight: 300;
  font-size: .7em;
  line-height: 2;
  margin-bottom:1em;
}
.headerhome,.socmed{
  opacity: 1;
}

.text-benefit{
  font-weight:300;
  color: #1864ae;
  font-size:20px;
  line-height: 1;
}
.text-ds{
  font-weight:300;margin-top:20px;color: #1864ae;font-size:26px;
}

button:focus{
  outline: none;
}
.fancybox-close-small:focus:after {
  outline: none;
}
.fancybox-is-open .fancybox-bg{
  opacity: .5;
}
.fancybox-close-small:after{
  font:40px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:#0060af;
}
.fancybox-slide > div{
  width:690px;
  max-width: 95%;
}
.hidden-content{
  color: #0060af;
}
.hidden-content h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #0060af;
}
.hidden-content .columns{
  margin-bottom: 0;
}
.notification{
  font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af !important;
  letter-spacing: .4em;
  font-size: 11px;
}
.notification p{
  font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af !important;
  letter-spacing: .4em;
  font-size: 11px;
  margin-bottom:0;
}
.p-section{
  padding-top: 40vh !important;
}

.nanas8 {
  height: 80px;
  top: 0 !important;
  left: 20vw;
}
@media (max-width: 769px){

  .paper{
    margin: 0 0px;
  }
  .coklat1,.coklat2{
    right:-6vw;
  }
  .paper > .wrappadding{
    min-height: 75vh;
  }
  .nanas8 {
    height: 80px;
    top: 0;
    left: 20vw;
  }
}
@media (max-width: 740px)
{
  .coklat1,.coklat2{
    right:0vw;
    max-height: 100px;
  }
  .coklat3 {
    max-width: 120px;
  }
  .nanas1{
    max-height: 100px;
  }
  .nanas2{
    max-height: 100px;
  }
  .nanas2{
    max-height: 120px;
    bottom: 10vh;
  }
  .contentterms{
    height: 70vh;
  }
  .paper > .wrappadding{
    padding-bottom: 5rem;
  }
  .variantpros{
    height: 0;
  }
}
@media (max-width: 500px)
{
  .contentsection{
    padding-bottom: 27vh !important;
  }
  .text-ds{
    font-weight:300;margin-top:20px;color: #1864ae;font-size:19px;
  }
  .p-section{
    padding: 0 !important;
  }
  .text-benefit{
    font-size: 15px;
  }
  .contentterms{
    height: 80vh;
  }
  .titlepage{
    font-size:1.8rem;
  }
  .coklat2{
    bottom:10vh;
  }
  .coklat1, .coklat2{
    right: -7vw;
  }
  .coklat3{
    bottom: 30vh;
  }
  .paper > .wrappadding{
    padding:2rem 1.5rem;
    padding-bottom: 7rem;
  }
  .titlepage{
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
  .pb-0{
    padding-bottom: 0;
  }
  .hidden-content h1{
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
@media (max-width: 390px)
{
  .hidden-content{
    font-size: .9rem;
  }
}
@media (max-width: 330px)
{
  .hidden-content{
    font-size: .8rem;
  }
}
</style>

  <div class="d-sm-block d-md-none" style="background: #fcd400;padding-top: 13vh;">
      <% if I18n.locale.to_s == "id" %>
    <img class="w-100 " src="<%= asset_url('static/image-banner-mobile.png')%>" >
      <% else %>
    <img class="w-100 " src="<%= asset_url('static/new-en.png')%>" >
      <% end %>
  </div>
  <section id="contentsection" class="contentsection d-none d-md-block" style="overflow:visible;  background-color: #ffd400;">
    <div id="load" class="contenthomeslide contenview">

    <div id="wrappingshow">
      <div class="nanas">
        <% if I18n.locale.to_s == "id" %>
        <img class="img-fluid nanas1 naanimation animated opacity0" src="<%= asset_url('static/aeskrimbox.png')%>" style=" position: absolute;height: 45vh;top: 25vh;left: 50vw;right: 0;" >
          <% else %>
		          <img class="img-fluid nanas1 naanimation animated opacity0 d-none d-md-block " src="<%= asset_url('static/aeskrimbox-en.png')%>" style=" position: absolute;height: 45vh;top: 25vh;left: 50vw;right: 0;" >

        <% end %>
        <img class="img-fluid nanas2 naanimation animated opacity0" src="<%= asset_url('static/avatar1.png')%>"style="height:90vh;bottom:0;left:10vw;">
        <img class="img-fluid coklat3 naanimation animated opacity0" src="<%= asset_url('static/borderbawah.png')%>"style="bottom:0;width:100%;bottom: 0px;width: 100%;height: auto;top: 67%;left: 0;z-index:0;">
        <img class="img-fluid coklat2 naanimation animated opacity0" src="<%= asset_url('static/icecream-bottom.png')%>" style="     position: absolute;height: 35vh;bottom: 0;left: 70%;right: 10vh;" >
      </div>
      <script type="text/javascript">
      $(document).ready(function(){
        function updateVariant() {
          var allVals = [];
          $('#hidden-content :checked').each(function() {
            allVals.push($(this).val());
          });
          $('#variant').val(allVals);
        }
        $('.btn-selected').on('click',function(){
          updateVariant();
        });
        var width = $('.g-recaptcha').parent().width();
        if (width < 302) {
          var scale = width / 302;
          $('.g-recaptcha').css('transform', 'scale(' + scale + ')');
          $('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
          $('.g-recaptcha').css('transform-origin', '0 0');
          $('.g-recaptcha').css('-webkit-transform-origin', '0 0');
        }
        $(window).resize(function(){
          width = $('.g-recaptcha').parent().width();
          if (width < 302) {
            var scale = width / 302;
            $('.g-recaptcha').css('transform', 'scale(' + scale + ')');
            $('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
            $('.g-recaptcha').css('transform-origin', '0 0');
            $('.g-recaptcha').css('-webkit-transform-origin', '0 0');
          }
        });
        $('.firstmenu').removeClass('active');
        $('[beaseller]').addClass('active');

          $('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){
            $('.nanas8').animate({'opacity':1},100,function(){

                $('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');
                $('.coklat1').animate({'opacity': 1},100,function(){
                  setTimeout(function(){
                    $('.nanas1').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                    $('.nanas2').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                  },300);
                }).addClass('fadeInUp');
                $('.coklat2').animate({'opacity': 1},100,function(){
                  $('.coklat3').animate({'opacity': 1},100,function(){
                    $('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
                    setTimeout(function(){
                      $('.contentterms').animate({'opacity' : 1},1000,function(){

                      }).addClass('fadeInUp');
                    },1000);
                  }).addClass('fadeInUp');
                }).addClass('fadeInUp');
              }).addClass('fadeInUp');
            }).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);



            $('.delete').on('click',function(){
              $(this).parent().remove();
            });
          });
          </script>
        </div>

        </div>
      </section>
      <section class="p-section" style="background-color: #ffd400;background-repeat: no-repeat;background-size: 100%;background-position: center bottom;margin: 0;padding: 0;position: relative;overflow: visible;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;padding-top:10vh;padding-top:40vh;" >
        <div class="container">
          <% if I18n.locale.to_s == "id" %>
            <img src="<%= asset_url('static/title-reseler.png')%>" alt="joyday become reseller" style="max-width:100%;display:block;margin:auto;">
            <% else %>
          <img src="<%= asset_url('static/title-reseler-en.png')%>" alt="joyday become reseller" class="d-none d-md-block w-75" style="max-width:100%;display:block;margin:auto;">
          <% end %>

          <div class="d-block pt-5">
            <div class="row " style="align-items:center;justify-content:center;">
              <div class="col-md-6">
                <div class="row" style="align-items:center;margin-bottom:15px;">
                  <div class="col col-md-1">
                    <img src="<%= asset_url('static/iocn1.png')%>" alt="resmi 1" style="width:40px;">
                  </div>
                  <div class="col-10">
                    <p class="text-benefit">
                      <%= t('benefit1') %>
                    </p>
                  </div>
                </div>
                <div class="row" style="align-items:center;margin-bottom:15px;">
                  <div class="col col-md-1">
                    <img src="<%= asset_url('static/iocn2.png')%>" alt="resmi 1" style="width:40px;">
                  </div>
                  <div class="col-10">
                    <p class="text-benefit">
                      <%= t('benefit2') %>
                    </p>
                  </div>
                </div>
                <div class="row" style="align-items:center;margin-bottom:15px;">
                  <div class="col col-md-1">
                    <img src="<%= asset_url('static/iocn3.png')%>" alt="resmi 1" style="width:40px;">
                  </div>
                  <div class="col-10">
                    <p class="text-benefit">
                        <%= t('benefit3') %>
                    </p>
                  </div>
                </div>
                <div class="row" style="align-items:center;margin-bottom:15px;">
                  <div class="col-1">

                  </div>

                  <div class="col-10 p-0 text-center text-md-left">
                    <a href="<%= simulasikeuntungan_path %>" class="btn " style="background: #005b9c;color: white;margin-top:10px">
                      <%= t('btnsiml') %>
                    </a>
                    <p style="" class="text-ds">
                      <%= t('scrldwn') %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="<%= asset_url('static/iabal.png')%>" alt="iqbal ramadhan joyday" style="width:100%;">
              </div>
            </div>

          </div>

        </section>
      </div>
      <div style="background-color: #ffd400">
        <img src="<%= asset_url('static/banner bawah.png')%>" alt="joyday 2019" style="width:100%;">
      </div>
      <section class="contentsection" style="background-color: #f8f5bd;background-repeat: no-repeat;background-size: 100%;background-position: center bottom;padding-bottom: 25vh;position: relative;overflow: hidden;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;">

        <img class="img-fluid nanas1 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas1.png')%>">
        <img class="img-fluid nanas2 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas2.png')%>" style="z-index:2;top:100%;">
        <img class="img-fluid nanas8 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas6.png')%>">
        <img class="img-fluid coklat1 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat1.png')%>" style="top: 100%;">
        <img class="img-fluid nanas5 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas5.png')%>">
        <img class="img-fluid coklat2 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat2.png')%>">
        <img class="img-fluid coklat3 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat3.png')%>" style="top:100%;">
        <div class="contentterms animated <?php echo $this->input->get('status') != '' ? '':'opacity0'; ?>" style="position:relative; height: 100%;">
          <div class="contentterm height100percent" style="background: #f8f5bd;">
            <div class="container height100percent container1000" style="">
              <% if I18n.locale.to_s == "id" %>
              <h1 class="titlepage"> Ayo isi data berikut untuk jadi Mitra Joyday!</h1>
            <% else %>
            <h1 class="titlepage">Let's fill in the form to become a joyday partner</h1>
            <% end %>


              <div class="row height100percent">
                <div class="col-md-12 height100percent ">
                  <div ss-container class="paper ss-container" style="max-height:100%;">
                    <div class="wrappadding" style="background-color: transparent;box-shadow: none;height: 100%;padding: 0;min-height: unset;">

                      <%= form_for @beaseller  do |f| %>
                        <div class="columns">
                          <div class="column">
                            <div class="field">
                              <div class="field-body">
                                <div class="field">
                                  <label class="label labelform mb-2" for="name"><span class="en"><%= t('name') %></span></label>
                                  <p class="control is-expanded">
                                    <%= f.text_field :name, :class => 'input name', required: true %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="columns">
                          <div class="column">
                            <div class="field">
                              <div class="field-body">
                                <div class="field">
                                  <label class="label labelform mb-2" for="email">Email</label>
                                  <p class="control is-expanded">
                                    <%= f.email_field :email, :class => 'input name', required: true %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="column">
                            <div class="field">
                              <div class="field-body">
                                <div class="field">
                                  <label class="label labelform mb-2" for="phone"><span class="en"><%= t('phone') %></span></label>
                                  <p class="control is-expanded">
                                    <%= f.text_field :phone_number, :class => 'form-control',required:true %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="columns">
                          <div class="column">
                            <div class="field">
                              <div class="field-body">
                                <div class="field">
                                  <label class="label labelform mb-2" for="address"><span class="en"><%= t('alamat') %></span></label>
                                  <p class="control is-expanded">
                                    <%= f.text_area :address, :class => 'textarea',rows: 3,required:true %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column">
                            <div class="field">
                              <div class="field-body mb-15">
                                <div class="field">
                                  <label class="label labelform" for="propinsi_id"><span class="en"><%= t('propinsi') %></span></label>
                                  <div class="control is-expanded">
                                    <div class="select is-fullwidth">
                                      <%= f.collection_select :province, Province.order(:name), :name , :name, style: "display:block;include_blank: true", :prompt => "Select Provinsi", class: 'form-control',required:true %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <label class="label labelform" required for="kabkota_id"><span class="en"><%= t('kota') %></span></label>
                                  <div class="control is-expanded">
                                    <div class="select is-fullwidth">
                                      <%= f.grouped_collection_select :city, Province.order(:name), :regencies, :name, :name , :name, style: "width:275px;display:block", :prompt => "Select Area", required: true, class: 'form-control',required:true %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="columns">
                          <div class="column">
                            <div class="field">
                              <div class="field-body mb-10">
                                <div class="field">
                                  <label class="label labelform mb-2"><%= t('captcha') %></label>
                                  <script src='https://www.google.com/recaptcha/api.js'></script>
                                  <div class="g-recaptcha"  data-sitekey="6LdsblMUAAAAALd-yaO4tNjuKu86UdjXRCdDyrI_" style="transform:scale(1);-webkit-transform:scale(1);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column">
                            <button class="button is-link is-outlined float-right btnform" style="height: 2.5rem; width:100px;text-align:center;">Kirim</button>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
        <div class="copyright absolute animated opacity0">
          <div class="footermenu">
            <a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
            <a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
            <a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
          </div>
        </div>
        <div class="imgfooter imgfooter1 opacity0 animated">
          <img class="img-fluid img100percent" src="<%=asset_url('static/footer.png')%>" alt="shadowyellow"/>
        </div>
        <div class="imgfooter imgfooter2 opacity0 animated">
          <img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
        </div>
        <div class="imgfooter imgfooter3 opacity0 animated">
          <img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
        </div>

        <script type="text/javascript">
            var locations;
            var areas;
            $('#beaseller_city').attr('required', 'required');
            $('#beaseller_province').attr('required', 'required');
            areas = $('#beaseller_province').html();
            locations = $('#beaseller_city').html();

            $('#beaseller_province').change(function () {
              var region,
              escaped_region,
              options;
              region = $('#beaseller_province :selected').text();
              escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
              options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
              if (options) {
                $('#beaseller_city').html(options);
                return $('#beaseller_city').removeAttr("disabled");

              } else {
                $('#beaseller_city').empty();
                return $('#beaseller_city').attr('required', 'required');
                return $('#beaseller_province').addClass("hide");

              }

            });
            </script>
