
<section id="contentsection" class="contentsection">
  <div id="load" class="contenthomeslide contenview">
    <script type="text/javascript">
      // Joyday logo
      var logo = $('.logo > img');
      logo.animate({'opacity':1});
      $(document).ready(function() {
        var $width = $(window).width();
        var $height = $(window).height();
        // console.log('$width:'+$width);
        // console.log('$height:'+$height);
      });
    </script>
    <style type="text/css">
      <% Discoverproduct.where(slider_type: "animated").order(created_at: :asc).each_with_index do |x, i| %>
      .bean1x<%= x.id %>{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
      }
      .bean2x<%= x.id %>{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
      }
      .bean3x<%= x.id %>{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
      }
      .bean4x<%= x.id %>{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
      }
      <% end %>

      a:not([href]):not([tabindex]):hover{
        color:white !important;
      }

      .hoverimage{ opacity:1; }

      .slidedesktop { display: block; }
      #wrappsliderdesktop{
        background-color:transparent;
        position: relative;
        width: 100vw;
        height: 100vh;
      }
      .contenslide{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
      }
      #wrappsliderdesktop.bgbigccm{
        background-color: #eab929;
        background-image: url('<%= asset_url('static/ccm/bgbigccm.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigccb{
        background-color: #bd3990;
        background-image: url('<%= asset_url('static/ccb/bgbigccb.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigjujube{
        background-color: #cf6754;
        background-image: url('<%= asset_url('static/jujube/bgbigjujube.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbighoneydew{
        background-color: #77b493;
        background-image: url('<%= asset_url('static/honeydew/bgbighoneydew.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigccv{
        background-color: #662021;
        background-image: url('<%= asset_url('static/ccv/bgbigccv.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigvms{
        background-color: #faf182;
        background-image: url('<%= asset_url('static/bgbigvms.png')%>');
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }

      #wrappsliderdesktop.bgbigtms{
        background-color: #009caf;
        background-image: url('<%= asset_url('static/tms/bgbigtms.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigcbc{
        background-color: #ad702e;
        background-image: url('<%= asset_url('static/cbc/bgbigcbc.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigsc{
        background-color: #8ece7b;
        background-image: url('<%= asset_url('static/sc/bgbigsc.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigbb{
        background-color: #2a2f86;
        background-image: url('<%= asset_url('static/bb/bgbigbb.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgbigcpa{
        background-color: #ffd400;
        background-image: url('<%= asset_url('static/cpa/bgbigcpa.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgslider{
        background-color: #fcc127;
        background-image: url('<%= asset_url('static/slider/bgslider.jpg')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgdillan{
        background-color: #ffd400;
        background-image: url('<%= asset_url('static/dillan/dillan-banner-0.png')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgmilky{
        background-color: #ffd400;
        background-image: url('<%= asset_url('static/milky/bgbigmilky.jpg')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      #wrappsliderdesktop.bgmocha{
        background-color: #ffd400;
        background-image: url('<%= asset_url('static/mocha/bgbigmocha.jpg')%>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      <% Discoverproduct.where(slider_type: "animated").each do |x| %>
      #wrappsliderdesktop.bgbeanx<%= x.id %>{
        background-color: #ffd400;
        background-image: url('<%= x.background  %>');
        background-size:cover;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      }
      <% end %>

      /* .button-request {
      margin-top:8rem !important;
      margin-left:6rem !important;
      display:block !important;
      background-size:cover !important;
    }
    .button-request, .button-request-mobile {
    border:0 !important;
    border-radius:0 !important;
    width:218px !important;
    height:64px !important;
    max-width:218px !important;
    max-height:64px !important;
    background-size:100% !important;
    background-repeat:no-repeat !important;
  }
  @media (min-width:400.8px) {
  .button-request-mobile {
  margin-top:18rem !important;
}
}
@media (min-width: 320px) and (max-width: 849px) {
.button-request-mobile {
margin-top:15rem !important;
-webkit-transform:scale(0.9);
-ms-transform:scale(0.7);
transform:scale(0.7);
}
} */

/* .bgslider3mobile {
-webkit-transform:scale(0.7);
-ms-transform:scale(0.7);
transform:scale(0.7);
} */
@media (max-width: 390px)
{
  .mobile-ccb4{
    bottom:13vh;
  }
  .mobile-ccm4{
    bottom: 20vh;
  }

  .mobile-sc1{
    top: 5vh;
    left: 0;
    height: 150px;
  }
  .mobile-sc2{
    bottom: 18vh;
    left: 8vw;
    height: 70px;
  }
  .mobile-sc3 {
    top: 10vh;
    right: 15vw;
    height: 60px;
  }
  .mobile-sc4 {
    bottom: 9vh;
    right: -10vw;
    /* height: 120px; */
  }
  .mobile-sc5{
    bottom: 35vh;
    height: 100px;
    right: -60px;
  }

  .mobile-bb1{
    top: 5vh;
    left: 0;
    height: 100px;
  }
  .mobile-bb2{
    bottom: 18vh;
    left: 5vw;
    height:120px;
  }
  .mobile-bb3 {
    top: 10vh;
    right: 15vw;
    height: 60px;
  }
  .mobile-bb4 {
    bottom: 6vh;
    right: 5vw;
    height: 70px;
  }
  .mobile-bb5{
    bottom: 35vh;
    height: 70px;
    right: -45px;
  }

  .mobile-bgdillan1{
    bottom: 5vh !important;
  }
  .mobile-bgdillan2{
    bottom: 9vh !important;
  }
  .mobile-bgdillan4 {
    bottom: 10vh !important;
    width:70vh !important;
  }

}
@media (max-width: 500px)
{
  .close-smalle{
    right:20px;
  }
  #wrappingshow .detail-product{
    width: 95vw;
    margin: 0 10px;
    left:0vw;
    transform: translateX(0);
  }
  #main-product{
    margin-top:0;
  }
  #wrappingshow.showdetail .detail-product{
    top:30vh;
  }
  .product_item{
    margin:0 15px;
  }
  .description-product-detailed{
    max-width: 280px;
  }
  .carousel-fade .carousel-caption h2{
    font-size: 1.8rem;
  }
  .carousel-fade .carousel-caption p,.carousel-fade .carousel-caption a{
    font-size: .85rem;
  }
  .mobile-ccm4{
    bottom: 30vh;
    right: 30vw;
    height: 60px;
  }
  .mobile-ccb3{
    right: 0vw;
  }
  .mobile-ccb4{
    bottom: 22vh;
  }
  .mobile-ccb5{
    left: 15vw;
    height: 100px;
  }
  .mobile-jujube1{
    top: 20vh;
    height: 50px;
  }
  .mobile-jujube2{
    top: 35vh;
    left: 7vw;
    height: 80px;
  }
  .mobile-jujube3{
    top: 60vh;
    left: 7vw;
    height: 60px;
  }
  .mobile-jujube4{
    bottom:8vh;
  }
  .mobile-jujube5{
    height: 250px;
  }
  .mobile-jujube6{
    bottom: 32vh;
  }
  .mobile-jujube7{
    top: 20vh;
  }
  .mobile-honeydew1{
    width:200vw;
    max-width: 200vw;
  }
  .mobile-honeydew4{
    height: 300px;
  }
  .mobile-vms{
    bottom: 10vh;
  }
  .mobile-jujube6{
    bottom: 25vh;
  }

  .mobile-bgdillan1{
    bottom: 9vh !important;
  }
  .mobile-bgdillan2{
    bottom:8vh !important;
    right: 0vw;
  }
  .mobile-bgdillan4 {
    bottom: 10vh !important;
    width:55vh !important;
  }
}
@media (max-width: 740px)
{
  .product-info-detailed h2{
    font-size: 1.5rem;
  }
  .description-product-detailed{
    font-size: .85rem;
  }
  #main-product{
    margin-top:10vh;
  }
  #wrappingshow.showdetail .detail-product{
    top:30vh;
  }
  .product_item{
    padding-bottom: 20vh;
  }
  .mobile-ccm1{
    top: 20vh;
    left: 0;
    height: 50px;
  }
  .mobile-ccm2{
    height: 200px;
  }
  .mobile-ccm3{
    left: 35vw;
    height: 50px;
  }
  .mobile-ccm4{
    right: 40vw;
    height: 60px;
  }
  .mobile-ccm5{
    top: 25vh;
    height: 70px;
  }
  .mobile-ccb1{
    height: 200px;
  }
  .mobile-ccb2{
    top: 20vh;
    right: 0;
    height: 100px;
  }
  .mobile-ccb3{
    right: 10vw;
    height: 120px;
  }
  .mobile-ccb4{
    left: 35vw;
    height: 130px;
  }
  .mobile-ccb5{
    left: 20vw;
    height: 100px;
  }
  .mobile-jujube1{
    top: 20vh;
    height: 50px;
  }
  .mobile-jujube2{
    top: 35vh;
    left: 7vw;
    height: 80px;
  }
  .mobile-jujube3{
    top: 60vh;
    left: 7vw;
    height: 60px;
  }
  .mobile-jujube4{
    left: 25vw;
    height: 75px;
  }
  .mobile-jujube5{
    height: 180px;
  }
  .mobile-jujube6{
    bottom: 25vh;
    right: 40vw;
    height: 60px;
  }
  .mobile-jujube7{
    top: 25vh;
    right: 0;
    height: 70px;
  }
  .mobile-honeydew1{
    width:100vw;
    max-width: 100vw;
  }
  .mobile-honeydew2{
    left: 5vw;
    height: 70px;
  }
  .mobile-honeydew3{
    height: 80px;
  }
  .mobile-honeydew4{
    height: 200px;
  }
  .mobile-honeydew5{
    right:5vw;
  }
  .mobile-ccv2{
    height: 180px;
  }
  .mobile-ccv3{
    bottom: 10vh;
  }
  .mobile-ccv4{
    top: 20vh;
    right: 0;
    height: 100px;
  }
}
@media (max-width: 825px)
{
  .product-info-detailed{
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .sosmed-product-detaile{
    display: inline-block;
    margin:0 auto;
    padding:15px 0;
  }.sosmed-product-detaile li{
    float: left;
  }
  .sosmed-product-detaile li:not(:last-child){
    margin-right: 15px;
  }
  .sosmed-product-detaile:after{
    content: "";
    clear: both;
    display: block;
  }
  .product_item{
    padding-bottom: 15vh;
  }
  .imgtitle{
    text-align: center;
  }
}
@media (max-width: 850px)
{

  .slidemobile{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    /* height: 100vh; */
    display: block;
    z-index:1;
  }
  #wrappslidermobile{
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .carousel-item{ text-align: center;}
  .carousel-fade img {
    margin: 0 auto;
    /* max-height: 100vh; */
    /* max-width: 100%; */
  }
  #wrappslidermobile{
    /* background-color: #b57403; */
    background-color: transparent;
    background-image: url('<%= asset_url('static/ccm/bgccm.png')%>');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgccm{
    background-color: #b57403;
    background-image: url('<%= asset_url('static/ccm/bgccm.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgccb{
    background-color: #b57403;
    background-image: url('<%= asset_url('static/ccb/bgccb.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgjujube{
    background-color: #ed1846;
    background-image: url('<%= asset_url('static/jujube/bgjujube.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bghoneydew{
    background-color: #9fe3a8;
    background-image: url('<%= asset_url('static/honeydew/bghoneydew.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgccv{
    background-color: #541d11;
    background-image: url('<%= asset_url('static/ccv/bgccv.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgvanilla{
    background-color: #faf284;
    background-image: url('<%= asset_url('static/bgvanilla.png')%>');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgtmsmobile{
    background-color: #009caf;
    background-image: url('<%= asset_url('static/tms/bgtms.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgcbcmobile{
    background-color: #080100;
    background-image: url('<%= asset_url('static/cbc/bgcbc.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgscmobile{
    background-color: #96c878;
    background-image: url('<%= asset_url('static/sc/bgsc.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgbbmobile{
    background-color: #2a2f86;
    background-image: url('<%= asset_url('static/bb/bgbb.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgcpamobile{
    background-color: #ffd400;
    background-image: url('<%= asset_url('static/cpa/bgcpa.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgslidermobile{
    background-color: #fcc127;
    background-image: url('<%= asset_url('static/slider/bgslidermobile.jpg')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgdillanmobile{
    background-color: #fcc127;
    background-image: url('<%= asset_url('static/dillan/dillan-banner-0.png')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgmilkymobile{
    background-color: #fcc127;
    background-image: url('<%= asset_url('static/milky/bgmilky.jpg')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgmochamobile{
    background-color: #fcc127;
    background-image: url('<%= asset_url('static/mocha/bgmocha.jpg')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  #wrappslidermobile.bgbeanmobile{
    background-color: #fcc127;
    background-image: url('<%= asset_url('static/bean/bgbean.jpg')%>');
    background-size: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .contenslidemobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .wrapanimate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
  }
  .wrapanimate > div{
    position: relative;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
  }
  [class*="mobile-"]{
    position: absolute;
  }
  .mobile-ccm1{
    top: 10vh;
    left: 0;
    height: 100px;
  }
  .mobile-ccm2{
    bottom: -7vh;
    left: 0;
  }
  .mobile-ccm3 {
    top: 20vh;
    left: 20vw;
    height: 80px;
  }
  .mobile-ccm4 {
    bottom: 16vh;
    right: 1vw;
    height: 120px;
  }
  .mobile-ccm5{
    top: 15vh;
    height: 120px;
    right: -8vw;
  }
  .mobile-ccb1{
    bottom: 0;
    left: -8vw;
    height: 300px;
  }
  .mobile-ccb2{
    top: 10vh;
    right: -10vw;
    height: 158px;
  }
  .mobile-ccb3{
    bottom: 5vh;
    right: 0vw;
  }
  .mobile-ccb4{
    bottom: 15vh;
    left: 25vw;
    height: 250px;
  }
  .mobile-ccb5{
    top: 25vh;
    left: 10vw;
    height: 200px;
  }
  .mobile-jujube1{
    top: 15vh;
    left: 5vw;
  }
  .mobile-jujube2{
    top: 30vh;
    left: 3vw;
  }
  .mobile-jujube3{
    top: 50vh;
    left: 3vw;
  }
  .mobile-jujube4{
    bottom: 0vh;
    left: 15vw;
  }
  .mobile-jujube5{
    bottom: 0;
    right: 0;
  }
  .mobile-jujube6{
    bottom: 40vh;
    right: 25vw;
  }
  .mobile-jujube7{
    top: 15vh;
    right: 0;
  }
  .mobile-honeydew1{
    top:0;
    left:0;
    width:200vw;
    max-width: 200vw;
  }
  .mobile-honeydew2{
    top:20vh;
    left:0;
  }
  .mobile-honeydew3{
    bottom:20vh;
    left:0;
  }
  .mobile-honeydew4{
    bottom:0;
    right:0;
  }
  .mobile-honeydew5{
    top:20vh;
    right:15vw;
  }

  .mobile-ccv1{
    top:20vh;
    left:5vw;
  }
  .mobile-ccv2{
    bottom:0vh;
    left:0
  }
  .mobile-ccv3{
    bottom:35vh;
    right:0
  }
  .mobile-ccv4{
    top:15vh;
    right:0
  }
  .mobile-vms{
    bottom:0;
    width:100vw;
  }
  .mobile-sc1{
    top: 10vh;
    left: 0;
    height: 150px;
  }
  .mobile-sc2{
    bottom: 10vh;
    left: 20vw;
    height:88px;
  }
  .mobile-sc3 {
    top: 20vh;
    right: 5vw;
    height: 60px;
  }
  .mobile-sc4 {
    /* bottom: 20vh; */
    bottom: 6vh;
    right: 30vw;
    /* height: 120px; */
  }
  .mobile-sc5{
    bottom: 25vh;
    height: 100px;
    right: -18vw;
  }
  .mobile-sc-new{
    bottom: 26vh;
    right: 12vw;
    height: 90px;
  }

  .mobile-bb1{
    top: 10vh;
    left: 0;
    height: 150px;
  }
  .mobile-bb2{
    bottom: 10vh;
    left: 20vw;
    height:88px;
  }
  .mobile-bb3 {
    top: 20vh;
    right: 5vw;
    height: 60px;
  }
  .mobile-bb4 {
    bottom: 6vh;
    right: 30vw;
  }
  .mobile-bb5{
    bottom: 25vh;
    height: 100px;
    right: -18vw;
  }
  .mobile-bb-new{
    bottom: 26vh;
    right: 12vw;
    height: 90px;
  }

  .mobile-tms1{
    top: 14vh;
    left: 13vw;
    height: 90px;
  }
  .mobile-tms-new{
    bottom: 26vh;
    right: 12vw;
    height: 90px;
  }

  .mobile-cbc1{
    top: 14vh;
    left: 13vw;
    height: 90px;
  }
  .mobile-cbc-new{
    bottom: 26vh;
    right: 12vw;
    height: 90px;
  }

  .mobile-cpa1{
    top: 10vh;
    left: 0;
    height: 150px;
  }
  .mobile-cpa2{
    bottom: 10vh;
    left: 20vw;
    height:88px;
  }
  .mobile-cpa3 {
    top: 20vh;
    right: 15vw;
    height: 60px;
  }
  .mobile-cpa4 {
    bottom: 2vh;
    right: 20vw;
    /* height: 120px; */
  }
  .mobile-cpa5{
    bottom: 25vh;
    height: 100px;
    right: 0;
  }
  .mobile-cpa-new{
    bottom: 26vh;
    right: 12vw;
    height: 90px;
  }
  .mobile-milky1{
    bottom: 0;
    left: 0;
    /* height:100px; */
  }
  .mobile-milky2{
    bottom: 0;
    right: 0;
    /* height:100px; */
  }
  .mobile-milky3{
    bottom: 0%;
    right: 0;
    left:0;
    width:100%;
    /* height:100px; */
  }
  .mobile-milky-new {
    bottom: 38vh;
    right: 8vw;
    height: 90px;
  }
  .mobile-mocha1{
    top: 0;
    left: 0;
    /* height: 100px; */
  }
  .mobile-mocha2{
    bottom: 0vh;
    left: 0;
    /* height:400px; */
  }
  .mobile-mocha4 {
    top: 0vh;
    right: 0vw;
    /* height: 100px; */
  }
  .mobile-mocha-new{
    bottom: 50vh;
    height: 90px;
    right: 7vh;
  }
  .mobile-bean1{
    top: 0;
    left: 0;
    height: 100px;
  }
  .mobile-bean2{
    bottom: 0vh;
    left: 0;
    height:400px;
  }
  .mobile-bean3 {
    top: 0vh;
    right: 5vw;
    height: 50px;
  }
  .mobile-bean4 {
    bottom: 0vh;
    right: 0vw;
    height: 100px;
  }
  .mobile-bean5{
    bottom: 50vh;
    height: 200px;
    right: 0;
  }
  .mobile-bean6{
    bottom: 5vh;
    height: 200px;
    right: 0;
  }
  .mobile-bean7{
    bottom: 5vh;
    height: 200px;
    right: 0;
  }
  .mobile-bean-made{
    bottom: 48vh;
    left: 4vw;
    height: 60px;
  }
  .mobile-bean-new{
    bottom: 48vh;
    right: 6vw;
    height: 90px;
  }
  .bgslider3mobile {
    position:absolute;
    bottom: 26vh;
    right: 4%;
    height: 50px;
  }

  .mobile-bgdillan1{
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
  }
  .mobile-bgdillan2{
    bottom: 0vh;
    right: 0vw;
  }
  .mobile-bgdillan4 {
    bottom: 0;
    left: 0;
    width:74vh;
  }
}
@media (max-width: 1056px)
{
  .slideproduct {
    margin: 0 2rem 4rem 2rem;
  }
}

</style>



<style media="screen">
  <%= Discoverproduct.where(slider_type: "animated").each do |x| %>
  <% if x.animated_type == "Template 12" %>
  .xbean1x<%= x.id %>{
    position: absolute;
    top: 0;
    left: 0;
  }
  .xbean2x<%= x.id %>{
    position: absolute;
    /* height: 220px; */
    top: -2vh;
    left: 0;
  }
  .xbean3x<%= x.id %>{
    position: absolute;
    top: 34vh;
    left: 30vw;
    height: 70px;
  }
  .xbean4x<%= x.id %>{
    position: absolute;
    height: 80px;
    bottom: 35vh;
    left: 35vh;
    right: 11vw;
  }
  .xbean5x<%= x.id %>{
    position: absolute;
    top: 8vh;
    right: 22vw;
    height: 50vh;
  }
  .xbean6x<%= x.id %>{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .xbean7x<%= x.id %>{
    position: absolute;
    top: 0;
    right: 0;
  }
  .xbean-newx<%= x.id %> {
    position: absolute;
    bottom: 35vh;
    right: 28vw;
    height: 130px;
  }
  .xbean-madex<%= x.id %>{
    position: absolute;
    bottom: 28vh;
    left: 66vh;
  }
  <% end %>
  <% if  x.animated_type == "Template 11"  %>
  .xmocha1x<%= x.id %>{
      position: absolute;
      top: 8%;
      left: 0;
      right: 0;
      width: 75vw;
      margin: auto
  }
  .xmocha2x<%= x.id %>{
      position: absolute;
      width: 95vw;
      top: 4%;
      left: 0;
      margin: auto
  }
  .xmocha4x<%= x.id %>{
      position: absolute;
      top: 0;
      bottom: 0;
  }
  .xmocha-newx<%= x.id %> {
      position: absolute;
      bottom: 35vh;
      right: 28vw;
      height: 130px;
  }
  <% end %>

  <% x.animated_type == "Template 1"  %>
  .xnanas1x<%= x.id %>{
      position: absolute;
      height: 200px;
      top: 20vh;
      left:0;
  }
  .xnanas2x<%= x.id %>{
      position: absolute;
      height: 220px;
      bottom: 20vh;
      left:10vw;
  }
  .xnanas3x<%= x.id %>{
      position: absolute;
      height: 150px;
      top: 15vh;
      left:13vw;
  }
  .xnanas4x<%= x.id %>{
      position: absolute;
      height: 240px;
      bottom: 20vh;
      right:30vw;
  }
  .xnanas5x<%= x.id %>{
      position: absolute;
      height: 150px;
      top: 20vh;
      right:17vw;
  }
  .xnanas6x<%= x.id %>{
      position: absolute;
      height: 200px;
      bottom: 0px;
      right: 10vw;
      z-index: 1;
  }
  .xnanas7x<%= x.id %>{
      position: absolute;
      right: 0;
      top:30px;
      width:200px;
  }
  .xnanas8x<%= x.id %>{
      position: absolute;
      height: 150px;
      top: 15vh;
      left:20vw;
  }
  @media (max-width: 1700px){
    .xnanas1x<%= x.id %>{
      position: absolute;
        height: 200px;
        top: 20vh;
        left:0;
    }
    .xnanas2x<%= x.id %>{
      position: absolute;
        height: 220px;
        bottom: 20vh;
        left:10vw;
    }
    .xnanas3x<%= x.id %>{
      position: absolute;
        height: 150px;
        top: 15vh;
        left:13vw;
    }
    .xnanas4x<%= x.id %>{
      position: absolute;
        height: 240px;
        bottom: 20vh;
        right:30vw;
    }
    .xnanas5x<%= x.id %>{
      position: absolute;
        height: 150px;
        top: 20vh;
        right:17vw;
    }
    .xnanas6x<%= x.id %>{
      position: absolute;
        height: 200px;
        bottom: 0px;
        right: 10vw;
        z-index: 1;
    }
    .xnanas7x<%= x.id %>{
      position: absolute;
        right: 0;
        top:30px;
        width:200px;
    }
    .xnanas8x<%= x.id %>{
      position: absolute;
        height: 150px;
        top: 15vh;
        left:20vw;
    }
  }

  <% end %>
</style>



<div id="wrappingshow">
  <div class="slidedesktop">
    <div id="wrappsliderdesktop" class="bgbeanx<%= Discoverproduct.where(slider_type: "animated").first.id %>">
      <div class="wrapanimate">
        <div class="remoattr">

          <% Discoverproduct.where(slider_type: "animated").each do |x| %>
          <!-- <%= x.title_id %> -->

          <% if x.animated_type == "Template 12" %>
          <!-- 12 -->
          <img class="img-fluid xbean1x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_1 %>" alt="Mung Bean">
          <img class="img-fluid xbean2x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_2 %>" alt="Mung Bean">
          <img class="img-fluid xbean3x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_3 %>" alt="Mung Bean">
          <img class="img-fluid xbean4x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_4 %>" alt="Mung Bean">
          <img class="img-fluid xbean5x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_5 %>" alt="Mung Bean">
          <img class="img-fluid xbean6x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_6 %>" alt="Mung Bean">
          <img class="img-fluid xbean7x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_7 %>" alt="Mung Bean">

          <% unless x.animated_8.url.nil?%>
          <img class="img-fluid xbean-madex<%= x.id %> naanimation animated opacity0" src="<%= x.animated_8 %>" alt="Mung Bean">
          <% end %>
          <% unless x.animated_9.url.nil?%>
          <img class="img-fluid xbean-newx<%= x.id %> naanimation animated opacity0 en" src="<%= x.animated_9 %>">
          <% end %>
          <!-- 12 -->

          <% elsif x.animated_type == "Template 11" %>

          <img class="img-fluid xmocha1x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_1 %>" alt="Mocha">
          <img class="img-fluid xmocha2x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_2 %>" alt="Mocha">
          <img class="img-fluid xmocha4x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_3 %>" alt="Mocha">
            <% unless x.animated_4.url.nil?%>
          <img class="img-fluid xmocha-newx<%= x.id %> naanimation animated opacity0 id" src="<%= x.animated_4 %>">
            <% end %>

          <% elsif x.animated_type == "Template 1" %>

          <img class="img-fluid xnanas1x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_1 %>">
          <img class="img-fluid xnanas2x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_2 %>">
          <img class="img-fluid xnanas3x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_3 %>">
          <img class="img-fluid xnanas4x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_4 %>">
          <img class="img-fluid xnanas5x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_5 %>">
          <img class="img-fluid xnanas6x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_6 %>">
          <img class="img-fluid xnanas7x<%= x.id %> naanimation animated opacity0" src="<%= x.animated_7 %>">

          <% else %>

          <% unless x.tp_1_image_1.url.nil?%>
          <% if I18n.locale.to_s == "id" %>
          <img class="img-fluid bean1x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_1 %>" alt="Mung Bean">
          <% else %>
          <% if x.tp_1_image_1_en.url.nil? %>
          <img class="img-fluid bean1x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_1 %>" alt="<%= x.title_id %>">
          <% else %>
          <img class="img-fluid bean1x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_1_en %>" alt="<%= x.title_id %>">
          <% end %>

          <% end %>

          <% end %>

          <% unless x.tp_1_image_2.url.nil?%>
          <% if I18n.locale.to_s == "id" %>
          <img class="img-fluid bean2x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_2 %>" alt="Mung Bean">
          <% else %>
          <% if x.tp_1_image_2_en.url.nil? %>
          <img class="img-fluid bean2x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_2 %>" alt="<%= x.title_id %>">
          <% else %>
          <img class="img-fluid bean2x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_2_en %>" alt="<%= x.title_id %>">
          <% end %>

          <% end %>

          <% end %>

          <% unless x.tp_1_image_3.url.nil?%>
          <% if I18n.locale.to_s == "id" %>
          <img class="img-fluid bean3x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_3 %>" alt="Mung Bean">
          <% else %>
          <% if x.tp_1_image_3_en.url.nil? %>
          <img class="img-fluid bean3x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_3 %>" alt="<%= x.title_id %>">
          <% else %>
          <img class="img-fluid bean3x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_3_en %>" alt="<%= x.title_id %>">
          <% end %>

          <% end %>

          <% end %>

          <% unless x.tp_1_image_4.url.nil?%>
          <% if I18n.locale.to_s == "id" %>
          <img class="img-fluid bean4x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_4 %>" alt="Mung Bean">
          <% else %>
          <% if x.tp_1_image_4_en.url.nil? %>
          <img class="img-fluid bean4x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_4 %>" alt="<%= x.title_id %>">
          <% else %>
          <img class="img-fluid bean4x<%= x.id %> naanimation animated opacity0" src="<%= x.tp_1_image_4_en %>" alt="<%= x.title_id %>">
          <% end %>

          <% end %>

          <% end %>

          <% end %>
          <% end %>

        </div>
      </div>
      <div id="contenslide" class="bgbean">
        <div id="carouselfade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
          <div class="carousel-inner" >
            <% Discoverproduct.where(slider_type: "animated").order(created_at: :asc).each_with_index do |x, i| %>

            <% if x.hide_title == true %>
            <div class="carousel-item <% if i==0 %> active <% end %>" >
              <% if I18n.locale.to_s == "id" %>
                  <img class="d-block imgbanner animated opacity0 " src="<%= x.main %>" alt="<%= x.title_id %>">
              <% else %>
              <% if x.main_en.url.nil? %>
              <img class="d-block imgbanner animated opacity0 " src="<%= x.main %>" alt="<%= x.title_id %>">
              <% else %>
              <img class="d-block imgbanner animated opacity0 " src="<%= x.main_en %>" alt="<%= x.title_en %>">
              <% end %>
                <% end %>

              <div class="carousel-caption captionbanner" >
                  <div class="relative">
                <div class="d-inline-block hoverimage">
                  <a class="linkproduct showproduct" href="<%= x.link %>">
                    <% if I18n.locale.to_s == "id" %>
                    <%unless x.hide_title == true %>
                    <h2 class="FredokaOne"><%= x.title_id %></h2>
                    <div class="COCOGOOSE"><%= x.content_id %></div>
                    <% end %>
                    <% else %>
                    <%unless x.hide_title == true %>
                    <h2 class="FredokaOne"><%= x.title_en %></h2>
                    <div class="COCOGOOSE"><%= x.content_en %></div>
                    <% end %>
                    <% end %>
                  </a>
                </div>
                  </div>

              </div>
            </div>

            <% else %>
            <div class="carousel-item <% if i==0 %> active <% end %>" style="height:100vh;display-flex;align-items:flex-end">
              <div class="carousel-caption captionbanner" style="top:none;position:relative">
                <div class="d-inline-block hoverimage">
                  <a class="linkproduct showproduct" href="<%= x.link %>">
                    <div class="position-relative">
                      <% if I18n.locale.to_s == "id" %>
                      <%unless x.hide_title == true %>
                      <div class="position-absolute w-100" style="top:11vh">
                        <h2 class="FredokaOne"><%= x.title_id %></h2>
                        <div class="COCOGOOSE"><%= x.content_id %></div>
                      </div>

                      <% end %>
                      <% else %>
                      <%unless x.hide_title == true %>
                      <div class="">
                      <h2 class="FredokaOne"><%= x.title_en %></h2>
                      <div class="COCOGOOSE"><%= x.content_en %></div>
                        </div>
                      <% end %>
                      <% end %>
                      <% if I18n.locale.to_s == "id" %>
                          <img class="d-block imgbanner animated opacity0 " src="<%= x.main %>" alt="<%= x.title_id %>"style="width:100%;height:auto;">
                      <% else %>
                      <% if x.main_en.url.nil? %>
                      <img class="d-block imgbanner animated opacity0 " src="<%= x.main %>" alt="<%= x.title_id %>"style="width:100%;height:auto;">
                      <% else %>
                      <img class="d-block imgbanner animated opacity0 " src="<%= x.main_en %>" alt="<%= x.title_en %>"style="width:100%;height:auto;">
                      <% end %>
                        <% end %>
                    </div>

                  </a>
                </div>


              </div>
            </div>

            <% end %>

            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselfade" role="button" data-slide="prev">
            <span class="ti-angle-left bg-yellow-mbl" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselfade" role="button" data-slide="next">
            <span class="ti-angle-right bg-yellow-mbl" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          var slidecomplete = false;
          if(RC('bgColor')) {
            EC('bgColor');
            EC('bgClass');
          }
          function remoattr() {
            $('.remoattr').find('img').removeAttr('style');
          }





          // Index

          <% Discoverproduct.where(slider_type: "animated").order(created_at: :asc).each_with_index do |x, i| %>
          <% if x.animated_type == "Template 12" %>
          function beanAnimating<%= x.id %>()
            {
              $('#carouselfade').find('[role="button"]').css({'pointer-events':'none','cursor':'wait'});
              $('.imgbanner').animate({'opacity' : 1},1400,function(){
              }).addClass('fadeInUp').removeClass('opacity0');
              $('.xbean1x<%= x.id %>').animate({'opacity':1},100,function(){
                $('.xbean2x<%= x.id %>').animate({'opacity':1},300,function(){
                  $('.xbean3x<%= x.id %>').animate({'opacity':1},300,function(){
                    $('.xbean4x<%= x.id %>').animate({'opacity':1},300,function(){
                      $('.xbean5x<%= x.id %>').animate({'opacity':1},300,function(){
                        $('.xbean6x<%= x.id %>').animate({'opacity':1},300,function(){
                          $('.xbean7x<%= x.id %>').animate({'opacity':1},300,function(){

                                setTimeout(function(){
                                  $('.xbean1x<%= x.id %>').removeClass('fadeInDown');
                                  $('.xbean2x<%= x.id %>').removeClass('fadeInLeft');
                                  $('.xbean3x<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean4x<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean5x<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean6x<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean7x<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean-newx<%= x.id %>').removeClass('fadeInUp');
                                  $('.xbean-madex<%= x.id %>').removeClass('fadeInUp');
                                  $('#carouselfade').find('[role="button"]').removeAttr('style');
                                },2000);

                          }).addClass('fadeInUp');
                        }).addClass('fadeInUp');
                      }).addClass('fadeInUp');
                    }).addClass('fadeInUp');
                  }).addClass('fadeInUp');
                }).addClass('fadeInLeft');
              }).addClass('fadeInDown');
            }

            <% elsif  x.animated_type == "Template 11"  %>
              function beanAnimating<%= x.id %>()
            {
              $('#carouselfade').find('[role="button"]').css({'pointer-events':'none','cursor':'wait'});
              $('.imgbanner').animate({'opacity' : 1},1600,function(){
              }).addClass('fadeInUp').removeClass('opacity0');
              $('.xmocha1x<%= x.id %>').animate({'opacity':1},400,function(){
                $('.xmocha2x<%= x.id %>').animate({'opacity':1},600,function(){
                    $('.xmocha4x<%= x.id %>').animate({'opacity':1},300,function(){

                          setTimeout(function(){
                            $('.xmocha1x<%= x.id %>').removeClass('fadeInDown');
                            $('.xmocha2x<%= x.id %>').removeClass('fadeInUp');
                            $('.xmocha4x<%= x.id %>').removeClass('fadeInDown');
                            $('.xmocha-newx<%= x.id %>').removeClass('fadeInUp');
                            $('#carouselfade').find('[role="button"]').removeAttr('style');
                          },1500);

                    }).addClass('fadeInDown');
                }).addClass('fadeInUp');
              }).addClass('fadeInDown');
            }
            <% elsif x.animated_type == "Template 1" %>
              function beanAnimating<%= x.id %>()
            {
              $('#carouselfade').find('[role="button"]').css({'pointer-events':'none','cursor':'wait'});
              $('.xnanas3x<%= x.id %>').animate({'opacity':1},100,function(){
                  $('.xnanas4x<%= x.id %>').animate({'opacity': 1},100,function(){
                    setTimeout(function(){
                      $('.xnanas1x<%= x.id %>').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                      $('.xnanas2x<%= x.id %>').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                    },300);
                  }).addClass('fadeInUp');
                  $('.xnanas6x<%= x.id %>').animate({'opacity': 1},100,function(){
                    $('.xnanas7x<%= x.id %>').animate({'opacity': 1},100,function(){
                      $('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
                      setTimeout(function(){
                        $('.imgbanner').animate({'opacity' : 1},1000,function(){}).addClass('fadeInUp');
                        setTimeout(function(){
                          $('.imgbanner').removeClass('opacity0').removeClass('fadeInUp');
                          $('.xnanas3x<%= x.id %>').removeClass('fadeInUp');
                          $('.xnanas4x<%= x.id %>').removeClass('fadeInUp');
                          $('.xnanas6x<%= x.id %>').removeClass('fadeInUp');
                          $('.xnanas1x<%= x.id %>').removeClass('fadeInUp');
                          $('.xnanas2x<%= x.id %>').removeClass('fadeInUp');
                          $('.xnanas7x<%= x.id %>').removeClass('fadeInUp');
                          $('#carouselfade').find('[role="button"]').removeAttr('style');
                        },1100);
                      },1000);
                    }).addClass('fadeInUp');
                  }).addClass('fadeInUp');
                }).addClass('fadeInUp');
            }
            <% else %>
              function beanAnimating<%= x.id %>()
          {
            $('#carouselfade').find('[role="button"]').css({'pointer-events':'none','cursor':'wait'});
            $('.imgbanner').animate({'opacity' : 1},1400,function(){
            }).addClass('fadeInUp').removeClass('opacity0');
            <% unless x.tp_1_image_1.url.nil?%>
            $('.bean1x<%= x.id %>').animate({'opacity':1},100,function(){
              <% end %>
              <% unless x.tp_1_image_2.url.nil?%>
              $('.bean2x<%= x.id %>').animate({'opacity':1},300,function(){
                <% end %>
                <% unless x.tp_1_image_3.url.nil?%>
                $('.bean3x<%= x.id %>').animate({'opacity':1},300,function(){
                  <% end %>
                  <% unless x.tp_1_image_4.url.nil?%>
                  $('.bean4x<%= x.id %>').animate({'opacity':1},300,function(){
                    <% end %>

                    setTimeout(function(){
                      <% unless x.tp_1_image_1.url.nil?%>
                      $('.bean1x<%= x.id %>').removeClass('fadeInLeft');
                      <% end %>
                      <% unless x.tp_1_image_2.url.nil?%>
                      $('.bean2x<%= x.id %>').removeClass('fadeInRight');
                      <% end %>
                      <% unless x.tp_1_image_3.url.nil?%>
                      $('.bean3x<%= x.id %>').removeClass('fadeInDown');
                      <% end %>
                      <% unless x.tp_1_image_4.url.nil?%>
                      $('.bean4x<%= x.id %>').removeClass('fadeInUp');
                      <% end %>
                      $('#carouselfade').find('[role="button"]').removeAttr('style');
                    },2000);


                    <% unless x.tp_1_image_4.url.nil?%>
                  }).addClass('fadeInUp');
                  <% end %>
                  <% unless x.tp_1_image_3.url.nil?%>
                }).addClass('fadeInDown');
                <% end %>
                <% unless x.tp_1_image_2.url.nil?%>
              }).addClass('fadeInRight');
              <% end %>
              <% unless x.tp_1_image_1.url.nil?%>
            }).addClass('fadeInLeft');
            <% end %>
          }
          <% end %>
          <% end %>
          $('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){
            $('#contentsection').removeAttr('class');

            beanAnimating<%= Discoverproduct.where(slider_type: "animated").order(created_at: :asc).first.id %>();
          }).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);
          $('#carouselfade').on('slide.bs.carousel', function (e) {
            remoattr();
            var index = e.to;
            console.log(index);
            <% Discoverproduct.where(slider_type: "animated").order(created_at: :asc).each_with_index do |x, i| %>


            // <%= i.to_i == 0  %>


            if(index === <%= i %>){
              EC('bgColor');
              EC('bgClass');
              beanAnimating<%= x.id %>();
              $('#wrappsliderdesktop').removeAttr('class');
              $('#wrappsliderdesktop').addClass('bgbeanx<%= x.id %>');
              $('#contentsection').removeAttr('class');
              $('.overlays-product-detail').css({'background-color' : '#ffd400'});
              CC('bgClass','bgbeanx<%= x.id %>',1);
              CC('bgColor','#ffd400',1);
            }
            <% end %>



          });



        });
      </script>
    </div>
  </div>



</div>

</div>
</section>
<div class="copyright absolute animated opacity0">
  <div class="footermenu">
    <a href="#contentsection" data-href="<?php echo base_url('home/terms')%>" data-url="home/terms" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
    <a href="#contentsection" data-href="<?php echo base_url('home/privacy')%>" data-url="home/privacy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
    <a href="#contentsection" data-href="<?php echo base_url('home/contact')%>" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
  </div>
</div>
<div class="imgfooter imgfooter1 opacity0 animated">
  <img class="img-fluid img100percent" src="<%= asset_url('static/footer.png')%>" alt="shadowyellow"/>
</div>
<div class="imgfooter imgfooter2 opacity0 animated">
  <img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
</div>
<div class="imgfooter imgfooter3 opacity0 animated">
  <img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
</div>
