<% if @page.slug == "homepage" %>
<% if @setup.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@setup.errors.count, "error") %> prohibited this setup from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @setup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_for @setup, :html => { :class => "form-horizontal setup" } do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <%= f.label :image_share, :class => 'control-label' %> <small><i>Logo Website</i></small>
            <p>Max File Size 500KB | This is a default image that appears when someone shares content on Facebook, whatsapp, etc</p>
            <% if @setup.image_share.nil? || @setup.image_share.blank? %>
              <%= f.file_field :image_share, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
              <%= f.file_field :image_share, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.image_share.url %>
            <% end %>
            <%=f.error_span(:image_share) %>
          </div>
          <div class="col-md-6">
            <%= f.label :site_image, :class => 'control-label' %> <small><i>Logo Website</i></small>
            <p>Thumbail image for sharing website | Max File Size 500KB</p>
            <% if @setup.site_image.nil? || @setup.site_image.blank? %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.site_image.url %>
            <% end %>
            <%=f.error_span(:site_image) %>
          </div>
          <div class="col-md-6">
            <%= f.label :site_favicon, :class => 'control-label' %> <small><i>Favicon Website</i></small>
            <p>Max File Size 100KB | Max Width and Height 64px</p>
            <% if @setup.site_favicon.nil? || @setup.site_favicon.blank? %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square' %>
            <% else %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square', 'data-default-file' => @setup.site_favicon.url %>
            <% end %>
            <%=f.error_span(:site_favicon) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Website Identity and SEO</h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_name, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_name, :class => 'form-control', required: true %>
              <%=f.error_span(:site_name) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_title, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_title, :class => 'form-control', required: true %>
              <%=f.error_span(:site_title) %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :site_description, :class => 'control-label' %>
              <%= f.text_area :site_description, :class => 'form-control' %>
              <%=f.error_span(:site_description) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <%= f.hidden_field :hero_status, id:"hr-status" %>
            <div id="cst-code">
              <h4>Custom Code</h4>
              <div id="editor">
              </div>
              <%=  f.text_area :custom_code, id:'get-editor' %>
            </div>
            <div id="fll-image">
              <h4>Full Image</h4>
              <%= f.label :hero_image, :class => 'control-label' %>
              <p>Max File Size 1MB</p>
              <% if @setup.hero_image.nil? || @setup.hero_image.blank? %>
                <%= f.file_field :hero_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
              <% else %>
                <%= f.file_field :hero_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.hero_image.url %>
              <% end %>
              <%=f.error_span(:hero_image) %>
           </div>
           <div id="animated">
             <h4>Animated</h4>
             <div class="row">
               <div class="col-md-6 mb-3">
                 <%= f.label :main, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.main_image.nil? || @setup.main_image.blank? %>
                   <%= f.file_field :main_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :main_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.main_image.url %>
                 <% end %>
                 <%=f.error_span(:main_image) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_main_image %>
                     Remove image
                   </label>
                 </p>
               </div>
               <div class="col-md-6 mb-3">
                 <%= f.label :background, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.background.nil? || @setup.background.blank? %>
                   <%= f.file_field :background, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :background, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.background.url %>
                 <% end %>
                 <%=f.error_span(:background) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_background %>
                     Remove image
                   </label>
                 </p>
               </div>
               <div class="col-md-3">
                 <%= f.label :effek_1, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.effek_1.nil? || @setup.effek_1.blank? %>
                   <%= f.file_field :effek_1, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :effek_1, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.effek_1.url %>
                 <% end %>
                 <%=f.error_span(:effek_1) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_effek_1 %>
                     Remove image
                   </label>
                 </p>
               </div>
               <div class="col-md-3">
                 <%= f.label :effek_2, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.effek_2.nil? || @setup.effek_2.blank? %>
                   <%= f.file_field :effek_2, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :effek_2, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.effek_2.url %>
                 <% end %>
                 <%=f.error_span(:effek_2) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_effek_2 %>
                     Remove image
                   </label>
                 </p>
               </div>
               <div class="col-md-3">
                 <%= f.label :effek_3, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.effek_3.nil? || @setup.effek_3.blank? %>
                   <%= f.file_field :effek_3, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :effek_3, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.effek_3.url %>
                 <% end %>
                 <%=f.error_span(:effek_3) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_effek_3 %>
                     Remove image
                   </label>
                 </p>
               </div>
               <div class="col-md-3">
                 <%= f.label :effek_4, :class => 'control-label' %>
                 <p>Max File Size 1MB</p>
                 <% if @setup.effek_4.nil? || @setup.effek_4.blank? %>
                   <%= f.file_field :effek_4, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
                 <% else %>
                   <%= f.file_field :effek_4, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'1000K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.effek_4.url %>
                 <% end %>
                 <%=f.error_span(:effek_4) %>
                 <p>
                   <label>
                     <%= f.check_box :remove_effek_4 %>
                     Remove image
                   </label>
                 </p>
               </div>
             </div>


          </div>
            <div class="mt-3 text-center">
              <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-ant">Animated Templated</button>
                <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-cst-code">Change to custom code</button>
                <button type="button" name="button" class="btn btn-sts btn-outline-info" id="btn-fl-image">Change to full image</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Social Media</h4>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :facebook, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :facebook, :class => 'form-control', required: true %>
              <%=f.error_span(:facebook) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :instagram, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :instagram, :class => 'form-control', required: true %>
              <%=f.error_span(:instagram) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :twitter, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :twitter, :class => 'form-control', required: true %>
              <%=f.error_span(:twitter) %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= f.label :phone, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :phone, :class => 'form-control', required: true %>
              <%=f.error_span(:phone) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Contact and Map</h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :contact, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_area :contact, :class => 'form-control', required: true, rows: 5 %>
              <%=f.error_span(:contact) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :google_map, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_area :google_map, :class => 'form-control', required: true, rows: 5 %>
              <%=f.error_span(:google_map) %>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <%= f.submit 'Save', :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),setups_path, :class => 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $(".table").dataTable();
    $("#btn-fl-image").click(function (){
      $('#cst-code').hide();
      $('#animated').hide();
      $('#fll-image').show();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-fl-image").addClass('btn-info');
      $('#hr-status').val('fl-image');
    });
    $("#btn-cst-code").click(function (){
      $('#cst-code').show();
      $('#animated').hide();
      $('#fll-image').hide();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-cst-code").addClass('btn-info');
      $('#hr-status').val('cst-code');
    });
    $("#btn-ant").click(function (){
      $('#cst-code').hide();
      $('#animated').show();
      $('#fll-image').hide();
      $(".btn-sts").removeClass('btn-info').removeClass('btn-outline-info');
      $("#btn-ant").addClass('btn-info');
      $('#hr-status').val('animated');
    });
    <% if @setup.hero_status == "animated" %>
    $("#btn-ant").click();
    <% elsif  @setup.hero_status == "cst-code" %>
    $("#btn-cst-code").click();
    <% else %>
    $("#btn-fl-image").click();
    <% end %>
  });
</script>

<% else %>

<%- model_class = Page -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= pages_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">
              <%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render :partial => 'form' %>
</div>
<% end %>



      <script>
          var editor = ace.edit("editor",{
            autoScrollEditorIntoView: true,
       maxLines: 30,
       minLines: 20
          });
          editor.setTheme("ace/theme/monokai");
          editor.session.setMode("ace/mode/html");
            var textarea = $('#get-editor').hide();
            editor.getSession().setValue(textarea.val());
            editor.getSession().on('change', function(){
              textarea.val(editor.getSession().getValue());
            });
      </script>
