<% if Setup.first.hero_status == "cst-code" %>
<%= Setup.first.custom_code.html_safe %>
<% elsif Setup.first.hero_status == "animated"  %>

  <main id="mainhome">
		<section id="home" class="home animated" style="background-image:url('http://joyday.com/<%= Setup.first.background %>')">
			<div class="contenthome">
				<div class="container height100percent">
					<div class="row height100percent">
						<div class="col-md-12 height100percent">
							<div class="d-table mainholiday opacity0">
								<div class="d-table-cell middle height100percent">
									<div class="hero is-medium is-bold">
									  <div class="hero-body">
									    <div class="container has-text-centered">
									      <h1 class="title text-white opacity0">
									        JoyDay, Bikin Joy Deh!
									      </h1>
									    </div>
									  </div>
									</div>
								</div>
							</div>
							<div class="hero discoverproduct animated opacity0">
							  <div class="hero-body">
							    <div class="container has-text-centered">
							    	<a class="showdiscover" href="#contentsection" data-title="Discover Our Product" data-href="discoverourproduct" data-url="discoverourproduct">
								      <h2 class="subtitle text-white FredokaOne">
											<span class="id"><%= t('discover_product') %></span>
											</h2>
											<h3 class="title text-white">
												<i class="ti-angle-down" style="text-shadow: 0 0rem 0.45rem rgba(0, 0, 0, 0.675);"></i>
											</h3>
										</a>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="shadowtop">
				<img class="img-fluid img100percent" src="<%= asset_url('static/shadowtop.png') %>" alt="shadowtop"/>
			</div> -->
			<!--  -->
			<img class="img-fluid halal opacity0 animate" src="<%= asset_url('static/halal.png') %>" alt="halal"/>
			<img class="home-bg1 opacity0 animated" src="http://joyday.com/<%= Setup.first.effek_1 %>" alt="shadowyellow"/>
			<img class="home-bg2 opacity0 animated" src="http://joyday.com/<%= Setup.first.effek_2 %>" alt="shadowyellow"/>
			<img class="home-bg3 opacity0 animated" src="http://joyday.com/<%= Setup.first.effek_4 %>" alt="shadowyellow" style="z-index:1" />
			<img class="home-person opacity0 animated" src="http://joyday.com/<%= Setup.first.main_image %>" alt="shadowyellow"/>
			<img class="home-product opacity0 animated" src="http://joyday.com/<%= Setup.first.effek_3 %>" style="z-index:1" alt="shadowyellow"/>
		</section>
		<section id="contentsection" class="contentsection">
			<div id="load" class="contenthomeslide contenview"></div>
		</section>
		<div class="copyright absolute animated opacity0">
			<div class="footermenu">
				<a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
				<a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
				<a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
			</div>
		</div>
		<div class="imgfooter imgfooter1 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer.png') %>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter2 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png') %>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter3 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png') %>" alt="shadowyellow"/>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				var windowWidth = $(window).width();
				$(window).resize(function(){
					windowWidths = $(window).width();
					windowWidth = windowWidths;
				});
				$('.footermenu, .imgfooter').attr('style','z-index:-1;bottom:-100vh;');
				var contentsection = $('#contentsection').offset().top;
				var firstScroll = false;
				var lastScrollTop = 100;

				$('.home').addClass('fadeIn');
					setTimeout(function(){
							$('.socmed, .socmedmobile, .headerhome').animate({'opacity':1},1000).addClass('fadeIn');
					},1200);
					setTimeout(function(){
						$('.discoverproduct').animate({'opacity':1},1000,function() {
							$('.halal').animate({'opacity':1,'bottom':'2rem'},900,function() {
								$('.home-bg1').animate({'opacity':1},600,function() {
									$('.home-bg2').animate({'opacity':1},600,function(){
										$('.home-bg3').animate({'opacity':1},600,function(){
											$('.home-product').animate({'opacity':1},1100,function(){
												$('.home-person').animate({'opacity':1,'bottom':'-4vh'},1000,function(){
													setTimeout(function(){
														$('.discoverproduct').removeClass('bounceInUp');
														$('.halal, .socmed, .socmedmobile').removeClass('fadeInUp');
														$('.home-bg1').removeClass('fadeInDown');
														$('.home-bg2').removeClass('fadeInDown');
														$('.home-person').removeClass('fadeInUp');
														$('.home-product').removeClass('fadeInUp');
														$('.home-bg3').removeClass('fadeInUp');
													},1800);
												}).addClass('fadeInUp');
											}).addClass('fadeInUp');
										}).addClass('fadeInUp');
									}).addClass('fadeInDown');
								}).addClass('fadeInDown');
							}).addClass('fadeInUp');
						}).addClass('bounceInUp');
							$('.mainholiday').delay(1500).animate({'opacity':1},1000,function(){}).addClass('fadeIn');
							$('.showdiscover').on('click',function(e){
								$('.footermenu,.imgfooter').removeAttr('style');
								$('.firstmenu').removeClass('active');
								$(this).data('clicked', true);
								if(firstScroll == false){
									if(windowWidth < 773){
										setTimeout(function(){
											$('html').css({'overflow' : 'hidden'});
										},1000);
									}else{
										$('#load').load('discoverourproduct?content=inload',function(){
												history.pushState({urlPath:'discoverourproduct'}, 'Discover Our Product', 'discoverourproduct');
												contentsection = 0;
												setTimeout(function(){
													$('section#home').remove();
													$('#mainhome').css({'min-height':'100vh'});
													var currlang = RC('currentlang');
													if(currlang == 'id'){
														$('.en').css({'display':'none'});
														$('.id').css({'display':'inline-block'});
													}else{
														$('.id').css({'display':'none'});
														$('.en').css({'display':'inline-block'});
													}
												},1000);
											});
									}
									firstScroll = true;
								}
							e.preventDefault();
							return false;
						});
					},1600);

				//scroll
				var $win = $(window);
				var scroll_speed = 4;
				$(window).scroll(function() {
					var st = $(this).scrollTop();
					if($('.home').length > 0){
						var bgScroll = (($win.scrollTop() - $('.home').offset().top)/ scroll_speed);
			            var bgPosition = 'center '+ bgScroll + 'px';
			            $('.home').css({ backgroundPosition: bgPosition });
						if(st > lastScrollTop){
							$('.footermenu,.imgfooter').removeAttr('style');
							target = $('#contentsection');
							$('html, body').animate({
					          scrollTop: target.offset().top
					        }, 1000, function() {
					          var $target = $(target);
					          $target.focus();
					          if ($target.is(":focus")) {
					            return false;
					          } else {
					            $target.attr('tabindex','-1');
					            $target.focus();
					          };
					            if(firstScroll == false){
												if(windowWidth < 773){
													setTimeout(function(){
														$('.showdiscover').trigger('click');
														$('html').css({'overflow' : 'hidden'});
													},500);
												}else{
						            	$('#load').load('discoverourproduct?content=inload',function(){
													history.pushState({urlPath:'discoverourproduct'}, 'Discover Our Product', 'discoverourproduct');
													contentsection = 0;
													setTimeout(function(){
														$('section#home').remove();
														$('#mainhome').css({'min-height':'100vh'});
														var currlang = RC('currentlang');
														if(currlang == 'id'){
							                $('.en').css({'display':'none'});
							                $('.id').css({'display':'inline-block'});
							              }else{
															$('.id').css({'display':'none'});
							                $('.en').css({'display':'inline-block'});
														}
													},1000);
												});
											}
											firstScroll = true;
										}
					        });
					        lastScrollTop = st;
						}
					}
				});
				$(window).on('resize',function(){
					if(firstScroll = false){
						targetsa = $('#home');
						$('html, body').animate({
				          scrollTop: targetsa.offset().top
				        }, 1000);
					}
				});
				$('[islink]').on('click',function(e){
		            if(contentsection > 0){
		              $('.firstmenu').removeClass('active');
		              $(this).addClass('active');
		              var href = this.href;
		              var datatarget = $('#contentsection');
		              if($(this).hasClass('closesidebar')){
		                   setTimeout(function(){
		                      $('body').removeClass('showsidebar');
		                    },800);
	                  }
		                e.preventDefault();
		                $('html, body').animate({
		                  scrollTop: datatarget.offset().top
		                }, 1000, function() {
		                  window.location = href;
		                });
		                contentsection = 0;
		            }else{
		              return true;
		            }

		          });

			});
		</script>
	</main>


<% else %>

    <main id="mainhome">
  		<section id="home" class="home animated">
        <div class="" style="height:100vh;background-image:url('<%= Setup.first.hero_image %>');background-position:center center; background-size:cover;">
  			<div class="contenthome">
  				<div class="container height100percent">
  					<div class="row height100percent">
  						<div class="col-md-12 height100percent">
  							<div class="d-table mainholiday opacity0">
  								<div class="d-table-cell middle height100percent">
  									<div class="hero is-medium is-bold">

  									  <div class="hero-body">
  									    <div class="container has-text-centered">
  									      <h1 class="title text-white opacity0">
  									        JoyDay, Bikin Joy Deh!
  									      </h1>
  									    </div>
  									  </div>
  									</div>
  								</div>
  							</div>
  							<div class="hero discoverproduct animated opacity0">
  							  <div class="hero-body">

  							    <div class="container has-text-centered">
  							    	<a class="showdiscover" href="#contentsection" data-title="Discover Our Product" data-href="discoverourproduct" data-url="discoverourproduct">
  								      <h2 class="subtitle text-white FredokaOne">
  											<span class="id"><%= t('discover_product') %></span>
  											</h2>
  											<h3 class="title text-white">
  												<i class="ti-angle-down" style="text-shadow: 0 0rem 0.45rem rgba(0, 0, 0, 0.675);"></i>
  											</h3>
  										</a>
  							    </div>
  							  </div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- <div class="shadowtop">
  				<img class="img-fluid img100percent" src="<%= asset_url('static/shadowtop.png') %>" alt="shadowtop"/>
  			</div> -->
  			<div class="shadowyellow shadowyellowdesktop">
  				<img class="img-fluid img100percent" src="<%= asset_url('static/yellowshadow.png') %>" alt="shadowyellow"/>
  			</div>
  			<div class="shadowyellow shadowyellowmobile">
  				<img class="img-fluid img100percent" src="<%= asset_url('static/yellowshadowmobile.png') %>" alt="shadowyellow"/>
  			</div>


          </div>
  		</section>
  		<section id="contentsection" class="contentsection">
  			<div id="load" class="contenthomeslide contenview"></div>
  		</section>
  		<div class="copyright absolute animated opacity0">
  			<div class="footermenu">
  				<a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
  				<a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
  				<a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
  			</div>
  		</div>
  		<div class="imgfooter imgfooter1 opacity0 animated">
  			<img class="img-fluid img100percent" src="<%= asset_url('static/footer.png') %>" alt="shadowyellow"/>
  		</div>
  		<div class="imgfooter imgfooter2 opacity0 animated">
  			<img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png') %>" alt="shadowyellow"/>
  		</div>
  		<div class="imgfooter imgfooter3 opacity0 animated">
  			<img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png') %>" alt="shadowyellow"/>
  		</div>
  		<script type="text/javascript">
  			$(document).ready(function(){
  				var windowWidth = $(window).width();
  				$(window).resize(function(){
  					windowWidths = $(window).width();
  					windowWidth = windowWidths;
  				});
  				$('.footermenu, .imgfooter').attr('style','z-index:-1;bottom:-100vh;');
  				var contentsection = $('#contentsection').offset().top;
  				var firstScroll = false;
  				var lastScrollTop = 100;

  				$('.home').addClass('fadeIn');
  					setTimeout(function(){
  							$('.socmed, .socmedmobile, .headerhome').animate({'opacity':1},1000).addClass('fadeIn');
  					},1200);
  					setTimeout(function(){
  						$('.discoverproduct').animate({'opacity':1},1000,function() {
  							$('.halal').animate({'opacity':1,'bottom':'2rem'},900,function() {
  								$('.home-bg1').animate({'opacity':1},600,function() {
  									$('.home-bg2').animate({'opacity':1},600,function(){
  										$('.home-bg3').animate({'opacity':1},600,function(){
  											$('.home-product').animate({'opacity':1},1100,function(){
  												$('.home-person').animate({'opacity':1,'bottom':'-8rem'},1000,function(){
  													setTimeout(function(){
  														$('.discoverproduct').removeClass('bounceInUp');
  														$('.halal, .socmed, .socmedmobile').removeClass('fadeInUp');
  														$('.home-bg1').removeClass('fadeInDown');
  														$('.home-bg2').removeClass('fadeInDown');
  														$('.home-person').removeClass('fadeInUp');
  														$('.home-product').removeClass('fadeInUp');
  														$('.home-bg3').removeClass('fadeInUp');
  													},1800);
  												}).addClass('fadeInUp');
  											}).addClass('fadeInUp');
  										}).addClass('fadeInUp');
  									}).addClass('fadeInDown');
  								}).addClass('fadeInDown');
  							}).addClass('fadeInUp');
  						}).addClass('bounceInUp');
  							$('.mainholiday').delay(1500).animate({'opacity':1},1000,function(){}).addClass('fadeIn');
  							$('.showdiscover').on('click',function(e){
  								$('.footermenu,.imgfooter').removeAttr('style');
  								$('.firstmenu').removeClass('active');
  								$(this).data('clicked', true);
  								if(firstScroll == false){
  									if(windowWidth < 773){
  										setTimeout(function(){
  											$('html').css({'overflow' : 'hidden'});
  										},1000);
  									}else{
  										$('#load').load('discoverourproduct?content=inload',function(){
  												history.pushState({urlPath:'discoverourproduct'}, 'Discover Our Product', 'discoverourproduct');
  												contentsection = 0;
  												setTimeout(function(){
  													$('section#home').remove();
  													$('#mainhome').css({'min-height':'100vh'});
  													var currlang = RC('currentlang');
  													if(currlang == 'id'){
  														$('.en').css({'display':'none'});
  														$('.id').css({'display':'inline-block'});
  													}else{
  														$('.id').css({'display':'none'});
  														$('.en').css({'display':'inline-block'});
  													}
  												},1000);
  											});
  									}
  									firstScroll = true;
  								}
  							e.preventDefault();
  							return false;
  						});
  					},1600);

  				//scroll
  				var $win = $(window);
  				var scroll_speed = 4;
  				$(window).scroll(function() {
  					var st = $(this).scrollTop();
  					if($('.home').length > 0){
  						var bgScroll = (($win.scrollTop() - $('.home').offset().top)/ scroll_speed);
  			            var bgPosition = 'center '+ bgScroll + 'px';
  			            $('.home').css({ backgroundPosition: bgPosition });
  						if(st > lastScrollTop){
  							$('.footermenu,.imgfooter').removeAttr('style');
  							target = $('#contentsection');
  							$('html, body').animate({
  					          scrollTop: target.offset().top
  					        }, 1000, function() {
  					          var $target = $(target);
  					          $target.focus();
  					          if ($target.is(":focus")) {
  					            return false;
  					          } else {
  					            $target.attr('tabindex','-1');
  					            $target.focus();
  					          };
  					            if(firstScroll == false){
  												if(windowWidth < 773){
  													setTimeout(function(){
  														$('.showdiscover').trigger('click');
  														$('html').css({'overflow' : 'hidden'});
  													},500);
  												}else{
  						            	$('#load').load('discoverourproduct?content=inload',function(){
  													history.pushState({urlPath:'discoverourproduct'}, 'Discover Our Product', 'discoverourproduct');
  													contentsection = 0;
  													setTimeout(function(){
  														$('section#home').remove();
  														$('#mainhome').css({'min-height':'100vh'});
  														var currlang = RC('currentlang');
  														if(currlang == 'id'){
  							                $('.en').css({'display':'none'});
  							                $('.id').css({'display':'inline-block'});
  							              }else{
  															$('.id').css({'display':'none'});
  							                $('.en').css({'display':'inline-block'});
  														}
  													},1000);
  												});
  											}
  											firstScroll = true;
  										}
  					        });
  					        lastScrollTop = st;
  						}
  					}
  				});
  				$(window).on('resize',function(){
  					if(firstScroll = false){
  						targetsa = $('#home');
  						$('html, body').animate({
  				          scrollTop: targetsa.offset().top
  				        }, 1000);
  					}
  				});
  				$('[islink]').on('click',function(e){
  		            if(contentsection > 0){
  		              $('.firstmenu').removeClass('active');
  		              $(this).addClass('active');
  		              var href = this.href;
  		              var datatarget = $('#contentsection');
  		              if($(this).hasClass('closesidebar')){
  		                   setTimeout(function(){
  		                      $('body').removeClass('showsidebar');
  		                    },800);
  	                  }
  		                e.preventDefault();
  		                $('html, body').animate({
  		                  scrollTop: datatarget.offset().top
  		                }, 1000, function() {
  		                  window.location = href;
  		                });
  		                contentsection = 0;
  		            }else{
  		              return true;
  		            }

  		          });

  			});
  		</script>
  	</main>

<% end %>
