<%- model_class = Page -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">General Setting</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")), new_page_path, :class => 'btn btn-success mb-2' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Meta description </th>
                <th>Action </th>
              </tr>
            </thead>

            <tbody>
              <% @pages.each do |page| %>
              <tr>
                <td><%= page.title_id %></td>
                  <% if page.slug == "homepage" %>
                  <td><%= Setup.first.site_description.truncate(100) rescue "" %></td>
                  <% else %>
                <td><%= page.meta_description_id.truncate(100) rescue "" %></td>
                <% end %>
                <td>
                  <% if page.slug == "discover-product" %>
                    <a href="<%= discoverourproduct_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "simulasikeuntungan"  %>
                    <a href="<%= simulasikeuntungan_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "homepage"  %>
                    <a href="<%= root_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "list-blog"  %>
                    <a href="<%= list_blog_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "be-a-seller"  %>
                    <a href="<%= crt_beaseller_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "request-sample"  %>
                    <a href="<%= crt_requestsample_path %>" class="btn btn-default btn-xs">Show</a>
                    <%  elsif page.slug == "page-grab-our-ice-cream"  %>
                    <a href="<%= crt_requestsample_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif  page.slug == "request-sample"  %>
                    <a href="<%= crt_requestsample_path %>" class="btn btn-default btn-xs">Show</a>
                    <% elsif page.slug == "list-product" %>
                    <a href="<%= list_product_path %>" class="btn btn-default btn-xs">Show</a>
                  <% else %>
                    <%= link_to 'Show', page, class:"btn btn-default btn-xs" %>
                  <% end %>


                  <%= link_to 'Edit', edit_page_path(page), class: "btn btn-primary btn-xs" %>
                  <%# link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".table").dataTable();
    $("#btn-fl-image").click(function (){
      $('#cst-code').hide();
      $('#fll-image').show();
      $('#hr-status').val('fl-image');
    });
    $("#btn-cst-code").click(function (){
      $('#cst-code').show();
      $('#fll-image').hide();
      $('#hr-status').val('cst-code');
    });
    $("#btn-cst-code").click();
  });




</script>
