<style type="text/css">
.coklat1{
	position: absolute;
    height: 180px;
    top: 12vh;
    right:3vw;
    z-index:10;
}
.coklat2{
	position: absolute;
    height: 180px;
    bottom: 3vh;
    right:1vw;
    z-index:5;
}
.coklat3{
	position: absolute;
    right: 0;
    bottom:20vh;
    width:200px;
}
.titlepage{
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	color:#0060af;
}
.paper p{
	text-transform: uppercase;
	letter-spacing: .2em;
	color:#0060af;
	font-weight: 300;
	font-size: .7em;
	line-height: 2;
	margin-bottom:1em;
}
.headerhome,.socmed{
	opacity: 1;
}
button:focus{
	outline: none;
}
.fancybox-close-small:focus:after {
    outline: none;
}
.fancybox-is-open .fancybox-bg{
	opacity: .5;
}
.fancybox-close-small:after{
	font:40px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
	color:#0060af;
}
.fancybox-slide > div{
	width:690px;
	max-width: 95%;
}
.hidden-content{
	color: #0060af;
}
.hidden-content h1{
	font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #0060af;
}
.hidden-content .columns{
	margin-bottom: 0;
}
.notification{
	font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af !important;
  letter-spacing: .4em;
  font-size: 11px;
}
.notification p{
	font-family: 'COCOGOOSE';
  text-transform: uppercase;
  color: #0060af !important;
  letter-spacing: .4em;
  font-size: 11px;
	margin-bottom:0;
}
@media (max-width: 769px){
	.paper{
		margin: 0 0px;
	}
	.coklat1,.coklat2{
		right:-6vw;
	}
	.paper > .wrappadding{
		min-height: 75vh;
	}
	.nanas8 {
	    height: 80px;
	    top: 18vh;
	    left: 20vw;
	}
}
@media (max-width: 740px)
{
	.coklat1,.coklat2{
		right:0vw;
		max-height: 100px;
	}
	.coklat3 {
	    max-width: 120px;
	}
	.nanas1{
		max-height: 100px;
	}
	.nanas2{
		max-height: 100px;
	}
	.nanas2{
		max-height: 120px;
		bottom: 10vh;
	}
	.contentterms{
		height: 70vh;
	}
	.paper > .wrappadding{
		padding-bottom: 5rem;
	}
	.variantpros{
		height: 0;
	}
}
@media (max-width: 500px)
{
	.contentterms{
		height: 80vh;
	}
	.titlepage{
		font-size:1.8rem;
	}
	.coklat2{
		bottom:10vh;
	}
	.coklat1, .coklat2{
		right: -7vw;
	}
	.coklat3{
		bottom: 30vh;
	}
	.paper > .wrappadding{
		padding:2rem 1.5rem;
		padding-bottom: 7rem;
	}
	.titlepage{
		font-size: 1.5rem;
		margin-bottom: 1.3rem;
	}
	.pb-0{
		padding-bottom: 0;
	}
	.hidden-content h1{
		font-size: 1.5rem;
		padding-top: 1rem;
	}
}
@media (max-width: 390px)
{
	.hidden-content{
		font-size: .9rem;
	}
}
@media (max-width: 330px)
{
	.hidden-content{
		font-size: .8rem;
	}
}
</style>

	<section id="contentsection" class="contentsection">
		<div id="load" class="contenthomeslide contenview">

			<div id="wrappingshow">
				<div class="nanas">
					<img class="img-fluid nanas1 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas1.png')%>">
					<img class="img-fluid nanas2 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas2.png')%>">
					<img class="img-fluid nanas8 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas6.png')%>">
					<img class="img-fluid coklat1 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat1.png')%>">
					<img class="img-fluid nanas5 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas5.png')%>">
					<img class="img-fluid coklat2 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat2.png')%>">
					<img class="img-fluid coklat3 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat3.png')%>">
					<div class="contentterms animated opacity0">
						<div class="contentterm height100percent">
							<div class="container height100percent container1000">
								<div class="row height100percent">
									<div class="col-md-12 height100percent ">
										<div ss-container class="paper ss-container">
											<div class="wrappadding">
												<h1 class="titlepage"><span class="en">REQUEST SAMPLE</span></h1>
												<%= form_for @request_sample do |f| %>
													<div class="columns">
														<div class="column">
															<div class="field">
                    						<div class="field-body">
                    							<div class="field">
					                          <label class="label labelform" for="name">
																			<span class="en">Nama Lengkap</span></label>
						                          <p class="control is-expanded">
																				<%= f.text_field :name, :class => 'form-control',required:true %>
						                          </p>
					                        </div>
                    						</div>
                    					</div>
														</div>
													</div>
													<div class="columns">
														<div class="column">
															<div class="field">
                    						<div class="field-body">
                    							<div class="field">
					                          <label class="label labelform" for="address"><span class="en">Alamat</span></label>
						                          <p class="control is-expanded">
						                            <%= f.text_area :address, :class => 'textarea',rows: 3 ,required:true%>
						                          </p>
					                        </div>
                    						</div>
                    					</div>
														</div>
														<div class="column">
															<div class="field">
															<div class="field-body mb-15">
																<div class="field">
																	<label class="label labelform" for="propinsi_id"><span class="en">Propinsi</span></label>
																	<div class="control is-expanded">
																		<div class="select is-fullwidth">
																			<%= f.collection_select :province, Province.order(:name), :name , :name, style: "display:block;include_blank: true", :prompt => "Select Provinsi", class: 'form-control',required:true %>

																		</div>
																	</div>
																</div>
															</div>
                      						<div class="field-body">
                      							<div class="field">
						                          <label class="label labelform" for="kabkota_id"><span class="en">Kota</span></label>
						                          <div class="control is-expanded">
						                            <div class="select is-fullwidth">
						                               <%= f.grouped_collection_select :city, Province.order(:name), :regencies, :name, :name , :name, style: "width:275px;display:block", :prompt => "Select Area", required: true, class: 'form-control' %>

																				</div>
						                          </div>
						                        </div>
                      						</div>
                      					</div>
														</div>
													</div>
													<div class="columns">
														<div class="column">
															<div class="field">
                    						<div class="field-body">
                    							<div class="field">
					                          <label class="label labelform" for="email">Email</label>
						                          <p class="control is-expanded">
						                           <%= f.email_field :email, :class => 'form-control',required:true %>
						                          </p>
					                        </div>
                    						</div>
                    					</div>
														</div>
														<div class="column">
															<div class="field">
                    						<div class="field-body">
                    							<div class="field">
					                          <label class="label labelform" for="phone"><span class="en">Nomor Telepon</span></label>
						                          <p class="control is-expanded">
						                            <%= f.text_field :phone_number, :class => 'form-control',required:true %> </p>
					                        </div>
                    						</div>
                    					</div>
														</div>
													</div>
													<div class="columns">
														<div class="column">
															<div class="field">
                    						<div class="field-body mb-10">
                    							<div class="field">
                    								<label class="label labelform"><span class="en">MOHON PERIKSA CAPTCHA</span></label
                    								 <script src='https://www.google.com/recaptcha/api.js'></script>
					                          <div class="g-recaptcha"  data-sitekey="6LdsblMUAAAAALd-yaO4tNjuKu86UdjXRCdDyrI_" style="transform:scale(1);-webkit-transform:scale(1);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
					                        </div>
                    						</div>
                    					</div>
														</div>
														<div class="column">
															<div class="field">
                      						<div class="field-body mb-10">
                      							<div class="field">
						                          <label class="label labelform" for="variant"><span class="id">Rasa yang di pesan</span></label>
							                          <p class="control is-expanded">
							                             <%= f.text_field :variant, :class => 'form-control',required:true %>
							                            <label class="variantpro100">
							                            	<button type="button" data-fancybox data-src="#hidden-content" class="button select-variant btnform w-100 noborderradius is-link is-outlined float-right"><span class="id">Pilih Rasa</span></button>
							                            </label>
							                          </p>
						                        </div>
                      						</div>
                      					</div>
														</div>
													</div>
													<div class="columns is-clearfix">
														<div class="column">
															<button class="button is-link is-outlined float-right btnformsend" style="height: 2.5rem; width:100px;">DONE</button>
														</div>
													</div>
												<% end %>
												<div style="display: none;" id="hidden-content" class="hidden-content">
													<h1><span class="id">PILIH RASA YANG DIPESAN</span></h1>
													<div class="columns">
														<div class="column pb-0">
															<input type="checkbox" name="variant-product[]" value="CRUNCHY CHOCOLATE MALT"/> CRUNCHY CHOCOLATE MALT
														</div>
														<div class="column">
															<input type="checkbox" name="variant-product[]" value="CRUNCHY HONEYDEW MELON"/> CRUNCHY HONEYDEW MELON
														</div>
													</div>
													<div class="columns">
														<div class="column pb-0">
															<input type="checkbox" name="variant-product[]" value="CRUNCHY CHOCOLATE BLUEBERRY"/> CRUNCHY CHOCOLATE BLUEBERRY
														</div>
														<div class="column">
															<input type="checkbox" name="variant-product[]" value="CRUNCHY CHOCOLATE VANILLA"/> CRUNCHY CHOCOLATE VANILLA
														</div>
													</div>
													<div class="columns">
														<div class="column pb-0">
															<input type="checkbox" name="variant-product[]" value="JUJUBE WHITE CHOCOLATE"/> JUJUBE WHITE CHOCOLATE
														</div>
														<div class="column">
															<input type="checkbox" name="variant-product[]" value="VANILLA MILKSHAKE"/> VANILLA MILKSHAKE
														</div>
													</div>
													<div class="columns">
														<div class="column pb-0">
															<input type="checkbox" name="variant-product[]" value="TIRAMISU CHOCOLATE MINT"/> TIRAMISU CHOCOLATE MINT
														</div>
														<div class="column">
															<input type="checkbox" name="variant-product[]" value="SWEET CORN"/>
                                                            SWEET CORN
														</div>
													</div>
													<div class="columns">
														<div class="column pb-0">
															<input type="checkbox" name="variant-product[]" value="CLASSIC BELGIAN CHOCOLATE"/> CLASSIC BELGIAN CHOCOLATE
														</div>
														<div class="column">
															<input type="checkbox" name="variant-product[]" value="COOL BLUEBERRY"/>
                                                            COOL BLUEBERRY
														</div>
													</div>
													<br/>
													<div class="columns">
														<div class="column has-text-centered">
															<button data-fancybox-close class="button is-link is-outlined btn-selected" style="height: 2.5rem; width:100px;">DONE</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function(){
						function updateVariant() {
					     var allVals = [];
						     $('#hidden-content :checked').each(function() {
						       allVals.push($(this).val());
						     });
						     $('#request_sample_variant').val(allVals);
						}
						$('.btn-selected').on('click',function(){
							updateVariant();
						});
						var width = $('.g-recaptcha').parent().width();
						if (width < 302) {
							var scale = width / 302;
							$('.g-recaptcha').css('transform', 'scale(' + scale + ')');
							$('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
							$('.g-recaptcha').css('transform-origin', '0 0');
							$('.g-recaptcha').css('-webkit-transform-origin', '0 0');
						}
						$(window).resize(function(){
							 width = $('.g-recaptcha').parent().width();
							if (width < 302) {
								var scale = width / 302;
								$('.g-recaptcha').css('transform', 'scale(' + scale + ')');
								$('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
								$('.g-recaptcha').css('transform-origin', '0 0');
								$('.g-recaptcha').css('-webkit-transform-origin', '0 0');
							}
						});
						$('.firstmenu').removeClass('active');
						$('[requestsample]').addClass('active');



						$('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){
							$('.nanas8').animate({'opacity':1},100,function(){

									$('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');

								$('.coklat1').animate({'opacity': 1},100,function(){
									setTimeout(function(){
										$('.nanas1').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
										$('.nanas2').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
									},300);
								}).addClass('fadeInUp');
								$('.coklat2').animate({'opacity': 1},100,function(){
									$('.coklat3').animate({'opacity': 1},100,function(){
										$('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
										setTimeout(function(){
											$('.contentterms').animate({'opacity' : 1},1000,function(){

											}).addClass('fadeInUp');
										},1000);
									}).addClass('fadeInUp');
								}).addClass('fadeInUp');
							}).addClass('fadeInUp');
						}).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);

					});
				</script>
				<script type="text/javascript">
						var locations;
						var areas;
						$('#request_sample_city').attr('required', 'required');
						$('#request_sample_province').attr('required', 'required');
						areas = $('#request_sample_province').html();
						locations = $('#request_sample_city').html();

						$('#request_sample_province').change(function () {
							var region,
							escaped_region,
							options;
							region = $('#request_sample_province :selected').text();
							escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
							options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
							if (options) {
								$('#request_sample_city').html(options);
								return $('#request_sample_city').removeAttr("disabled");

							} else {
								$('#request_sample_city').empty();
								return $('#request_sample_city').attr('required', 'required');
								return $('#request_sample_province').addClass("hide");

							}

						});
						</script>
			</div>

			</div>
		</section>
		<div class="copyright absolute animated opacity0">
			<div class="footermenu">
				<a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
				<a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
				<a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
			</div>
		</div>
		<div class="imgfooter imgfooter1 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer.png')%>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter2 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter3 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
		</div>
