
<style type="text/css">
.coklat1{
	position: absolute;
    height: 180px;
    top: 12vh;
    right:3vw;
    z-index:10;
}
.coklat2{
	position: absolute;
    height: 180px;
    bottom: 3vh;
    right:1vw;
    z-index:5;
}
.coklat3{
	position: absolute;
    right: 0;
    bottom:20vh;
    width:200px;
}
.titlepage{
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	color:#0060af;
}
.paper p{
	text-transform: uppercase;
	letter-spacing: .2em;
	color:#0060af;
	font-weight: 300;
	font-size: .7em;
	line-height: 2;
	margin-bottom:1em;
}
p{
	text-indent:4rem;
	text-align: justify;
}
p::first-letter,p .big{
	font-size: 1.5em;
	line-height: 1;
}
@media (max-width: 769px){
	.paper{
		margin: 0 0px;
	}
	.coklat1,.coklat2{
		right:-6vw;
	}
	.paper > .wrappadding{
		min-height: 75vh;
	}
	.nanas8 {
	    height: 80px;
	    top: 18vh;
	    left: 20vw;
	}
}
@media (max-width: 740px)
{
	.coklat1,.coklat2{
		right:0vw;
		max-height: 100px;
	}
	.coklat3 {
	    max-width: 120px;
	}
	.nanas1{
		max-height: 100px;
	}
	.nanas2{
		max-height: 100px;
	}
	.nanas2{
		max-height: 120px;
		bottom: 10vh;
	}
	.contentterms{
		height: 70vh;
	}
}@media (max-width: 500px)
{
	p{
		text-indent:2rem;
		text-align: left;
	}
	.contentterms{
		height: 80vh;
	}
	.paper > .wrappadding{
		padding: 1.5rem 1.5rem 4rem 1.5rem;
	}
	.titlepage{
		font-size:1.3rem;
		margin-bottom: 1rem;
	}
	.coklat2{
		bottom:10vh;
	}
	.coklat1, .coklat2{
		right: -7vw;
	}
	.coklat3{
		bottom: 30vh;
	}
}
<% unless @page.background.nil? || @page.background.blank?  %>
#contentsection{
	background-image: url('<%= @page.background %>');
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
<% end %>
</style>

	<section id="contentsection" class="contentsection">
		<div id="load" class="contenthomeslide contenview">

			<div id="wrappingshow">
				<div class="nanas">
					<img class="img-fluid nanas1 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas1.png') %>">
					<img class="img-fluid nanas2 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas2.png') %>">
					<img class="img-fluid nanas8 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas6.png') %>">
					<img class="img-fluid coklat1 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat1.png') %>">
					<img class="img-fluid nanas5 naanimation animated opacity0" src="<%= asset_url('static/nanas/nanas5.png') %>">
					<img class="img-fluid coklat2 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat2.png') %>">
					<img class="img-fluid coklat3 naanimation animated opacity0" src="<%= asset_url('static/coklat/coklat3.png') %>">
					<div class="contentterms animated opacity0">
						<div class="contentterm height100percent">
							<div class="container height100percent container1000">
								<div class="row height100percent">
									<div class="col-md-12 height100percent ">
										<div ss-container class="paper ss-container about">
											<div class="wrappadding">
												<div class="en">
													<h1 class="titlepage"><%= @page.title_id %></h1>
														<%= @page.content_id.html_safe%>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){
							$('.nanas8').animate({'opacity':1},100,function(){

									$('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');

								$('.coklat1').animate({'opacity': 1},100,function(){
									setTimeout(function(){
										$('.nanas1').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
										$('.nanas2').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
									},300);
								}).addClass('fadeInUp');
								$('.coklat2').animate({'opacity': 1},100,function(){
									$('.coklat3').animate({'opacity': 1},100,function(){
										$('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
										setTimeout(function(){
											$('.contentterms').animate({'opacity' : 1},1000,function(){

											}).addClass('fadeInUp');
										},1000);
									}).addClass('fadeInUp');
								}).addClass('fadeInUp');
							}).addClass('fadeInUp');
						}).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);
					});
				</script>
			</div>

			</div>
		</section>
		<div class="copyright absolute animated opacity0">
			<div class="footermenu">
				<a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
				<a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
				<a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
			</div>
		</div>
		<div class="imgfooter imgfooter1 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer.png') %>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter2 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png') %>" alt="shadowyellow"/>
		</div>
		<div class="imgfooter imgfooter3 opacity0 animated">
			<img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png') %>" alt="shadowyellow"/>
		</div>
