<style type="text/css">
.coklat1{
  position: absolute;
  height: 180px;
  top: 12vh;
  right:3vw;
  z-index:10;
}
.coklat2{
  position: absolute;
  height: 180px;
  bottom: 3vh;
  right:1vw;
  z-index:5;
}
.coklat3{
  position: absolute;
  right: 0;
  bottom:20vh;
  width:200px;
}
.titlepage{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color:#0060af;
}
.paper p{
  text-transform: uppercase;
  letter-spacing: .2em;
  color:#0060af;
  font-weight: 300;
  font-size: .7em;
  line-height: 2;
  margin-bottom:1em;
}
p{
  text-indent:4rem;
  text-align: justify;
}
p::first-letter,p .big{
  font-size: 1.5em;
  line-height: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(179, 232, 255);
  border: 0;
}
.table-striped tbody tr:nth-of-type(even) {

  background: #c4e7f6;
  border: 0;
}

.tabel td, .table th{
  font-family: 'Fredoka one';
  font-weight: 100;
  border: 0;
}

.txt-ket{
    font-size: 15px;
}
@media (max-width: 769px){
  .paper{
    margin: 0 0px;
  }
  .coklat1,.coklat2{
    right:-6vw;
  }
  .paper > .wrappadding{
    min-height: 75vh;
  }
  .nanas8 {
    height: 80px;
    top: 18vh;
    left: 20vw;
  }
}
@media (max-width: 740px)
{
  .coklat1,.coklat2{
    right:0vw;
    max-height: 100px;
  }
  .coklat3 {
    max-width: 120px;
  }
  .nanas1{
    max-height: 100px;
  }
  .nanas2{
    max-height: 100px;
  }
  .nanas2{
    max-height: 120px;
    bottom: 10vh;
  }
  .contentterms{
    height: 70vh;
  }
  }@media (max-width: 500px)
  {
    p{
      text-indent:2rem;
      text-align: left;
    }
    .contentterms{
      height: 80vh;
    }
    .paper > .wrappadding{
      padding: 1.5rem 1.5rem 4rem 1.5rem;
    }
    .titlepage{
      font-size:1.3rem;
      margin-bottom: 1rem;
    }
    .coklat2{
      bottom:10vh;
    }
    .coklat1, .coklat2{
      right: -7vw;
    }
    .coklat3{
      bottom: 30vh;
    }
    .txt-ket{
    font-size: 11px;
}
  }
</style>

  <section id="contentsection" class="contentsection" style="background-color:#C4E7F6">
    <div id="load" class="contenthomeslide contenview">
    <?php }?>
    <div id="wrappingshow">
      <% if I18n.locale.to_s == "id" %>
      <div class="d-block" style="margin-top:25vh;padding-bottom:25vh">
        <div class="container">
          <h1 class="titlepage">Simulasi Keuntungan</h1>
          <div class="text-center">
            <a href="<%= crt_beaseller_path %>" class="btn" style="background: #24a9e0;color: white;margin-top: 10px;">
              Back to Joyseller Page
            </a>
          </div>
          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulasi-1-fix.png') %>" >
          </div>

          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulasi-2-fix.png') %>" >
          </div>

          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulasi-3-fix-2.png') %>" >
          </div>

          <p style="text-indent:0; margin-top:20px;font-size:12px;" class="txt-ket">
                Keterangan:
                <br>
                   <ol class="ml-3">
                  <li style="text-indent:0;font-size:12px;" >1. Untung berlipat jual es krim Joyday sebesar 25-30%</li>
                  <li style="text-indent:0;font-size:12px;" >2. Harga es krim   Joyday mulai dari Rp 2.500 - s/d Rp.12.000</li>
                  <li style="text-indent:0;font-size:12px;" >3. Harga 1 karton es krim Joyday berkisar Rp 130.000,</li>
                  <li style="text-indent:0;font-size:12px;" >4. Modal awal sebesar Rp 1.300.000,- melalui pembelian 10 karton es krim Joyday</li>
                </ol>

              </p>
              <p style="text-indent:0; margin-top:10px;font-size:10px;" class="txt-ket">
      *Terdapat perbedaan harga berdasarkan zona area penjualan
          </p>

        </div>

      </div>
      <% else %>
      <div class="d-block" style="margin-top:25vh;padding-bottom:25vh">
        <div class="container">
          <h1 class="titlepage">PROFIT SIMULATION </h1>
          <div class="text-center">
            <a href="<%= crt_beaseller_path %>" class="btn" style="background: #24a9e0;color: white;margin-top: 10px;">
              Back to Joyseller Page
            </a>
          </div>
          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulation-1.png') %>" >
          </div>

          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulation-2.png') %>" >
          </div>

          <div class="d-block" style="background: #c5e7f6;padding-top: 40px;">
              <img class="w-100 " src="<%= asset_url('static/simulation-3.png') %>" >
          </div>

          <p style="text-indent:0; margin-top:20px;font-size:12px;" class="txt-ket">
                Information:
                <br>
                   <ol class="ml-3">
                  <li style="text-indent:0;font-size:12px;" >1. Double profit from JOYDAY selling price approximately 25% - 30% </li>
                  <li style="text-indent:0;font-size:12px;" >2. Price for JOYDAY ice cream varies between IDR 2,500 - IDR 12,000</li>
                  <li style="text-indent:0;font-size:12px;" >3. Price for 1 carton of JOYDAY ice cream approximately IDR 130,000</li>
                  <li style="text-indent:0;font-size:12px;" >4. A capital of IDR 1.300.000 is worth 10 cartons of JOYDAY ice cream </li>
                </ol>

              </p>
              <p style="text-indent:0; margin-top:10px;font-size:10px;" class="txt-ket">
      *There are a slight distinct of price depends on the sellers zone.
          </p>

        </div>

      </div>

      <% end %>

      <script type="text/javascript">
      $(document).ready(function(){
        $('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){
          $('.nanas8').animate({'opacity':1},100,function(){

              $('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');

              $('.coklat1').animate({'opacity': 1},100,function(){
                setTimeout(function(){
                  $('.nanas1').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                  $('.nanas2').animate({'opacity':1},100,function(){}).addClass('fadeInUp');
                },300);
              }).addClass('fadeInUp');
              $('.coklat2').animate({'opacity': 1},100,function(){
                $('.coklat3').animate({'opacity': 1},100,function(){
                  $('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
                  setTimeout(function(){
                    $('.contentterms').animate({'opacity' : 1},1000,function(){

                    }).addClass('fadeInUp');
                  },1000);
                }).addClass('fadeInUp');
              }).addClass('fadeInUp');
            }).addClass('fadeInUp');
          }).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);
        });
        </script>
      </div>

      </div>
      <div class="position-absolute w-100 d-none d-md-block" style="bottom:0;left:70%">
        <img src="<%= asset_url('static/eskrem-bawah.png') %>" alt="resmi 1" style="width:35vw;">
      </div>
    </section>
    <div class="copyright absolute animated opacity0">
      <div class="footermenu">
        <a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
        <a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
        <a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
      </div>
    </div>
    <div class="imgfooter imgfooter1 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter2 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter3 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
    </div>
