<style type="text/css">
.coklat1{
  position: absolute;
  height: 180px;
  top: 12vh;
  right:3vw;
  z-index:10;
}
.coklat2{
  position: absolute;
  height: 180px;
  bottom: 3vh;
  right:1vw;
  z-index:5;
}
.coklat3{
  position: absolute;
  right: 0;
  bottom:20vh;
  width:200px;
}
.titlepage{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color:#0060af;
}
.paper p{
  text-transform: uppercase;
  letter-spacing: .2em;
  color:#0060af;
  font-weight: 300;
  font-size: .7em;
  line-height: 2;
  margin-bottom:1em;
}

p::first-letter,p .big{
  font-size: 1.5em;
  line-height: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(179, 232, 255);
  border: 0;
}
.table-striped tbody tr:nth-of-type(even) {

  background: #c4e7f6;
  border: 0;
}

.tabel td, .table th{
  font-family: 'Fredoka one';
  font-weight: 100;
  border: 0;
}

.txt-ket{
    font-size: 15px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
      }
@media (max-width: 769px){
  .paper{
    margin: 0 0px;
  }
  .coklat1,.coklat2{
    right:-6vw;
  }
  .paper > .wrappadding{
    min-height: 75vh;
  }
  .nanas8 {
    height: 80px;
    top: 18vh;
    left: 20vw;
  }
}
@media (max-width: 740px)
{
  .coklat1,.coklat2{
    right:0vw;
    max-height: 100px;
  }
  .coklat3 {
    max-width: 120px;
  }
  .nanas1{
    max-height: 100px;
  }
  .nanas2{
    max-height: 100px;
  }
  .nanas2{
    max-height: 120px;
    bottom: 10vh;
  }
  .contentterms{
    height: 70vh;
  }
  }@media (max-width: 500px)
  {
    p{
      text-indent:2rem;
      text-align: left;
    }
    .contentterms{
      height: 80vh;
    }
    .paper > .wrappadding{
      padding: 1.5rem 1.5rem 4rem 1.5rem;
    }
    .titlepage{
      font-size:1.3rem;
      margin-bottom: 1rem;
    }
    .coklat2{
      bottom:10vh;
    }
    .coklat1, .coklat2{
      right: -7vw;
    }
    .coklat3{
      bottom: 30vh;
    }
    .txt-ket{
    font-size: 11px;
}
  }
</style>

  <section id="contentsection" class="contentsection" >
    <div id="load" class="contenthomeslide contenview">

    <div id="wrappingshow">
      <div class="d-block" style="margin-top:25vh;padding-bottom:25vh">
        <div class="container xanimated animated opacity0">
          <h1 class="titlepage">TEMUKAN JOYDAY</h1>
          <div class="mb-5">
            <p class="text-center"> Anda Dapat Membeli produk Joyday di toko - toko terdekat di sekitar Anda, silahkan  cek di sini </p>
          </div>
          <div id="map"></div>

          <div class="d-block mt-4">
            <div class="text-center">
              <h2 class="titlepage">Lokasi Toko</h2>
            </div>
            <hr style="background-color:#285da2;">
          </div>
          <div class="row">
            <div class="col-md-12">
               <form action="/store-location" method="get" id=filter-location>
                 <select id="selectLocation" class="form-control" name="location">
                 <option selected>Choose Location</option>
                 <% Store.all.group_by{|c| c.area}.map{|c| c.first}.each do |x| %>
                  <% if params[:location].present? %>
                  <% if x == params[:location] %>
                        <option value="<%= x %>" selected><%= x %></option>
                  <% end %>
                      <option value="<%= x %>"><%= x %></option>
                  <% else %>
                  <option value="<%= x %>"><%= x %></option>
                  <% end %>
                  <% end %>
               </select>
                </form>
            </div>
            <div class="col-md-2">
            </div>
          </div>

          <% if params[:location].present? %>
            <div class="str-info">
          <% else %>
            <div class="str-info"style="display:none;">
          <% end %>

            <hr style="background-color:#285da2;">

            <div class="row">


              <% Store.all.each do |x| %>
                <% if params[:location].present? %>
                <% if x.area == params[:location] %>
                <div class="col-md-3 mb-3 area <%= x.area.parameterize.underscore %>" >
                <% else %>
                <div class="col-md-3 mb-3 area <%= x.area.parameterize.underscore %>" style="display:none" >
                <% end %>
                <% else %>
                  <div class="col-md-3 mb-3 area <%= x.area.parameterize.underscore %> " style="display:none" >
                <% end %>
                <div class="card">
                  <div class="card-body  sm-card ">
                    <a href="<%= store_path(x) %>">
                      <h3 class="mb-3"><%= x.name %></h3>
                    </a>
                    <span style="font-size:0.7em" class="mb-3"><%= x.address %></span> <br>
                    <a  style="font-size:0.6em" href="https://www.google.com/maps/?q=<%= x.long %>,<%= x.lat %>" target="_blank">
                      Lihat di Google Map
                    </a>
                  </div>
                </div>
              </div>
              <% end %>


            </div>
          </div>

        </div>

      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.imgfooter').animate({'opacity':1, 'bottom' : 0},100,function(){


                $('.socmed,.socmedmobile,.headerhome').animate({'opacity':1},1000).removeClass('fadeIn');

                $('.socmed').animate({'opacity':1},1000).removeClass('fadeIn');
               setTimeout(function(){
                 $('.xanimated').animate({'opacity' : 1},1000,function(){

                 }).addClass('fadeInUp');
               },1000);


          }).addClass('fadeInUp').prev('.copyright').delay(1000).animate({opacity:1},1000);
        });
      </script>

      <script type="text/javascript">
        $("#selectLocation" ).change(function(){
          $('#filter-location').submit();
        });
      </script>
      <script>

      function initMap() {

        var locations = [
        <% Store.all.each do |x| %>
        {lat: <%= x.long %>, lng: <%= x.lat %>,name: '<%= x.name %>', address: '<%= x.address %>', url: '<%= store_path(x) %>', area: '<%= x.area %>'},
        <% end %>  		];
        var infowindow = new google.maps.InfoWindow();


       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 5,
         center: {lat: -0.7383225, lng: 117.111107}

       });

       var markers=locations.map(function(location, i) {
           var marker=new google.maps.Marker( {
               position: location
           }
           );
           google.maps.event.addListener(marker, 'click', function(evt) {
               infowindow.open(map, this);
               infowindow.setContent('<h5><a href='+location.url+'><strong>'+location.name+'</strong></a><h5><span>'+location.address+'<span>');
               <% Store.all.each do |x| %>
               if (location.area == "<%= x.area %>") {
                 $('.area').hide();
                 $(('.str-info')).show();
                 $(('#selectLocation')).val("<%= x.area %>");
                 $('.<%= x.area.parameterize.underscore %>').show();
               }
               <% end %>

           }
           );
           return marker;
       });

       // Add a marker clusterer to manage the markers.
       var markerCluster = new MarkerClusterer(map, markers,
           {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

      </script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7vH0yIM9wN_YJxqvacDESUNRRFYylKU&callback=initMap">
      </script>
      </div>

      </div>

    </section>
    <div class="copyright absolute animated opacity0">
      <div class="footermenu">
        <a href="/terms-of-use" data-href="" data-url="/terms-of-use" data-title="terms of use Joyday" class="firstmenu menufoot"><%= t('tandc') %></a>
        <a href="/privacy-policy" data-href="/privacy-policy" data-url="privacy-policy" data-title="Privacy Policy Joyday" class="firstmenu menufoot"><%= t('privacy_policy') %></a>
        <a href="/contact-us" data-href="/contact-us" data-url="home/contact" data-title="Contact Joyday" class="firstmenu menufoot"><%= t('contact_us') %></a>
      </div>
    </div>
    <div class="imgfooter imgfooter1 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter2 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer2.png')%>" alt="shadowyellow"/>
    </div>
    <div class="imgfooter imgfooter3 opacity0 animated">
      <img class="img-fluid img100percent" src="<%= asset_url('static/footer3.png')%>" alt="shadowyellow"/>
    </div>

<script type="text/javascript">
  $(function() {
    $('.sm-card').matchHeight();
  });
</script>
