<%= form_for @product_category, :html => { :class => "form-horizontal product_category" } do |f| %>

<% if @product_category.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@product_category.errors.count, "error") %> prohibited this product_category from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @product_category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => 'control-label' %>
  <%= f.text_field :title, :class => 'form-control' %>
  <%=f.error_span(:title) %>
</div>
<div class="form-group">
  <%= f.label :description_en, :class => 'control-label' %>
  <%= f.text_area :description_en, :class => 'form-control', rows: 5, limit: 230 %>
  <%=f.error_span(:description_en) %>
</div>
<div class="form-group">
  <%= f.label :description_id, :class => 'control-label' %>
  <%= f.text_area :description_id, :class => 'form-control', rows: 5, limit: 230 %>
  <%=f.error_span(:description_id) %>
</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    product_categories_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>
