<section style="height:100vh; background-color:#ffd400;">
  <div class="container" style="height:100vh;">
    <div class="row justify-content-center align-items-center" style="height:100vh;">
      <div class="col-12 col-md-4">
        <div class="p-5"style="background-color: rgba(255,255,255,0.9); padding: 4rem 2.5rem; border-radius: 5px;overflow: hidden; overflow-y: auto;    box-shadow: 0 10px 20px 0px #555;" >
          <h2>Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="mt-3">
              <%= f.submit "Log in", class:"btn  btn-primary" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
