<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Dashoard</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">Dashboard</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">Be a Seller</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right"><%= Beaseller.all.count %></h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-image font-20  text-muted"></i>
                <p class="font-16 m-b-5">Request Sample</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right"><%= RequestSample.all.count %></h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5>Jumlah Registrasi <b>Be a Seller</b> Bulan ini</h5>
            <div id="beaseller" style="height: 250px;"></div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
              <h5>Jumlah <b>Request Sample</b> Bulan ini</h5>
            <div id="requestsample" style="height: 250px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3>Latest Product</h3>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-success mb-2' %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= "id".to_s %></th>
              <th><%= "title".to_s %></th>
              <th><%= "publish".to_s %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% Product.all.limit(5).order(created_at: :desc).each do |product| %>
            <tr>
              <td><%= link_to product.id, product_path(product) %></td>
              <td><%= product.title_en %></td>
              <td><%=  ActionView::Base.full_sanitizer.sanitize(product.content_id).truncate(100) %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                product_path(product), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_product_path(product), :class => 'btn btn-default btn-xs' %>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3>Latest Article</h3>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_article_path, :class => 'btn btn-success mb-2' %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= "id".to_s %></th>
              <th><%= "title".to_s %></th>
              <th><%= "publish".to_s %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% Article.all.limit(5).order(publish: :desc).each do |article| %>
            <tr>
              <td><%= link_to article.id, article_path(article) %></td>
              <td><%= article.title_id %></td>
              <td><%=l article.publish %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                article_path(article), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_article_path(article), :class => 'btn btn-default btn-xs' %>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    $(document).ready(function() {

      lineChart();
      lineChart2();


      $(window).resize(function() {

        window.lineChart.redraw();
        window.lineChart2.redraw();

      });
    });



    function lineChart() {
      window.lineChart = Morris.Line({
        element: 'beaseller',
        data: [
           <% Beaseller.where(created_at:  Time.now.beginning_of_month + 1.days..Time.now.end_of_month).group_by{|c| c.created_at.strftime("%F")}.map{|c| [c.first, c.last.count]}.sort_by{|c| c.first.to_time.strftime('%T')}.each do |g| %>
          { y: '<%= g.first %>', a: <%= g.last %>},
          <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Jumlah Registrasi'],
        lineColors: ['#1e88e5','#ff3321'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }
    function lineChart2() {
      window.lineChart = Morris.Line({
        element: 'requestsample',
        data: [
           <% RequestSample.where(created_at:  Time.now.beginning_of_month + 1.days..Time.now.end_of_month).group_by{|c| c.created_at.strftime("%F")}.map{|c| [c.first, c.last.count]}.sort_by{|c| c.first.to_time.strftime('%T')}.each do |g| %>
          { y: '<%= g.first %>', a: <%= g.last %>},
          <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Jumlah Registrasi'],
        lineColors: ['#1e88e5','#ff3321'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }

  </script>
