<%= form_for @request_sample, :html => { :class => "form-horizontal request_sample" } do |f| %>

  <% if @request_sample.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@request_sample.errors.count, "error") %> prohibited this request_sample from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @request_sample.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email, :class => 'form-control' %>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <%= f.text_field :phone_number, :class => 'form-control' %>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label' %>
    <%= f.text_area :address, :class => 'form-control',rows: 5 %>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :province, :class => 'control-label' %>
    <%= f.collection_select :province, Province.order(:name), :name , :name, style: "display:block;include_blank: true", :prompt => "Select Provinsi", class: 'form-control' %>
    <%=f.error_span(:province) %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label' %>
    <%= f.grouped_collection_select :city, Province.order(:name), :regencies, :name, :name , :name, style: "width:275px;display:block", :prompt => "Select Area", required: true, class: 'form-control' %>
    <%=f.error_span(:city) %>
  </div>

  <div class="form-group">
    <%= f.label :variant, :class => 'control-label' %>
    <%= f.text_field :variant, :class => 'form-control' %>
    <%=f.error_span(:variant) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      beasellers_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <% end %>

<script type="text/javascript">
    var locations;
    var areas;
    $('#request_sample_city').attr('required', 'required');
    $('#request_sample_province').attr('required', 'required');
    areas = $('#request_sample_province').html();
    locations = $('#request_sample_city').html();

    $('#request_sample_province').change(function () {
      var region,
      escaped_region,
      options;
      region = $('#request_sample_province :selected').text();
      escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
      options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
      if (options) {
        $('#request_sample_city').html(options);
        return $('#request_sample_city').removeAttr("disabled");

      } else {
        $('#request_sample_city').empty();
        return $('#request_sample_city').attr('required', 'required');
        return $('#request_sample_province').addClass("hide");

      }

    });
    </script>
