<%- model_class = Beaseller -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>Filter by Date</h3>
          <form action="/beasellers" method="get">
            <div class="row align-items-end">
              <div class="col">
                Start Date
                <input  class="form-control"  type=date name="start" <% if params[:start].present? %>
                  value="<%= params[:start] %>"
                <% end %> required>
              </div>
              <div class="col">
                End Date
                <input  class="form-control" type=date name="end" <% if params[:end].present? %>
                  value="<%= params[:end] %>"
                <% end %> required>
              </div>
              <div class="col">

                <button type="submit" name="button" class="btn btn-default">Filter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")), new_beaseller_path, :class => 'btn btn-success mb-2' %>
          <button type="button" name="button" id="expbe" class= "btn btn-info mb-2">Export</button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:city) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @beasellers.each do |beaseller| %>
              <tr>
                <td><%= link_to beaseller.id, beaseller_path(beaseller) %></td>
                <td><%= beaseller.name %></td>
                <td><%= beaseller.email %></td>
                <td><%= beaseller.city.truncate(14) rescue"-" %></td>
                <td><%= beaseller.created_at.strftime("%F") %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  beaseller_path(beaseller), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_beaseller_path(beaseller), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  beaseller_path(beaseller),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
$(document).ready(function() {
  $(".table").dataTable();
});
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#expbe').click(function(){
      var data = (function () {
        var json = null;
        $.ajax({
          'async': false,
          'global': false,
          <% if params[:start].present? %>
          'url': '/beasellers.json?start=<%= params[:start] %>&end=<%= params[:end] %>',
          <% else %>
          'url': '/beasellers.json',
          <% end %>
          'dataType': "json",
          'success': function (data) {
            json = data;
          }
        });
        return json;
      })();
      if(data == '')
      return;

      JSONToCSVConvertor(data, "BE A SELLER", true);
    });
  });

  function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
    //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
    var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;

    var CSV = '';
    //Set Report title in first row or line

    CSV += ReportTitle + '\r\n\n';

    //This condition will generate the Label/Header
    if (ShowLabel) {
      var row = "";

      //This loop will extract the label from 1st index of on array
      for (var index in arrData[0]) {

        //Now convert each value to string and comma-seprated
        row += index + ',';
      }

      row = row.slice(0, -1);

      //append Label row with line break
      CSV += row + '\r\n';
    }

    //1st loop is to extract each row
    for (var i = 0; i < arrData.length; i++) {
      var row = "";

      //2nd loop will extract each column and convert it in string comma-seprated
      for (var index in arrData[i]) {
        row += '"' + arrData[i][index] + '",';
      }

      row.slice(0, row.length - 1);

      //add a line break after each row
      CSV += row + '\r\n';
    }

    if (CSV == '') {
      alert("Invalid data");
      return;
    }

    //Generate a file name
    var fileName = "Report_";
    //this will remove the blank-spaces from the title and replace it with an underscore
    fileName += ReportTitle.replace(/ /g,"_");

    //Initialize file format you want csv or xls
    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

    // Now the little tricky part.
    // you can use either>> window.open(uri);
    // but this will not work in some browsers
    // or you will not get the correct file extension

    //this trick will generate a temp <a /> tag
    var link = document.createElement("a");
    link.href = uri;

    //set the visibility hidden so it will not effect on your web-layout
    link.style = "visibility:hidden";
    link.download = fileName + ".csv";

    //this part will append the anchor tag and remove it after automatic click
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
  </script>
