/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require admin/bootboot/bootstrap
 *= require admin/style
 *= require font-awesome
 *= require admin/dropify
 *= require admin/dataTables.bootstrap4
 *= require admin/bootstrap-switch.min
 *= require select2
 *= require toastr
 * require_tree .
 * require_self
 */

 .morris-hover {
   position:absolute;
   z-index:1000;
 }

 .morris-hover.morris-default-style {     border-radius:10px;
   padding:6px;
   color:#666;
   background:rgba(255, 255, 255, 0.8);
   border:solid 2px rgba(230, 230, 230, 0.8);
   font-family:sans-serif;
   font-size:12px;
   text-align:center;
 }

 .morris-hover.morris-default-style .morris-hover-row-label {
   font-weight:bold;
   margin:0.25em 0;
 }

 .morris-hover.morris-default-style .morris-hover-point {
   white-space:nowrap;
   margin:0.1em 0;
 }

 svg { width: 100%; }
