<%= form_with(model: ecommerce_product, local: true) do |form| %>
  <% if ecommerce_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ecommerce_product.errors.count, "error") %> prohibited this ecommerce_product from being saved:</h2>

      <ul>
      <% ecommerce_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ecommerce_id %>
    <%= form.text_field :ecommerce_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
