<p id="notice"><%= notice %></p>

<h1>Ecommerce Products</h1>

<table>
  <thead>
    <tr>
      <th>Ecommerce</th>
      <th>Product</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecommerce_products.each do |ecommerce_product| %>
      <tr>
        <td><%= ecommerce_product.ecommerce.title %></td>
        <td><%= ecommerce_product.product.title_en %></td>
        <td><%= ecommerce_product.link %></td>
        <td><%= link_to 'Show', ecommerce_product %></td>
        <td><%= link_to 'Edit', edit_ecommerce_product_path(ecommerce_product) %></td>
        <td><%= link_to 'Destroy', ecommerce_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecommerce Product', new_ecommerce_product_path %>
