<p id="notice"><%= notice %></p>

<p>
  <strong>Ecommerce:</strong>
  <%= @ecommerce_product.ecommerce %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ecommerce_product.product %>
</p>

<p>
  <strong>Link:</strong>
  <%= @ecommerce_product.link %>
</p>

<%= link_to 'Edit', edit_ecommerce_product_path(@ecommerce_product) %> |
<%= link_to 'Back', ecommerce_products_path %>
