<div class="col-md-4 nested-fields">
  <% a = Ecommerce.where(id: locals[:ecom]).first %>
  <label class="control-label" for="product_featured_image"><%= a.title %></label>
  <div class="form-group">
    <%= f.hidden_field :ecommerce_id, value: a.id %>
    <%= f.text_field :link,:class => 'form-control'  %>
  </div>
</div>


<script type="text/javascript">
  $('.dropify').dropify();
</script>
