<div class="col-md-4 nested-fields">

  <label class="control-label" for="product_featured_image"><%= Ecommerce.where(id: f.object.ecommerce_id).first.title rescue Ecommerce.last.title %></label>
  <div class="form-group">
    <%= f.hidden_field :ecommerce_id, val:Ecommerce.where(id: f.object.ecommerce_id).first.id rescue f.hidden_field :ecommerce_id, value: Ecommerce.last.id %>
    <%= f.text_field :link,:class => 'form-control'  %>
  </div>
</div>


<script type="text/javascript">
  $('.dropify').dropify();
</script>
