<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>
<% if @product.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title_en, "Title", :class => 'control-label' %>
          <%= f.text_field :title_en, :class => 'form-control' %>
          <%=f.error_span(:title_en) %>
        </div>
        <div class="form-group">
          <%= f.label :product_category_id, :class => 'control-label' %>
          <%= f.select :product_category_id, ProductCategory.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
          <%=f.error_span(:product_category_id) %>
        </div>
        <div class="form-group">
          <%= f.label :content_id, "Content in Indonesia", :class => 'control-label' %>
          <%= f.cktext_area :content_id, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
          <%=f.error_span(:content_id) %>
        </div>
        <div class="form-group">
          <%= f.label :content_en, "Content in English", :class => 'control-label' %>
          <%= f.cktext_area :content_en, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save,image,image2',:removeButtons => 'image,Flash,About' } %>
          <%=f.error_span(:content_en) %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Slider Image</h4>
    <div class="row">
      <div class="col-md-12 justify-content-12">
        <div class="form-group">
          <%= f.label :featured_image, :class => 'control-label' %>
            <p>Max File Size 1MB | Max Width: 355px and Height:840px</p>
          <% if @product.featured_image.nil? || @product.featured_image.blank? %>
            <%= f.file_field :featured_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
          <% else %>
            <%= f.file_field :featured_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @product.featured_image.url %>
          <% end %>
          <%=f.error_span(:featured_image) %>
        </div>
      </div>
    </div>
    <div class="row" id="image_products">
      <%= f.fields_for :image_products do |image_product| %>

         <%= render 'image_product_fields', f: image_product %>

      <% end %>
      <div class="col-md-4">
         <%= link_to_add_association 'add image', f, :image_products, class:"btn btn-primary" %>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Shop Now</h4>
    <div class="row">
      <% if @product.new_record? %>
      <% Ecommerce.all.each do |z| %>
      <%= f.fields_for :ecommerce_products do |builder| %>
        <%= render "ecommerce_products_new_fields", :f => builder, locals: {ecom: z.id} %>
      <% end %>
      <% end %>


      <% else %>
      <%= f.fields_for :ecommerce_products do |builder| %>
        <%= render "ecommerce_products_edit_fields", :f => builder %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Product Info</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :sku, :class => 'control-label' %>
          <%= f.text_field :sku, :class => 'form-control' %>
          <%=f.error_span(:sku) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :netto, :class => 'control-label' %>
          <%= f.text_field :netto, :class => 'form-control' %>
          <%=f.error_span(:netto) %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        products_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

<% end %>
