<div class="col-md-4 nested-fields">
  <div class="form-group">
      <p>Max File Size 1MB | Max Width: 508px and Height:692px</p>
    <%= f.label :image, :class => 'control-label' %>
        <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => f.object.image.url %>
    <%=f.error_span(:image) %>
    <div class="mt-3 text-center">
      <%= link_to_remove_association "remove image", f, class:"btn btn-danger" %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.dropify').dropify();
</script>
