<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- hreflang -->
  <% @lsc = %w(en id).map { |l| l.prepend '/' }  %>
  <link href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath.sub(Regexp.union(@lsc), '')}" %>" hreflang="x-default" rel="alternate"></link>
  <% I18n.available_locales.each do |locale| %>
  <link href="<%= url_for(locale: locale, only_path: false) %>" hreflang="<%= locale %>" rel="alternate"></link>
  <% end %>
  <!-- href lang -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta id="meta-theme" name="theme-color" content="#eab929"/>
  <meta name="google" content="notranslate"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="shorcut icon" type="image/x-icon" href="<%= asset_url('static/icon/57x57.ico') %>" />
  <link rel="icon" type="image/png" href="<%= asset_url('static/icon/160x160.png') %>" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_url('static/icon/114x114.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_url('static/icon/72x72.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_url('static/icon/57x57.png') %>">
  <link rel="canonical" href="<%= request.original_url %>"/>
  <link rel="manifest" href="/manifest"/>
  <link rel="index" href="<%= root_path %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <%= javascript_include_tag "application" %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117253733-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117253733-1');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- GTM Global -->

  <!-- Global site tag (gtag.js) - Google Ads: 741339235 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-741339235"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-741339235');
  </script>
  <!-- GTM Global -->

  <% if @gtm.present? %>
  <!-- Event snippet for B2B - Sign Up conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-741339235/0WkCCP3yxqUBEOPgv-EC'});
  </script>
  <!-- Event snippet for B2B - Sign Up conversion page -->
  <% end %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117253733-1"></script>


  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Joyday",
      "url": "http://joyday.aulyansr.com",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <% if @article.present? %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "<%= @article.title_id %>",
      "image": {
        "@type": "ImageObject",
        "url": "<%= request.protocol + request.host_with_port %><%= @article.featured_image.url %>",
        "width": 700 ,
        "height": 536
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= request.protocol + request.host_with_port %>/<%= @article.slug %>"
      },
      "description": "<%= @article.meta_description_id %>",
      "datePublished": "<%= @article.publish.strftime("%Y-%m-%d") rescue "-" %>",
      "dateModified": "<%= @article.updated_at.strftime("%Y-%m-%d") rescue "-" %>",
      "author": {
        "@type": "Person",
        "name": "Joyday"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Joyday",
        "logo": {
          "@type": "ImageObject",
          "url": "https://joyday.com/assets/static/joyday-logo-new-may-2019.png",
          "width": 270,
          "height": 120
        }
      }
    }
  </script>


  <% end %>

  <% if @product.present? %>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "<%= @product.title_en %>",
      "image": "<%= request.protocol + request.host_with_port %>/<%= @product.featured_image.url %>",
      "description": "<%= @product.content_id %>",
      "brand": "Joyday",
      "sku": "<%= @product.sku %>"
    }
  </script>
  <% end %>
</head>

<body>
  <style type="text/css">';
    #contentsection
    {background-color: '#eab929';}#wrappslidermobile{background-color: '#eab929';}';
  }
  .id{display:none;}

</style>
<script type="text/javascript">

  function CC(name,value,days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
  }

  function RC(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  function EC(name) {
    CC(name,"",-1);
  }
  (function($){

    $.fn.customerPopup = function (e, intWidth, intHeight, blnResize) {
      if(this.attr('data-href') !=''){
        $href = this.attr('data-href')
      }else{
        $href = this.attr('href');
      }
      e.preventDefault();
      intWidth = intWidth || '500';
      intHeight = intHeight || '300';
      left = (screen.width/2) - (intWidth/2);
      topup = (screen.height/2) - (intHeight/2);
      strResize = (blnResize ? 'yes' : 'no');
      var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
      strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize + ',top=' +topup + ', left=' + left,
      objWindow = window.open($href, strTitle, strParam).focus();
    }
  }(jQuery));
  var JavaScript = {
    load: function (src, callback, type = null, position='head') {
      var script = document.createElement("link"),
      loaded;
      if (type == 'css') {
        script.setAttribute("rel", "stylesheet");
        script.setAttribute("type", "text/css");
        script.setAttribute("href", src)
      } else {
        script = document.createElement('script'),
        loaded;
        script.setAttribute('src', src)
      }
      if (callback) {
        script.onreadystatechange = script.onload = function () {
          if (!loaded) {
            callback()
          }
          loaded = !0
        }
      }
      if(position == 'head'){
        document
        .getElementsByTagName('head')[0]
        .appendChild(script);
      }else{
        document
        .body
        .appendChild(script);
      }
    }
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '319647625233570',
      xfbml      : true,
      version    : 'v3.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'))

  $(document).ready(function(){
    $('.fbshare').on('click',function() {
      FB.ui({
        method: 'feed',
        link: '<%= request.original_url %>',
        picture: '<%= asset_url('static/share.png') %>'
      }, function(response){
        if (response && !response.error_code) {
        }
      });
    });
  });
</script>

<!-- End Google Tag Manager (noscript) -->
<div class="overlay togglemenu"></div>

<div class="bg-mn">
  <img src="<%= asset_url('bg-wave-blue.png') %>" class="w-100 position-fixed d-none d-sm-block d-md-block d-lg-block"  alt="bg-wave" style="z-index:34">
  <img src="<%= asset_url('bg-wave-blue-mbl.png') %>" class="w-100 position-fixed d-block d-md-none"  alt="bg-wave" style="z-index:34">
</div>

<div class="headerhome headermenu animated opacity0" style="z-index:99999">
  <div class="level is-mobile">
    <div class="level-item onlyinmobile">
      <ul class="iden onlyinmobile">
        <li><%=  link_to_unless_current "ID", { locale: "id"}, {class: 'changelanguange'} %></li>
        <li><%=  link_to_unless_current "EN", { locale: "en"}, {class: 'changelanguange'} %></li>
      </ul>
    </div>
    <div class="level-item">
      <a class="logo" href="/">
        <img class="img-fluid" src="<%= asset_url('static/joyday-logo-new-may-2019.png') %>" alt="Joyday - Joyday bikin Joy deh"/>
      </a>
    </div>
    <div class="level-item mr-0">
      <div class="onlyinmobile width100percent">
        <div class="wrapmenumobile">
          <a class="menumobile togglemenu" href="javascript:void(0);">
            <i class="ti-menu bg-yellow-mbl"></i>
          </a>
        </div>
      </div>
      <ul class="mainmenu clearfix">
        <% if I18n.locale.to_s == "id" %>
        <li><a href="/about" data-href="about" data-url="home/about" data-title="About Joyday" class="firstmenu"><%= Page.where(slug: 'about').first.title_id %></a></li>
        <li class="mn-product">
          <a islink product href="<%= list_product_path %>" class="firstmenu product-menu"><%= Page.where(slug: 'list-product').first.title_id %></a>
        </li>
        <li><a islink gallery href="<%= gallery_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'list-blog').first.title_id %></span></a></li>
        <li class="mn-requestsample">
          <a islink requestsample href="/store-location" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'page-grab-our-ice-cream').first.title_id %></span></a>
        </li>
        <li class="mn-beaseller">
          <a islink beaseller href="<%= crt_beaseller_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'be-a-seller').first.title_id %></span></a>
        </li>
        <% end %>

        <% if I18n.locale.to_s == "en" %>

        <li><a href="/about" data-href="about" data-url="home/about" data-title="About Joyday" class="firstmenu"><%= Page.where(slug: 'about').first.title_en %></a></li>
        <li class="mn-product"><a islink product href="<%= list_product_path %>" class="firstmenu product-menu"><%= Page.where(slug: 'list-product').first.title_en %></a>
        </li>
        <li><a islink gallery href="<%= gallery_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'list-blog').first.title_en %></span></a></li>
        <li class="mn-requestsample"><a islink requestsample href="/store-location" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'page-grab-our-ice-cream').first.title_en %></span></a>
        </li>
        <li class="mn-beaseller"><a islink beaseller href="<%= crt_beaseller_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'be-a-seller').first.title_en %></span></a>
        </li>
        <% end %>
      </ul>
      <ul class="iden onlyindesktop" style="z-index:99">
        <li><%=  link_to_unless_current "ID", { locale: "id"}, {class: 'changelanguange'} %></li>
        <li><%=  link_to_unless_current "EN", { locale: "en"}, {class: 'changelanguange'} %></li>
      </ul>
    </div>
  </div>
</div>
<div class="socmed animated opacity0 onlyindesktop">
  <div class="d-table height100percent">
    <div class="d-table-cell middle">
      <a href="//www.facebook.com/JoydayIceCream/" target="_blank"><i class="fa fa-facebook"></i></a><br/>
      <a href="//twitter.com/JoydayIceCream?lang=en" target="_blank"><i class="fa fa-twitter"></i></a><br/>
      <a href="https://www.instagram.com/joydayicecream" target="_blank"><i class="fa fa-instagram"></i></a><br/>
      <a href="tel:+62800-1-868686"><i class="fa fa-phone"></i></a>
    </div>
  </div>
</div>



<div class="sidebarmenu" style="z-index:9999999">
  <div class="close togglemenu">&times;</div>
  <a class="logosidebar" href="<%= root_path %>">
    <img class="img-fluid" src="<%= asset_url ('static/logo.png') %>" alt="logo"/>
  </a>
  <ul>
    <% if I18n.locale.to_s == "id" %>

    <li><a href="/about" data-href="about" data-url="home/about" data-title="About Joyday" class="firstmenu"><%= Page.where(slug: 'about').first.title_id %></a></li>
    <li class="mn-product"><a islink product href="<%= list_product_path %>" class="firstmenu product-menu"><%= Page.where(slug: 'list-product').first.title_id %></a>

    </li>
    <li><a islink gallery href="<%= gallery_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'list-blog').first.title_id %></span></a></li>
    <li class="mn-requestsample"><a islink requestsample href="/store-location" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'page-grab-our-ice-cream').first.title_id %></span></a>

    </li>
    <li class="mn-beaseller"><a islink beaseller href="<%= crt_beaseller_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'be-a-seller').first.title_id %></span></a>

    </li>
    <% end %>

    <% if I18n.locale.to_s == "en" %>

    <li><a href="/about" data-href="about" data-url="home/about" data-title="About Joyday" class="firstmenu"><%= Page.where(slug: 'about').first.title_en %></a></li>
    <li class="mn-product"><a islink product href="<%= list_product_path %>" class="firstmenu product-menu"><%= Page.where(slug: 'list-product').first.title_en %></a>

    </li>
    <li><a islink gallery href="<%= gallery_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'list-blog').first.title_en %></span></a></li>
    <li class="mn-requestsample"><a islink requestsample href="/store-location" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'page-grab-our-ice-cream').first.title_en %></span></a>

    </li>
    <li class="mn-beaseller"><a islink beaseller href="<%= crt_beaseller_path %>" class="firstmenu product-menu"><span class="en"><%= Page.where(slug: 'be-a-seller').first.title_en %></span></a>
    </li>
    <% end %>
  </ul>
  <div class="wrapsocmedmob" style="max-width:220px; margin:0 auto; padding:15px; margin-top:15px;">
    <div class="socmedmobile animated opacity0">
      <div class="d-table height100percent">
        <div class="d-table-cell middle">
          <a href="//www.facebook.com/JoydayIceCream/" target="_blank" class="fblink"><i class="fa fa-facebook"></i></a>&nbsp;
          <a href="//twitter.com/JoydayIceCream?lang=en" target="_blank"class="twlink"><i class="fa fa-twitter"></i></a>&nbsp;
          <a href="https://www.instagram.com/joydayicecream" target="_blank" class="iglink"><i class="fa fa-instagram"></i></a>&nbsp;
          <a href="tel:+62800-1-868686" target="_blank" class="tellink"><i class="fa fa-phone"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<%= yield %>

<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click','.changelanguange',function(){
      EC('currentlang');
      var currentlang = $(this).attr('id');
      if(currentlang == 'id'){
        $('.en').hide();
        $('.id').fadeIn('slow');
      }else {
        $('.id').hide();
        $('.en').fadeIn('slow');
      }
      if($('.propin').length > 0){
        var propinsi = $('.propin').attr('data-'+currentlang);
        $('.propin').text(propinsi);
        var kota = $('.kotas').attr('data-'+currentlang);
        $('.kotas').text(kota);
      }
      CC('currentlang',currentlang,20);
    });
    $('.togglemenu').on('click',function(){
      $('body').toggleClass('showsidebar');
    });
    $('.has-arrow').on('click',function(){
      $(this).toggleClass('active');
    });
    $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      var $this = $(this);
      if ( location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname)
      {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          currentScrollPosition = target.offset().top
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) {
              return false;
            } else {
              $target.attr('tabindex','-1');
              $target.focus();
            };
          });
        }
      }
      if($(this)[0].hasAttribute('data-href')){
        var $name = $(this).attr('href');
        var $url = $(this).attr('data-url');
        history.pushState({urlPath:'/'+$url}, $(this).attr('data-title'), $(this).attr('data-href'));
        $('#load').load($(this).attr('data-href')+'?content=inload',function(){
          positiontarget = $('#contentsection').offset().top;
          if(RC('bgColor')){
            $('#contentsection').attr('style','background-color :' + RC('bgColor') + ';');
            $('#contentsection').addClass(RC('bgClass'));
            $('#meta-theme').attr('content',RC('bgColor'));
          }
        });
      }
      if($(this).hasClass('firstmenu'))
      {
        $('.firstmenu').removeClass('active');
        $(this).addClass('active');
        setTimeout(function(){
          var currlang = RC('currentlang');
          if(currlang == 'id'){
            $('.en').css({'display':'none'});
            $('.id').css({'display':'inline-block'});
          }else{
            $('.id').css({'display':'none'});
            $('.en').css({'display':'inline-block'});
          }
        },1200);
      }
      if($(this).hasClass('closesidebar')){
        setTimeout(function(){
          $('body').removeClass('showsidebar');
        },800);
      }
    });

    $('.logo').on('click',function(e){
      var href = this.href;
      e.preventDefault();
      EC('bgColor');
      EC('bgClass');
      window.location = href;
    });
    if(RC('bgClass')){
      $('#contentsection').addClass(RC('bgClass'));
    }
    $('.share').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $fb = $(this);
      $fb.customerPopup(e);
      return false;
    });
  });
</script>



<script type="text/javascript">
  $('.fancybox').fancybox({
    fitToView : true,
    autoSize  : true,
    padding   : 0,
    clickSlide: false,
    clickOutside: false,
    toolbar  : false,
    smallBtn : false,
    type    : 'iframe',
    iframe    : {
      css : {
        width : '85%',
        height : '85%',
        maxWidth : '90%',
        maxHeight : '90%'
      },
      scrolling : 'no',
      preload   : true
    },
    helpers : {
      overlay : {
        css : { 'overlay' : 'hidden' }
      }
    },
  });

</script>


<script type="text/javascript">
  $(document).ready(function() {

    if ((screen.width<=575.98)) {
      $(document).scroll(function () {
        var $nav = $(".logo img");
        $nav.toggleClass('hidden', $(this).scrollTop() > $nav.height());
      });
    }

  });
  $(document).ready(function() {


    $(document).scroll(function () {
      var $nav = $(".iden");
      $nav.toggleClass('hidden', $(this).scrollTop() > $nav.height());
    });


  });
</script>

<script type="text/javascript">
// product
$('.mn-product ul').hover(
function(){
  $('.bg-yellow').addClass('h-150x');
  $('.arrow-down').addClass('d-none');
},
function(){
  $('.bg-yellow').removeClass('h-150x');
  $('.arrow-down').removeClass('d-none');
},
);
  $('[product]').hover(
  function(){
    $('.bg-yellow').addClass('h-150x');
    $('.arrow-down').addClass('d-none');
  },
  function(){
    $('.bg-yellow').removeClass('h-150x');
      $('.arrow-down').addClass('d-none');
  },
  );

// requestsample
  $('.mn-requestsample ul').hover(
  function(){
    $('.bg-yellow').addClass('h-110x');
      $('.arrow-down').addClass('d-none');
  },
  function(){
    $('.bg-yellow').removeClass('h-110x');
      $('.arrow-down').removeClass('d-none');
  })
  $('[requestsample]').hover(
  function(){
    $('.bg-yellow').addClass('h-110x');
      $('.arrow-down').addClass('d-none');
  },
  function(){
    $('.bg-yellow').removeClass('h-110x');
    $('.arrow-down').removeClass('d-none');
  }
  );
//beaseller

  $('.mn-beaseller ul').hover(
  function(){
    $('.bg-yellow').addClass('h-120x');
      $('.arrow-down').addClass('d-none');
  },  function(){
      $('.bg-yellow').removeClass('h-120x');
      $('.arrow-down').removeClass('d-none');
    })
  $('[beaseller]').hover(
  function(){
    $('.bg-yellow').addClass('h-120x');
    $('.arrow-down').addClass('d-none');
  },
  function(){
    $('.bg-yellow').removeClass('h-120x');
    $('.arrow-down').removeClass('d-none');
  },
  );
  $('.mn-product-child').width($('.mn-product').width())
  $('.mn-requestsample-child').width($('.mn-requestsample').width())
  $('.mn-beaseller-child').width($('.mn-beaseller').width())

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=" crossorigin="anonymous"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d4da0c2eb1a6b0be606d0cc/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
